@import "../variables.scss";
@import "../mixins.scss";
.state-2-communicating {
  .ui-dial {
    pointer-events: none;
    &:before {
      opacity: 1;
    }
    .ui-dial {
      &-controls,
      &-handle {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}
.state-1-communicating {
  .ui-dial {
    pointer-events: none;
    &:after {
      opacity: 1;
    }
    .ui-dial {
      &-controls,
      &-handle {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}
.state-1 {
  .ui-dial {
    pointer-events: none;
    &:before {
      opacity: 1;
    }
    .ui-dial {
      &-controls,
      &-handle {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}
.ui-dial {
  margin: 0 auto 60px;
  background: url('/images/dial.png') top center no-repeat;
  width: 295px;
  height: 295px;
  position: relative;
  user-select: none;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 75px;
  }
  &.steps {
    background: url('/images/dial_heated_seats.png') top center/contain no-repeat;
  }
  &:after,
  &:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    background-image: url('/images/climate_dial_locked.png');
    transition: all 350ms $easeOutQuint;
    opacity: 0;
    z-index: 1;
  }
  &:after {
    background-image: url('/images/climate_dial_communicating.png');
  }
  &-handle {
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    background-color: #e0e0e0;
	  box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.44);
	  border: solid 10px #ffffff;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    margin: -15.5px 0 0 -15.5px;
    transform: rotate(-43deg) translate(-140px) rotate(43deg);
    transition: opacity 350ms $easeOutQuint;
    &-pin {
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      bottom: 0;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 130px;
        background: url('/images/dial_pin.png') center bottom/contain no-repeat;
        margin-top: -63px;
        transform-origin: bottom center;
      }
    }
  }
  &-value {
    display: none;
  }
  &.hot {
    &:before {
      background-image: url('/images/climate_dial_locked_hot.png');
    }
    &:after {
      background-image: url('/images/climate_dial_communicating_hot.png');
    }
    .ui-dial-temperateure {
      color: #de4e54;
    }
  }
  &.setting {
    .ui-dial-handle,
    .ui-dial-handle-pin {
      transition: all 550ms $easeOutQuint;
    }
  }
  &-temperateure {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateY(-10px) translateX(-5px);
    font: 500 70px/1em $kia;
    display: block;
    color: #56b5e4;
    transition: all 550ms $easeOutQuint;
    pointer-events: none;
    z-index: 2;
    .degree {
      position: absolute;
      font-size: 30px;
      left: 100%;
      top: -10px;
    }
  }
  &-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    display: block;
    width: 100%;
    transform: translateY(-20px);
    transition: opacity 350ms $easeOutQuint;
    pointer-events: none;
    z-index: 3;
    > span:not(.button) {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 20px;
      cursor: pointer;
      user-select: none;
      pointer-events: all;
      &:before {
        content: "+";
        font: 40px $kia;
        color: $red;
      }
      &.down {
        &:before {
          content: "-";
          color: #5bb1df;
        }
      }
    }
  }
  > div {
    opacity: 0;
    position: relative;
    canvas {
      border-radius: 100%;
    }
  }
  &.nuetral {
    .seat-status {
      > span {
        opacity: 0 !important;
        transition-delay: 250ms !important;
        &.seat-status-off {
          opacity: 1 !important;
          transition-delay: 0ms !important;
          z-index: 1;
        }
      }
    }
  }
  &.hot {
    .seat-status {
      > span {
        opacity: 0 !important;
        transition-delay: 250ms !important;
        &.seat-status-on.hot {
          opacity: 1 !important;
          transition-delay: 0ms !important;
          z-index: 1;
        }
      }
    }
  }
  .seat-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 71px;
    height: 145px;
    display: block;
    > span {
      transition: all 250ms $easeOutQuint 250ms;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #FFF url('/images/seat_off.png') center no-repeat;
      display: block;
      opacity: 0;
      &.seat-status-on.cold {
        opacity: 1;
        background-image: url('/images/seat_on_cold.png');
        transition-delay: 0ms;
      }
      &.seat-status-on.hot {
        background-image: url('/images/seat_on_hot.png')
      }
    }
  }
  &.speed {
    background-image: url('/images/dial_speed.png');
    .ui-dial {
      &-handle {
        transform: rotate(-43deg) translate(-145px) rotate(43deg);
        border-color: #000;
      }
      &-temperateure {
        font: bold 41px/1em $kia;
        letter-spacing: 2.7px;
        color: #000;
        transform: translate(-50%, -50%) translateY(45px);
        .mph {
          font: bold 15px/1em $kia;
          text-transform: uppercase;
          letter-spacing: 1px;
          display: block;
          color: #c1c1c1;
          padding-top: 1px;
        }
      }
      &-controls {
        transform: translateY(-50px);
        > * {
          margin: 0 60px;
          &:first-child {
            margin-left: 0px;
          }
          &:last-child {
            margin-right: 0px;
          }
          &:before,
          &:after {
            color: $red !important;
            line-height: 40px;
          }
        }
      }
    }
  }
}
