@import "../variables.scss";
@import "../mixins.scss";

.overview-maintenance {
  background: #ebebeb;
  margin-top: 35px;
  font-size: 0;
  padding-bottom: 40px;
  text-align: center;
  .contain {
    max-width: 870px;
    padding: 0 20px;
  }
  &-header {
    text-align: left;
    margin-bottom: 22px;
    padding: 26px 5px 0;
    > strong {
      display: block;
      font: bold 12px/1em $kia;
      letter-spacing: .3px;
      text-transform: uppercase;
    }
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 30px;
    .contain {
      padding: 0 10px;
    }
    &-header {
      padding: 18px 5px 0;
      margin-bottom: 15px;
    }
  }
}
