@import "../variables.scss";
@import "../mixins.scss";

.view-remote {
  .page-view-subnav-items {
    @media (max-width: $screen-sm-max) {
      max-width: 700px;
      margin: 0 auto;
      font-size: 0;
      li {
        width: 33.333%;
        margin: 0 auto !important;
      }
    }
  }
}

.remote-module {
  width: 100%;
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
  padding: 64px 0 0;
  width: 812px;
  margin: 0 auto;
  max-width: calc(100% - 100px);
  margin-top: 20px;
  position: relative;
  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
    max-width: calc(100% - 20px);
    .overview-remote-commands-header {
      .remote-commands-refresh {
        display: none;
      }
    }
  }
}
.overview-remote-commands-header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: block;
  z-index: 2;
  .open-info {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    border: solid 1px #4bbef0;
    border-radius: 100%;
    color: #4bbef0;
    text-align: center;
    font: 600 13px $sans;
    font-style: normal;
    padding-left: 1px;
    transition: all 250ms $easeOutQuint;
    cursor: pointer;
    &:hover {
      background: #4bbef0;
      color: $white;
    }
  }
  .remote-commands-refresh {

  }
}

.remote-body {
  position: relative;
  .remote-meta-column {
    position: absolute;
    left: 50%;
    transform: translateX(-150%) translateX(-3vw);
    padding-top: 50px;
    width: 190px;
    white-space: nowrap;
    &.right {
      left: auto;
      right: 50%;
      transform: translateX(150%) translateX(3vw);
      .remote-meta {
        padding-left: 40px;
        i {
          width: 20px;
        }
      }
    }
    > strong {
      display: block;
      font: bold 14px/1.5em $sans;
      letter-spacing: .4px;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 34px;
    }
    .remote-meta {
      padding-left: 75px;
      margin-bottom: 35px;
      position: relative;
      &:last-child {
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 0;
      }
      &:first-of-type {
        padding-bottom: 35px;
        border-bottom: solid 2px #d5d5d5;
      }
      i {
        position: absolute;
        display: block;
        width: 60px;
        height: 40px;
        left: 0;
      }
      strong {
        display: block;
        font: 500 19px $kia;
        letter-spacing: .5px;
        margin-bottom: 3px;
        color: #000;
      }
      em {
        display: block;
        font: bold 10px $kia;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #969696;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .remote-meta-column {
      width: 50%;
      transform: none !important;
      left: 0;
      text-align: center;
      padding: 30px 20px 0;
      padding-right: 60px;
      &.right {
        left: auto;
        right: 0;
        padding-right: 20px;
        padding-left: 60px;
      }
      > strong {
        display: none;
      }
      .remote-meta {
        padding-left: 0px !important;
        width: 80px;
        margin: 0 auto;
        border: none !important;
        white-space: normal;
        padding-top: 35px;
        i {
          width: 80px !important;
          height: 30px !important;
          top: 0;
        }
        strong {
          font: 500 11px $kia;
          margin-bottom: 6px;
        }
        em {
          font-size: 7px;
          letter-spacing: .7px;
        }
      }
    }
  }
}

.remote-footer {
  background: #444444;
  @media (max-width: $screen-xs-max) {
    padding-bottom: 10px;
  }
  &-caption {
    text-align: center;
    color: #808080;
    font: 11px $sans;
    letter-spacing: .3px;
    padding: 0 50px;
    padding-bottom: 22px;
    strong {
      font-weight: bold;
      text-transform: uppercase;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 6px;
      position: relative;
      top: -1px;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .overview-remote-command {
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-shadow: none;
    background: transparent;
    overflow: visible;
    &.communicating {
      pointer-events: none;
      .action-buttons,
      .action-buttons .action-button,
      * {
        pointer-events: none !important;
      }
    }
    &.state-1-communicating {
      .action-buttons {
        .state-3,
        .state-2 {
          opacity: .5 !important;
        }
      }
    }
    &.state-2-communicating {
      .action-buttons {
        .state-3,
        .state-1 {
          opacity: .5 !important;
        }
      }
    }
    &.state-3-communicating {
      .action-buttons {
        .state-2,
        .state-1 {
          opacity: .5 !important;
        }
      }
    }
    &.state-1-communicating,
    &.state-2 {
      .action-buttons {
        .state-1 {
          background: #8ec439 !important;
          &:hover {
            background: darken(#8ec439, 10%) !important;
          }
        }
      }
    }
    &.state-2-communicating,
    &.state-1 {
      .action-buttons {
        .state-2 {
          background: #f23f3f !important;
          &:hover {
            background: darken(#f23f3f, 10%) !important;
          }
        }
      }
    }
    &.state-2-communicating {
      .action-buttons {
        .action-button.state-2 {
          color: rgba(0, 0, 0, 0);
          > i {
            opacity: 0;
          }
          .spinner {
            opacity: 1;
          }
        }
      }
    }
    &.state-1-communicating {
      .action-buttons {
        .action-button.state-1 {
          color: rgba(0, 0, 0, 0);
          > i {
            opacity: 0;
          }
          .spinner {
            opacity: 1;
          }
        }
      }
    }
    &.state-3-communicating {
      .action-buttons {
        .action-button.state-3 {
          color: rgba(0, 0, 0, 0);
          > i {
            opacity: 0;
          }
          .spinner {
            opacity: 1;
          }
        }
      }
    }
    &-icon {
      top: 0;
      transform: translate(-50%, -50%);
      .icon-remote {
        transform: translate(-50%, -50%) !important;
        opacity: 1 !important;
      }
      .spinner {
        display: none;
      }
    }
    &-header {
      position: relative;
      .transitioning-messages,
      &-state {
        top: 25px;
        > span {
          color: $white;
          font: 500 20px $kia;
          letter-spacing: 1px;
          text-transform: none;
          @media (max-width: $screen-xs-max) {
            font-size: 14px;
            letter-spacing: .7px;
          }
        }
      }
    }
    &-actions {
      .action-buttons {
        text-align: center;
        line-height: normal !important;
        opacity: 1 !important;
        .action-button {
          display: inline-block;
          width: 122px;
          position: relative;
          height: 40px;
          line-height: 40px !important;
          background: #272727;
          margin: 0 9px;
          border-radius: 2px;
          > i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
            position: relative;
            top: -2px;
            transition: all 250ms $easeOutQuint;
          }
          .spinner {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 17px;
            width: 17px;
            pointer-events: none;
            opacity: 0;
            transition: all 250ms $easeOutQuint;
            i {
              position: relative;
              top: -7px;
            }
          }
          &:hover {
            background: darken(#272727, 10%);
          }
          &:after {
            display: none !important;
          }
        }
      }
    }
  }
}

.remote-battery {
  padding-bottom: 65px;
  .battery {
    height: 310px;
    width: 210px;
    background: url('/images/battery_shell.svg') center/contain no-repeat;
    margin: 0 auto;
    position: relative;
    @for $i from 1 through 100 {
      &.percentage-#{$i}) {
        @if $i < 5 {
          background-image: url('/images/battery_shell.svg')
        }
        @if $i > 4 {
          background-image: url('/images/battery-states/5.svg')
        }
        @if $i > 9 {
          background-image: url('/images/battery-states/10.svg')
        }
        @if $i > 14 {
          background-image: url('/images/battery-states/15.svg')
        }
        @if $i > 19 {
          background-image: url('/images/battery-states/20.svg')
        }
        @if $i > 24 {
          background-image: url('/images/battery-states/25.svg')
        }
        @if $i > 29 {
          background-image: url('/images/battery-states/30.svg')
        }
        @if $i > 34 {
          background-image: url('/images/battery-states/35.svg')
        }
        @if $i > 39 {
          background-image: url('/images/battery-states/40.svg')
        }
        @if $i > 44 {
          background-image: url('/images/battery-states/45.svg')
        }
        @if $i > 49 {
          background-image: url('/images/battery-states/50.svg')
        }
        @if $i > 54 {
          background-image: url('/images/battery-states/55.svg')
        }
        @if $i > 59 {
          background-image: url('/images/battery-states/60.svg')
        }
        @if $i > 64 {
          background-image: url('/images/battery-states/65.svg')
        }
        @if $i > 69 {
          background-image: url('/images/battery-states/70.svg')
        }
        @if $i > 74 {
          background-image: url('/images/battery-states/75.svg')
        }
        @if $i > 79 {
          background-image: url('/images/battery-states/80.svg')
        }
        @if $i > 84 {
          background-image: url('/images/battery-states/85.svg')
        }
        @if $i > 89 {
          background-image: url('/images/battery-states/90.svg')
        }
        @if $i > 94 {
          background-image: url('/images/battery-states/95.svg')
        }
        @if $i > 95 {
          background-image: url('/images/battery-states/100.svg')
        }
      }
    }
    .percentage {
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      font: 40px/1em $sans;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      letter-spacing: 2px;
      padding-left: 20px;
      sub {
        vertical-align: bottom;
        position: relative;
        top: -15px;
        font-size: 30px;
        margin-left: 2px;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 28px;
    .battery {
      width: 120px;
      height: 205px;
      .percentage {
        font-size: 25px;
        padding-left: 10px;
        sub {
          font-size: 18px;
          top: -8px;
        }
      }
    }
  }
}

.remote-footer-cards {
  width: 700px;
  max-width: calc(100% - 100px);
  margin: 0 auto;
  padding-top: 46px;
  padding-top: 50px;;
  @media (max-width: $screen-xs-max) {
    padding-top: 9px;
    max-width: calc(100% - 20px);
  }
  .remote-footer-card {
    height: 190px;
    box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
    border-radius: 3px;
    margin-bottom: 30px;
    background: $white;
    position: relative;
    @media (max-width: $screen-xs-max) {
      height: 72px;
      overflow: hidden;
      text-align: left;
      margin-bottom: 6px;
    }
    i.icon-arrow-right {
      position: absolute !important;
      right: 15px !important;
      left: auto !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
      display: none !important;
      @media (max-width: $screen-xs-max) {
        display: block !important;
      }
    }
    &.charging-etiquette,
    &.find-charge-station {
      text-align: center;
      background: url('/images/bkg_find-charge-station-card.png') center/cover no-repeat;
      color: $white;
      padding-top: 14px;
      i {
        display: block;
        margin:  0 auto;
        margin-bottom: 10px;
      }
      strong {
        display: block;
        max-width: 190px;
        margin: 0 auto 19px;
        font: 500 18px $kia;
        letter-spacing: .5px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 70px;
        text-align: left;
        i {
          position: absolute;
          width: 19px;
          height: 29px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
        strong {
          margin: 0;
          font-size: 13px;
          letter-spacing: .3px;
          max-width: 150px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .button {
          display: none;
        }
        p {
          display: none;
        }
      }
    }
    &.charging-etiquette {
      padding-top: 36px;
      background-image: url('/images/bkg_charging_etiquette.png');
      strong {
        max-width: 100%;
        margin-bottom: 9px;
      }
      p {
        max-width: 277px;
        margin: 0 auto 18px;
        font: 14px/1.5em $sans;
        letter-spacing: .6px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 20px;
        strong {
          font-size: 16px;
          letter-spacing: .4px;
          max-width: 300px;
        }
      }
    }
    &.charge-schedule {
      padding-left: 97px;
      padding-top: 43px;
      > i {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%) translateY(10px);
      }
      p {
        font: 16px/1.44em $sans;
        letter-spacing: .4px;
        margin-bottom: 24px;
        strong {
          display: block;
        }
      }
      a {
        color: $red;
        font: bold 11px/1em $kia;
        text-transform: uppercase;
        letter-spacing: .7px;
        i {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -2px;
          margin-right: 10px;
        }
      }
      @media (max-width: $screen-xs-max) {
        padding-top: 0;
        height: 80px;
        > i {
          transform: translateY(-50%) translateY(2px);
        }
        p {
          position: absolute;
          left: 72px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 13px;
          letter-spacing: .3px;
          line-height: normal;
          max-width: 173px;
        }
        a {
          display: none;
        }
      }
    }
    &.no-charge-schedule {
      i {
        display: block;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
      strong {
        top: 50%;
        left: 137px;
        position: absolute;
        transform: translateY(-50%);
        width: 142px;
        font: 500 16px $kia;
        letter-spacing: .4px;
        color: #a9a9a9;
      }
      @media (max-width: $screen-xs-max) {
        i {
          left: 11px;
        }
        strong {
          left: 66px;
          font-size: 13px;
          letter-spacing: .3px;
          width: 120px;
        }
      }
    }
  }
}

.remote-security {
  .remote-body {
    text-align: center;
    img {
      max-width: calc(100% - 10px);
    }
  }
}

.overview-remote-command.remote-command-security {
  &.state-2-communicating,
  &.state-1 {
    .action-buttons {
      .state-2 {
        background: #8ec439 !important;
        &:hover {
          background: darken(#8ec439, 10%) !important;
        }
      }
      .state-3,
      .state-1 {
         background: #272727 !important;
         &:hover {
           background: darken(#272727, 10%) !important;
         }
      }
    }
  }
  &.state-1-communicating,
  &.state-2 {
    .action-buttons {
      .state-1 {
        background: #8ec439 !important;
        &:hover {
          background: darken(#8ec439, 10%) !important;
        }
      }
      .state-3,
      .state-2 {
         background: #272727 !important;

         &:hover {
           background: darken(#272727, 10%) !important;
         }
      }
    }
  }
  .action-buttons {
    .state-3 {
      padding: 0;
      width: 64px;
      i {
        margin: 0;
      }
    }
    @media (max-width: $screen-xs-max) {
      .action-button {
        margin: 0 2.5px;
        &:first-child {
          margin-left: 0px !important
        }
        &:last-child {
          margin-left: 0px !important
        }
      }
    }
    @media (max-width: 375px) {
      white-space: nowrap;
      .action-button:not(.state-3) {
        width: 100px;
      }
    }
  }
}

.icon-gas-battery {
  background: url('/images/icon_gas_battery.svg') center no-repeat;
}
.icon-battery-small {
  background: url('/images/icon_battery_small.svg') center no-repeat;
}
.icon-clock {
  background: url('/images/icon_clock.svg') center no-repeat;
}
.icon-charge-bolt-small {
  background: url('/images/icon_charge_bolt_small.svg') center no-repeat;
}
.icon-bolt {
  background: url('/images/icon_charge_white.svg') center/contain no-repeat;
  height: 20px;
  width: 9px;
}
.icon-stop {
  background: url('/images/icon_stop.svg') center/contain no-repeat;
  height: 15px;
  width: 15px;
}
.icon-cog-white {
  background: url('/images/icon_cog_white.svg') center/contain no-repeat;
  height: 14px;
  width: 14px;
}
.icon-card-charge-station-pin {
  background: url('/images/icon_charging_pin_card.svg') center/contain no-repeat;
  height: 40px;
  width: 27px;
}
.icon-3d-battery {
  background: url('/images/icon_3d_battery_small.svg') center/contain no-repeat;
  width: 70px;
  height: 115px;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    height: 55px;
  }
}
.icon-calendar-small {
  background: url('/images/icon_calendar_red_small.svg') center/contain no-repeat;
  width: 14px;
  height: 15px;
}
.icon-no-charge-schedule {
  background: url('/images/icon_no_charge_schedule.svg') center/contain no-repeat;
  width: 83px;
  height: 83px;
  @media (max-width: $screen-xs-max) {
    width: 42px;
    height: 42px;
  }
}
.icon-arrow-right {
  background: url('/images/icon_arrow_right_dark.svg') center/contain no-repeat;
  width: 11px !important;
  height: 15px !important;
  &.white {
    background: url('/images/icon_arrow_right_white.svg') center/contain no-repeat;
  }
}

.icon-lock-dark {
  background: url('/images/icon_locked_dark.svg') center/contain no-repeat;
  width: 18px;
  height: 23px;
  &.state-1 {
    background-image: url('/images/icon_unlocked_dark.svg');
  }
}
.icon-horn {
  background: url('/images/icon_horn.svg') center/contain no-repeat;
  width: 35px;
  height: 18px;
}
.icon-lock-white {
  background: url('/images/icon_locked_white.svg') center/contain no-repeat;
  width: 12px;
  height: 14px;
}
.icon-unlock-white {
  background: url('/images/icon_unlock_white.svg') center/contain no-repeat;
  width: 12px;
  height: 14px;
}
