@import "../variables.scss";
@import "../mixins.scss";

.remote-module {
  width: 100%;
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
  padding: 64px 0 0;
  width: 812px;
  margin: 0 auto;
  max-width: calc(100% - 100px);
  margin-top: 20px;
  position: relative;
  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
    max-width: calc(100% - 20px);
    .overview-remote-commands-header {
      .remote-commands-refresh {
        display: none;
      }
    }
  }
}
.overview-remote-commands-header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: block;
  .open-info {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    border: solid 1px #4bbef0;
    border-radius: 100%;
    color: #4bbef0;
    text-align: center;
    font: 600 13px $sans;
    font-style: normal;
    padding-left: 1px;
    transition: all 250ms $easeOutQuint;
    cursor: pointer;
    &:hover {
      background: #4bbef0;
      color: $white;
    }
  }
  .remote-commands-refresh {

  }
}

.remote-body {
  position: relative;
  .remote-meta-column {
    position: absolute;
    left: 50%;
    transform: translateX(calc(-150% - 3vw));
    padding-top: 50px;
    width: 190px;
    white-space: nowrap;
    &.right {
      left: auto;
      right: 50%;
      transform: translateX(calc(150% + 3vw));
      .remote-meta {
        padding-left: 40px;
        i {
          width: 20px;
        }
      }
    }
    > strong {
      display: block;
      font: bold 14px/1.5em $sans;
      letter-spacing: .4px;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 34px;
    }
    .remote-meta {
      padding-left: 75px;
      margin-bottom: 35px;
      position: relative;
      &:last-child {
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 0;
      }
      &:first-of-type {
        padding-bottom: 35px;
        border-bottom: solid 2px #d5d5d5;
      }
      i {
        position: absolute;
        display: block;
        width: 60px;
        height: 40px;
        left: 0;
      }
      strong {
        display: block;
        font: 500 19px $kia;
        letter-spacing: .5px;
        margin-bottom: 3px;
        color: #000;
      }
      em {
        display: block;
        font: bold 10px $kia;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #969696;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .remote-meta-column {
      width: 50%;
      transform: none !important;
      left: 0;
      text-align: center;
      padding: 30px 20px 0;
      padding-right: 60px;
      &.right {
        left: auto;
        right: 0;
        padding-right: 20px;
        padding-left: 60px;
      }
      > strong {
        display: none;
      }
      .remote-meta {
        padding-left: 0px !important;
        width: 80px;
        margin: 0 auto;
        border: none !important;
        white-space: normal;
        padding-top: 35px;
        i {
          width: 80px !important;
          height: 30px !important;
          top: 0;
        }
        strong {
          font: 500 11px $kia;
          margin-bottom: 6px;
        }
        em {
          font-size: 7px;
          letter-spacing: .7px;
        }
      }
    }
  }
}

.remote-footer {
  background: #444444;
  @media (max-width: $screen-xs-max) {
    padding-bottom: 10px;
  }
  &-caption {
    text-align: center;
    color: #808080;
    font: 11px $sans;
    letter-spacing: .3px;
    padding: 0 50px;
    padding-bottom: 22px;
    strong {
      font-weight: bold;
      text-transform: uppercase;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 6px;
      position: relative;
      top: -1px;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .overview-remote-command {
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-shadow: none;
    background: transparent;
    overflow: visible;
    &.communicating {
      pointer-events: none;
      .action-buttons,
      .action-buttons .action-button,
      * {
        pointer-events: none !important;
      }
    }
    &.state-1-communicating {
      .action-buttons {
        .state-2 {
          opacity: .5 !important;
        }
      }
    }
    &.state-2-communicating {
      .action-buttons {
        .state-1 {
          opacity: .5 !important;
        }
      }
    }
    &.state-1-communicating,
    &.state-2 {
      .action-buttons {
        .state-1 {
          background: #8ec439 !important;
          &:hover {
            background: darken(#8ec439, 10%) !important;
          }
        }
      }
    }
    &.state-2-communicating,
    &.state-1 {
      .action-buttons {
        .state-2 {
          background: #f23f3f !important;
          &:hover {
            background: darken(#f23f3f, 10%) !important;
          }
        }
      }
    }
    &.state-2-communicating {
      .action-buttons {
        .action-button.state-2 {
          color: rgba(0, 0, 0, 0);
          > i {
            opacity: 0;
          }
          .spinner {
            opacity: 1;
          }
        }
      }
    }
    &.state-1-communicating {
      .action-buttons {
        .action-button.state-1 {
          color: rgba(0, 0, 0, 0);
          > i {
            opacity: 0;
          }
          .spinner {
            opacity: 1;
          }
        }
      }
    }
    &-icon {
      top: 0;
      transform: translate(-50%, -50%);
      .icon-remote {
        transform: translate(-50%, -50%) !important;
        opacity: 1 !important;
      }
      .spinner {
        display: none;
      }
    }
    &-header {
      position: relative;
      .transitioning-messages,
      &-state {
        top: 25px;
        > span {
          color: $white;
          font: 500 20px $kia;
          letter-spacing: 1px;
          text-transform: none;
          @media (max-width: $screen-xs-max) {
            font-size: 14px;
            letter-spacing: .7px;
          }
        }
      }
    }
    &-actions {
      .action-buttons {
        text-align: center;
        line-height: normal !important;
        opacity: 1 !important;
        .action-button {
          display: inline-block;
          width: 122px;
          position: relative;
          height: 40px;
          line-height: 40px !important;
          background: #272727;
          margin: 0 9px;
          > i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
            position: relative;
            top: -2px;
            transition: all 250ms $easeOutQuint;
          }
          .spinner {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 17px;
            width: 17px;
            pointer-events: none;
            opacity: 0;
            transition: all 250ms $easeOutQuint;
            i {
              position: relative;
              top: -7px;
            }
          }
          &:hover {
            background: darken(#272727, 10%);
          }
          &:after {
            display: none !important;
          }
        }
      }
    }
  }
}

.remote-battery {
  padding-bottom: 65px;
  .battery {
    height: 310px;
    width: 210px;
    background: url('/images/battery_shell.svg') center/contain no-repeat;
    margin: 0 auto;
    position: relative;
    .percentage {
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      font: 40px/1em $sans;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      letter-spacing: 2px;
      padding-left: 20px;
      sub {
        vertical-align: bottom;
        position: relative;
        top: -15px;
        font-size: 30px;
        margin-left: 2px;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 28px;
    .battery {
      width: 120px;
      height: 205px;
      .percentage {
        font-size: 25px;
        padding-left: 10px;
        sub {
          font-size: 18px;
          top: -8px;
        }
      }
    }
  }
}

.icon-gas-battery {
  background: url('/images/icon_gas_battery.svg') center no-repeat;
}
.icon-battery-small {
  background: url('/images/icon_battery_small.svg') center no-repeat;
}
.icon-clock {
  background: url('/images/icon_clock.svg') center no-repeat;
}
.icon-charge-bolt-small {
  background: url('/images/icon_charge_bolt_small.svg') center no-repeat;
}
.icon-bolt {
  background: url('/images/icon_charge_white.svg') center/contain no-repeat;
  height: 20px;
  width: 9px;
}
.icon-stop {
  background: url('/images/icon_stop.svg') center/contain no-repeat;
  height: 15px;
  width: 15px;
}
.icon-cog-white {
  background: url('/images/icon_cog_white.svg') center/contain no-repeat;
  height: 14px;
  width: 14px;
}
