@import "../variables.scss";
@import "../mixins.scss";

body.refreshing {
  .view-remote {
    .remote-body {
      .ui-dial {
        pointer-events: none;
        * {
          pointer-events: none !important;
        }
      }
      .toggle {
        opacity: .5;
        pointer-events: none;
      }
    }
    .overview-remote-command {
      .action-buttons {
        .action-button {
          pointer-events: none !important;
          opacity: .5 !important;
        }
      }
    }
  }
}

.view-remote {
  .page-view-subnav-items {
    @media (max-width: $screen-sm-max) {
      max-width: 700px;
      margin: 0 auto;
      font-size: 0;
      li {
        width: 33.333%;
        margin: 0 auto !important;
      }
    }
  }
}

.remote-module {
  width: 100%;
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
  padding: 64px 0 0;
  width: 812px;
  margin: 0 auto;
  max-width: calc(100% - 100px);
  margin-top: 20px;
  position: relative;
  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
    max-width: calc(100% - 20px);
    .overview-remote-commands-header {
      .remote-commands-refresh {
        display: none;
      }
    }
  }
}
.overview-remote-commands-header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: block;
  z-index: 2;
  .open-info {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: solid 1px #4bbef0;
    border-radius: 100%;
    color: #4bbef0;
    text-align: center;
    font: 600 13px $sans;
    font-style: normal;
    letter-spacing: normal;
    padding-left: 1px;
    transition: all 250ms $easeOutQuint;
    cursor: pointer;
    position: relative;
    z-index: 5;
    &:hover {
      background: #4bbef0;
      color: $white;
    }
  }
  .remote-commands-refresh {

  }
}

.remote-body {
  position: relative;
  overflow: hidden;
  .remote-meta-column {
    position: absolute;
    left: 50%;
    transform: translateX(-150%) translateX(-3vw);
    padding-top: 50px;
    width: 190px;
    white-space: nowrap;
    &.right {
      left: auto;
      right: 50%;
      transform: translateX(150%) translateX(3vw);
      .remote-meta {
        padding-left: 40px;
        i {
          width: 20px;
        }
      }
    }
    > strong {
      display: block;
      font: bold 14px/1.5em $sans;
      letter-spacing: .4px;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 34px;
    }
    .remote-meta {
      padding-left: 75px;
      margin-bottom: 35px;
      position: relative;
      &:last-child {
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 0;
      }
      &:first-of-type {
        padding-bottom: 35px;
        border-bottom: solid 2px #d5d5d5;
      }
      i {
        position: absolute;
        display: block;
        width: 60px;
        height: 40px;
        left: 0;
      }
      strong {
        display: block;
        font: 500 19px $kia;
        letter-spacing: .5px;
        margin-bottom: 3px;
        color: #000;
      }
      em {
        display: block;
        font: bold 10px $kia;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #969696;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .remote-meta-column {
      width: 50%;
      transform: none !important;
      left: 0;
      text-align: center;
      padding: 30px 20px 0;
      padding-right: 60px;
      &.right {
        left: auto;
        right: 0;
        padding-right: 20px;
        padding-left: 60px;
      }
      > strong {
        display: none;
      }
      .remote-meta {
        padding-left: 0px !important;
        width: 80px;
        margin: 0 auto;
        border: none !important;
        white-space: normal;
        padding-top: 35px;
        i {
          width: 80px !important;
          height: 30px !important;
          top: 0;
        }
        strong {
          font: 500 11px $kia;
          margin-bottom: 6px;
        }
        em {
          font-size: 7px;
          letter-spacing: .7px;
        }
      }
    }
  }
}

.remote-footer {
  background: #444444;
  position: relative;
  @media (max-width: $screen-xs-max) {
    padding-bottom: 10px;
  }
  &-caption {
    text-align: center;
    color: #808080;
    font: 11px $sans;
    letter-spacing: .3px;
    padding: 0 50px;
    padding-bottom: 22px;
    strong {
      font-weight: bold;
      text-transform: uppercase;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 6px;
      position: relative;
      top: -1px;
    }
    @media (max-width: $screen-xs-max) {
      text-align: left;
      width: 265px;
      margin: 5px auto;
      padding: 0;
      padding-right: 30px;
      position: relative;
      strong {
        display: block;
      }
      i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
  .overview-remote-command {
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-shadow: none;
    background: transparent;
    overflow: visible;
    position: relative;

    &.communicating {
      pointer-events: none;
      .action-buttons,
      .action-buttons .action-button,
      * {
        pointer-events: none !important;
      }
    }
    &.state-1-communicating {
      .action-buttons {
        .state-3,
        .state-2 {
          opacity: .5 !important;
        }
      }
    }
    &.state-2-communicating {
      .action-buttons {
        .state-3,
        .state-1 {
          opacity: .5 !important;
        }
      }
    }
    &.state-3-communicating {
      .action-buttons {
        .state-2,
        .state-1 {
          opacity: .5 !important;
        }
      }
    }
    &.state-1-communicating,
    &.state-2 {
      .action-buttons {
        .state-1 {
          background: #8ec439 !important;
          &:hover {
            background: darken(#8ec439, 10%) !important;
          }
        }
      }
    }
    &.state-2-communicating,
    &.state-1 {
      .action-buttons {
        .state-2 {
          background: #f23f3f !important;
          &:hover {
            background: darken(#f23f3f, 10%) !important;
          }
        }
      }
    }
    &.state-2-communicating {
      .action-buttons {
        .action-button.state-2 {
          color: rgba(0, 0, 0, 0);
          > i {
            opacity: 0;
          }
          .spinner {
            opacity: 1;
          }
        }
      }
    }
    &.state-1-communicating {
      .action-buttons {
        .action-button.state-1 {
          color: rgba(0, 0, 0, 0);
          > i {
            opacity: 0;
          }
          .spinner {
            opacity: 1;
          }
        }
      }
    }
    &.state-3-communicating {
      .action-buttons {
        .action-button.state-3 {
          color: rgba(0, 0, 0, 0);
          > i {
            opacity: 0;
          }
          .spinner {
            opacity: 1;
          }
        }
      }
    }
    &-icon {
      top: 0;
      transform: translate(-50%, -50%);
      z-index: 11;
      .icon-remote {
        transform: translate(-50%, -50%) !important;
        opacity: 1 !important;
      }
      .spinner {
        display: none;
      }
    }
    &-header {
      position: relative;
      .transitioning-messages,
      &-state {
        top: 25px;
        > span {
          color: $white;
          font: 500 20px $kia;
          letter-spacing: 1px;
          text-transform: none;
          @media (max-width: $screen-xs-max) {
            font-size: 14px;
            letter-spacing: .7px;
          }
        }
      }
    }
    &-actions {
      .action-buttons {
        text-align: center;
        line-height: normal !important;
        opacity: 1 !important;
        .action-button {
          display: inline-block;
          width: 122px;
          position: relative;
          height: 40px;
          line-height: 40px !important;
          background: #272727;
          margin: 0 9px;
          border-radius: 2px;
          > i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
            position: relative;
            top: -2px;
            transition: all 250ms $easeOutQuint;
          }
          .spinner {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 17px;
            width: 17px;
            pointer-events: none;
            opacity: 0;
            transition: all 250ms $easeOutQuint;
            i {
              position: relative;
              top: -7px;
            }
          }
          &:hover {
            background: darken(#272727, 10%);
          }
          &:after {
            display: none !important;
          }
        }
      }
    }
  }
}

.remote-battery {
  padding-bottom: 65px;
  .battery {
    height: 310px;
    width: 210px;
    background: url('/images/battery_shell.svg') center/contain no-repeat;
    margin: 0 auto;
    position: relative;
    @for $i from 1 through 100 {
      &.percentage-#{$i}) {
        @if $i < 5 {
          background-image: url('/images/battery_shell.svg')
        }
        @if $i > 4 {
          background-image: url('/images/battery-states/5.svg')
        }
        @if $i > 9 {
          background-image: url('/images/battery-states/10.svg')
        }
        @if $i > 14 {
          background-image: url('/images/battery-states/15.svg')
        }
        @if $i > 19 {
          background-image: url('/images/battery-states/20.svg')
        }
        @if $i > 24 {
          background-image: url('/images/battery-states/25.svg')
        }
        @if $i > 29 {
          background-image: url('/images/battery-states/30.svg')
        }
        @if $i > 34 {
          background-image: url('/images/battery-states/35.svg')
        }
        @if $i > 39 {
          background-image: url('/images/battery-states/40.svg')
        }
        @if $i > 44 {
          background-image: url('/images/battery-states/45.svg')
        }
        @if $i > 49 {
          background-image: url('/images/battery-states/50.svg')
        }
        @if $i > 54 {
          background-image: url('/images/battery-states/55.svg')
        }
        @if $i > 59 {
          background-image: url('/images/battery-states/60.svg')
        }
        @if $i > 64 {
          background-image: url('/images/battery-states/65.svg')
        }
        @if $i > 69 {
          background-image: url('/images/battery-states/70.svg')
        }
        @if $i > 74 {
          background-image: url('/images/battery-states/75.svg')
        }
        @if $i > 79 {
          background-image: url('/images/battery-states/80.svg')
        }
        @if $i > 84 {
          background-image: url('/images/battery-states/85.svg')
        }
        @if $i > 89 {
          background-image: url('/images/battery-states/90.svg')
        }
        @if $i > 94 {
          background-image: url('/images/battery-states/95.svg')
        }
        @if $i > 95 {
          background-image: url('/images/battery-states/100.svg')
        }
      }
    }
    .percentage {
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      font: 40px/1em $sans;
      color: $white;
      top: 50%;
      transform: translateY(-50%);
      letter-spacing: 2px;
      padding-left: 20px;
      sub {
        vertical-align: bottom;
        position: relative;
        top: -15px;
        font-size: 30px;
        margin-left: 2px;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    padding-bottom: 28px;
    .battery {
      width: 120px;
      height: 205px;
      .percentage {
        font-size: 25px;
        padding-left: 10px;
        sub {
          font-size: 18px;
          top: -8px;
        }
      }
    }
  }
}

.remote-footer-cards {
  width: 700px;
  max-width: calc(100% - 100px);
  margin: 0 auto;
  padding-top: 46px;
  padding-top: 50px;;
  @media (max-width: $screen-xs-max) {
    padding-top: 9px;
    max-width: calc(100% - 20px);
    margin-bottom: -33px;
  }
  .remote-footer-card {
    height: 190px;
    box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
    border-radius: 3px;
    margin-bottom: 30px;
    background: $white;
    position: relative;
    @media (max-width: $screen-xs-max) {
      height: 72px;
      overflow: hidden;
      text-align: left;
      margin-bottom: 6px;
    }
    i.icon-arrow-right {
      position: absolute !important;
      right: 15px !important;
      left: auto !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
      display: none !important;
      @media (max-width: $screen-xs-max) {
        display: block !important;
      }
    }
    &.charging-etiquette,
    &.find-charge-station {
      text-align: center;
      background: url('/images/bkg_find-charge-station-card.png') center/cover no-repeat;
      color: $white;
      padding-top: 14px;
      i {
        display: block;
        margin:  0 auto;
        margin-bottom: 10px;
      }
      strong {
        display: block;
        max-width: 190px;
        margin: 0 auto 19px;
        font: 500 18px $kia;
        letter-spacing: .5px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 70px;
        text-align: left;
        i {
          position: absolute;
          width: 19px;
          height: 29px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
        strong {
          margin: 0;
          font-size: 13px;
          letter-spacing: .3px;
          max-width: 150px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .button {
          display: none;
        }
        p {
          display: none;
        }
      }
    }
    &.charging-etiquette {
      padding-top: 36px;
      background-image: url('/images/bkg_charging_etiquette.png');
      strong {
        max-width: 100%;
        margin-bottom: 9px;
      }
      p {
        max-width: 277px;
        margin: 0 auto 18px;
        font: 14px/1.5em $sans;
        letter-spacing: .6px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 20px;
        strong {
          font-size: 16px;
          letter-spacing: .4px;
          max-width: 300px;
        }
      }
    }
    &.climate-schedule,
    &.charge-schedule {
      padding-left: 97px;
      padding-top: 43px;
      > i {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%) translateY(10px);
      }
      p {
        font: 16px/1.44em $sans;
        letter-spacing: .4px;
        margin-bottom: 24px;
        strong {
          display: block;
        }
      }
      a {
        color: $red;
        font: bold 11px/1em $kia;
        text-transform: uppercase;
        letter-spacing: .7px;
        i {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -2px;
          margin-right: 10px;
        }
      }
      @media (max-width: $screen-xs-max) {
        padding-top: 0;
        height: 80px;
        > i {
          transform: translateY(-50%) translateY(2px);
        }
        p {
          position: absolute;
          left: 72px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 13px;
          letter-spacing: .3px;
          line-height: normal;
          max-width: 173px;
        }
        a {
          display: none;
        }
      }
    }

    &.climate-schedule {
      p {
        padding-right: 35px;
        strong {
          display: inline-block;
        }
      }
      > i {
        text-align: center;
        padding-left: 5px;
        font: bold 18px/57px $kia;
        transform: translateY(-50%);
        sup {
          position: relative;
          font-size: 12px;
          top: -5px;
        }
      }
      @media (max-width: $screen-xs-max) {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        padding-left: 80px;
        > i {
          line-height: 47px;
          padding-left: 2.5px;
        }
        p {
          position: relative;
          transform: none;
          left: 0;
          margin-bottom: 0;
          padding-right: 10px;
        }
      }
    }
    &.no-climate-schedule,
    &.no-charge-schedule {
      i {
        display: block;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
      strong {
        top: 50%;
        left: 137px;
        position: absolute;
        transform: translateY(-50%);
        width: 142px;
        font: 500 16px $kia;
        letter-spacing: .4px;
        color: #a9a9a9;
      }
      @media (max-width: $screen-xs-max) {
        i {
          left: 11px;
        }
        strong {
          left: 66px;
          font-size: 13px;
          letter-spacing: .3px;
          width: 120px;
        }
      }
    }
    &.weather-card {
      padding-left: 164px;
      padding-top: 23px;
      > i {
        display: block;
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
      }
      strong {
        display: block;
        font: 500 51px $kia;
        letter-spacing: 1.3px;
        sup {
          font-size: 25px;
          position: relative;
          display: inline-block;
          transform: translateY(-5px);
        }
      }
      em {
        display: block;
        padding-right: 10px;
        font: 500 normal 16px $kia;
        letter-spacing: .4px;
        margin-bottom: 26px;
      }
      span {
        display: block;
        max-width: 115px;
        font: 14px $sans;
        letter-spacing: .4px;
        color: #a2a9ad;
        padding-top: 18px;
        border-top: solid 2px #e2e2e2;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 162px;
        padding-top: 20px;
        > i {
          left: 11px;
        }
        strong {
          position: absolute;
          left: 80px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 41px;
          letter-spacing: 1.1px;
          line-height: 1em;
        }
        em {
          margin-bottom: 0;
          font-size: 14px;
          letter-spacing: .4px;
          margin-bottom: 5px;
        }
        span {
          padding-top: 3px;
          font-size: 12px;
          letter-spacing: .3px;
        }
      }
    }
  }
}

.remote-security {
  .remote-body {
    text-align: center;
    img {
      max-width: calc(100% - 10px);
      pointer-events: none !important;
    }
  }
}
.remote-security {
    .remote-body {
        // sets container position
        .remote-vehicle {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom:: 65%;
            @media(min-width: 768px) {
                padding-bottom:: 63%;
            }
            // section layers
            .remote-vehicle-base,
            .remote-vehicle-body,
            .remote-vehicle-options-layer {
                position: absolute;
            }
            // options layers container
            .remote-vehicle-options-layer {
                width: 100%;
                // options layers
                .remote-vehicle-top {
                    position: relative;
                    .vehicle-hood,
                    .vehicle-back-diver,
                    .vehicle-front-driver,
                    .vehicle-front-passenger,
                    .vehicle-back-passenger,
                    .vehicle-trunk {
                        position: absolute;
                    }
                }
            }
        }
    }
}

.remote-vehicle-base {
    .all-doors-closed {
        display: block;
    }
    .open-front-door,
    .open-back-door,
    .open-both-doors {
        display: none;
    }
    &.open-front-only,
    &.open-back-only,
    &.open-both  {
        .all-doors-closed {
            display: none;
        }
    }

    &.open-front-only {
        .open-front-door {
            display: block;
        }
    }

    &.open-back-only {
        .open-back-door {
            display: block;
        }
    }

    &.open-both {
        .open-both-doors {
            display: block;
        }
    }

}

.vehicle-hood,
.vehicle-trunk,
.vehicle-front-passenger,
.vehicle-back-passenger,
.vehicle-back-diver,
.vehicle-front-driver {
    .closed-view {
        display: block;
    }
    .opened-view {
        display: none;
    }
    &.opened {
        .closed-view {
            display: none;
        }
        .opened-view {
            display: block;
        }
    }
}

.remote-climate {
  .remote-body {
    .ui-dial {
      @media (max-width: 860px) AND (min-width: $screen-xs-max){
        transform: scale(.85)
      }
      @media (max-width: $screen-xs-max) {
        margin-bottom: 100px;
        transform: scale(.9);
        &-controls {
          > span {
            &.down {
              transform: translateX(-100px) scale(1.5);
            }
            &.up {
              transform: translateX(100px) scale(1.5);
            }
          }
        }
      }
    }
  }
}

.overview-remote-command.remote-command-security {
  &.state-2-communicating,
  &.state-1 {
    .action-buttons {
      .state-2 {
        background: #8ec439 !important;
        &:hover {
          background: darken(#8ec439, 10%) !important;
        }
      }
      .state-3,
      .state-1 {
         background: #272727 !important;
         &:hover {
           background: darken(#272727, 10%) !important;
         }
      }
    }
  }
  &.state-1-communicating,
  &.state-2 {
    .action-buttons {
      .state-1 {
        background: #8ec439 !important;
        &:hover {
          background: darken(#8ec439, 10%) !important;
        }
      }
      .state-3,
      .state-2 {
         background: #272727 !important;

         &:hover {
           background: darken(#272727, 10%) !important;
         }
      }
    }
  }
  .action-buttons {
    .state-3 {
      padding: 0;
      width: 64px;
      i {
        margin: 0;
      }
    }
    @media (max-width: $screen-xs-max) {
      .action-button {
        margin: 0 2.5px;
        &:first-child {
          margin-left: 0px !important
        }
        &:last-child {
          margin-left: 0px !important
        }
      }
    }
    @media (max-width: 375px) {
      white-space: nowrap;
      .action-button:not(.state-3) {
        width: 100px;
      }
    }
  }
}

.state-1 {
  .accessory-group {
    .icon-defrost {
      background-image: url("/images/icon_defrost_green.svg");
    }
    .icon-defrost-rear {
      background-image: url("/images/icon_defrost_rear_green.svg");
    }
    .icon-defrost-mirror {
      background-image: url("/images/icon_defrost_mirror_green.svg");
    }
    .icon-defrost-steering {
      background-image: url("/images/icon_defrost_steering_green.svg");
    }
  }
}

.state-1-communicating,
.state-2-communicating,
.state-1 {
  .accessory-group {
    .toggle {
      opacity: 0;
    }
    @media (max-width: $screen-xs-max) {
      &.left {
        margin-left: 15px;
      }
      &.right:not(.accessory-group-heated-seats) {
        text-align: center;
        .accessory {
          &:first-child {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
.has-heated-seats {
  @media (max-width: $screen-xs-max) {
    .ui-dial {
      margin-bottom: 165px !important;
    }
    .accessory-group {
      &.left {
        margin-top: -40px;
      }
    }
  }
}

@media (min-width: $screen-xs-max) {
  .has-heated-seats {
    .ui-dial {
      margin-left: 85px;
      margin-right: 0;
    }
    .accessory-group {
      transform: translateY(-25px) !important;
      top: 175px;
      @media (max-width: $screen-sm-max) {
        transform: translateY(-10px) !important;
      }
      @media (max-width: 860px) {
        transform: translateY(-10px) translateX(35px) !important;
      }
      &.left {
        left: auto;
        right: 283px;
        margin: 0;
        @media (max-width: $screen-sm-max) {
          right: 270px;
          margin-top: -25px;
        }
      }
      &.right {
        &:not(.accessory-group-heated-seats) {
          margin-left: 0;
          left: auto;
          right: 50px;
          top: 175px;
          margin: 0;
          @media (max-width: $screen-sm-max) {
            margin-top: -25px;
          }
        }
      }
      .toggle {
        margin-top: -10px;
      }
    }
  }
}

.accessory-group {
  border: solid 1px #e2e2e2;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-top: -30px;
  height: 87px;
  border-radius: 87px;
  line-height: 87px;
  min-width: 87px;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 30px;
  z-index: 10;
  background: $white;
  transition: all 250ms $easeOutQuint;
  &.left {
    margin-right: 175px;
  }
  &.right {
    right: auto;
    left: 50%;
    margin-left: 275px;
    padding: 0 15px;
  }
  &.accessory-group-heated-seats {
    cursor: pointer;
    width: 320px;
    top: 92px;
    text-align: left;
    left: auto;
    right: 50px;
    margin-left: 0;
    transform: none;
    .accessory {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-bottom: 0;
      width: 100%;
      left: 0;
      padding-left: 40px;
      padding-right: 25px;
      i {
        display: inline-block;
        vertical-align: middle;;
      }
      em {
        display: inline-block;
        text-align: left;
        width: 75px;
        vertical-align: middle;
        margin-left: 14px
      }
      i.icon-arrow-right {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        margin: 0 !important;
      }
      strong {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        font: 500 17px/1em $kia;
        letter-spacing: .4px;
        color: #9ba1a9;
      }
    }
    @media (max-width: $screen-sm-max) {
      width: 285px;
    }
    @media (max-width: $screen-xs-max) {
      bottom: 60px;
    }
  }
  .accessory {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1em;
    position: relative;
    padding-bottom: 15px;
    i {
      display: block;
      margin: 0 auto 5px;
    }
    em {
      text-align: center;
      font: 500 9px/1.4em $kia;
      letter-spacing: .2px;
      white-space: normal;
      display: block;
      width: 60px;
      text-transform: uppercase;
      color: #9ba1a9;
    }
  }
  .toggle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 25px);
    transition: all 250ms $easeOutQuint;
  }
  @media (max-width: $screen-sm-max) {
    height: 66px;
    line-height: 66px;
    border-radius: 66px;
    min-width: 66px;
    &.left {
      margin-right: 210px;
      width: 66px;
    }
    &.right {
      padding: 0 10px;
      .accessory {
        margin: 0 -2.5px;
      }
    }
    .accessory {
      transform:scale(.80);
      padding-bottom: 5px;
    }
  }
  @media (max-width: 860px) {
    transform: translateY(-50%);
    left: 50px;
    &.right:not(.accessory-group-heated-seats) {
      left: auto;
      right: 10px;
    }
  }
  @media (max-width: $screen-xs-max) {
    &.left {
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      margin-top: -5px;
      margin-left: -20px;
      background: none;
      em {
        display: none;
      }
      .toggle {
        position: relative;
        top: 12px;
        transform: none;
        left: 20px;
      }
    }
    &.accessory-group-heated-seats,
    &.right {
      top: auto;
      left: 0;
      right: 0 !important;
      bottom: 20px;
      transform: none;
      margin: 0;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      text-align: left;
      height: 66px;
      background: $white;
      padding-top: 0px;
      width: 100%;
      .toggle {
        top: 50%;
        margin-top: 0;
        right: 10px;
        left: auto;
        transform: translateY(-50%);
      }
      .accessory {
        &:first-child {
          margin-left: -5px;
        }
        transform: scale(.9);
        margin: 0 5px;
      }
      &:not(.accessory-group-heated-seats) {
        .accessory {
          top: 4px;
        }
      }
    }
    .accessory {
      transform: none;
      margin: 0;
    }
    &.accessory-group-heated-seats {
      bottom: 86px;
      .accessory {
        padding: 0;
        transform: translateY(-50%) scale(.9);
        i.icon-arrow-right {
          right: -20px;
        }
        strong {
          right: 5px;
        }
      }
    }
  }
}

.icon-gas-battery {
  background: url('/images/icon_gas_battery.svg') center no-repeat;
}
.icon-battery-small {
  background: url('/images/icon_battery_small.svg') center no-repeat;
}
.icon-clock {
  background: url('/images/icon_clock.svg') center no-repeat;
}
.icon-charge-bolt-small {
  background: url('/images/icon_charge_bolt_small.svg') center no-repeat;
}
.icon-bolt {
  background: url('/images/icon_charge_white.svg') center/contain no-repeat;
  height: 20px;
  width: 9px;
}
.icon-stop {
  background: url('/images/icon_stop.svg') center/contain no-repeat;
  height: 15px;
  width: 15px;
}
.icon-cog-white {
  background: url('/images/icon_cog_white.svg') center/contain no-repeat;
  height: 14px;
  width: 14px;
}
.icon-card-charge-station-pin {
  background: url('/images/icon_charging_pin_card.svg') center/contain no-repeat;
  height: 40px;
  width: 27px;
}
.icon-climate-schedule {
  background: url('/images/icon_climate_schedule.png') center/contain no-repeat;
  width: 57px;
  height: 57px;
  @media (max-width: $screen-xs-max) {
    width: 47px;
    height: 47px;
  }
}
.icon-3d-battery {
  background: url('/images/icon_3d_battery_small.svg') center/contain no-repeat;
  width: 70px;
  height: 115px;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    height: 55px;
  }
}
.icon-calendar-small {
  background: url('/images/icon_calendar_red_small.svg') center/contain no-repeat;
  width: 14px;
  height: 15px;
}
.icon-no-charge-schedule {
  background: url('/images/icon_no_charge_schedule.svg') center/contain no-repeat;
  width: 83px;
  height: 83px;
  @media (max-width: $screen-xs-max) {
    width: 42px;
    height: 42px;
  }
}
.icon-arrow-right {
  background: url('/images/icon_arrow_right_dark.svg') center/contain no-repeat;
  width: 11px !important;
  height: 15px !important;
  &.white {
    background: url('/images/icon_arrow_right_white.svg') center/contain no-repeat;
  }
}

.icon-lock-dark {
  background: url('/images/icon_locked_dark.svg') center/contain no-repeat;
  width: 18px;
  height: 23px;
  &.state-1 {
    background-image: url('/images/icon_unlocked_dark.svg');
  }
}
.icon-horn {
  background: url('/images/icon_horn.svg') center/contain no-repeat;
  width: 35px;
  height: 18px;
}
.icon-unlock-white {
  background: url('/images/icon_locked_white.svg') center/contain no-repeat;
  width: 12px;
  height: 14px;
}
.icon-lock-white {
  background: url('/images/icon_locked_white.svg') center/contain no-repeat;
  width: 12px;
  height: 14px;
}
.icon-fan-white {
  background: url('/images/icon_remote_fan_white.svg') center/contain no-repeat;
  width: 15px;
  height: 15px;
}
.icon-fan-dark {
  background: url('/images/icon_remote_fan.svg') center/contain no-repeat;
  width: 22px;
  height: 22px;
}

.icon-weather {
  width: 75px;
  height: 75px;
  &.sun {
    background: url('/images/icon_sun.svg') center/contain no-repeat;
  }
  @media (max-width: $screen-xs-max) {
    height: 46px;
    width: 46px;
  }
}

.icon-defrost {
  background: url('/images/icon_defrost.svg') center/contain no-repeat;
  width: 33px;
  height: 24px;
}
.icon-defrost-rear {
  background: url('/images/icon_defrost_rear.svg') center/contain no-repeat;
  width: 28px;
  height: 25px;
}
.icon-defrost-mirror {
  background: url('/images/icon_defrost_mirror.svg') center/contain no-repeat;
  width: 35px;
  height: 25px;
}
.icon-defrost-steering {
  background: url('/images/icon_defrost_steering.svg') center/contain no-repeat;
  width: 24px;
  height: 32px;
}

.icon-heated-seats {
  width: 26px;
  height: 21px;
  background: url('/images/icon_heated_seats.svg') center/contain no-repeat;
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 3px;
    display: block;
    height: 3px;
    background: #ec4446;
    pointer-events: none;
    transition: all 250ms $easeOutQuint;
    opacity: 0;
  }
  &:after {
    background: #56b5e4;
    margin-top: 8px;
  }
  &.hot {
    &:before {
      opacity: 1;
    }
  }
  &.cold {
    &:after {
      margin-top: 3px;
      opacity: 1;
    }
  }
  &.hot.cold {
    &:after {
      margin-top: 8px;
    }
  }
}
