@import "../vendors/bootstrap/bootstrap/variables";

// RESPONSIVE QUERIES
$desktop: "(min-width: #{$screen-md} )";
$tablet: "(max-width: #{$screen-md - 1} ) AND (min-width: #{$screen-xs-max})";
$mobile: "(max-width: #{$screen-xs-max})";

$below_desktop: "(max-width: #{$screen-sm} )";

// QUICK CLASSES
@media #{$desktop} {
  .mobile,
  .tablet {
    display: none !important;
  }
}

@media #{$tablet} {
  .mobile,
  .desktop {
    display: none !important;
  }
}

@media #{$mobile} {
  .desktop,
  .tablet {
    display: none !important;
  }
}
