// FONTS
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

// BOOSTRAP VARIABLES
@import '../vendors/bootstrap/bootstrap/_variables.scss';

@import 'responsive.scss';
@import 'fonts/fonts.scss';
@import 'variables.scss';
@import 'mixins.scss';

// RESUABLE ELEMENTS
@import 'elements/buttons.scss';
@import 'elements/modals.scss';
@import 'elements/forms.scss';

// Global ELEMENTS
@import 'elements/nav.scss';
@import 'elements/footer.scss';

// GLOBAL STATEMENTS
body {
  background: #f7f7f7;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $sans;
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  * {
    box-sizing: border-box;
    &::-ms-clear {
      display: none !important;
    }
    &::-ms-reveal {
      display: none !important;
    }
  }
}

.contain {
  margin: 0 auto;
}
