.button {
  display: inline-block;
  user-select: none;
  background: $red;
  color: $white;
  text-transform: uppercase;
  padding: 0 45px;
  height: 40px;
  line-height: 40px;
  font-size: 11px;
  letter-spacing: 1.4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 250ms $easeOutQuint;
  -webkit-appearance: none;
  border: none;
  border-radius: 2px;
  font-family: $sans;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  &:hover {
    background: darken($red, 10%);
  }
  &.black {
    background: $black;
    &:hover {
      background: lighten($black, 20%);
    }
  }
  &.full {
    width: 100%;
  }
  &.large {
    height: 50px;
    line-height: 50px;
  }
  &.outline {
    background: transparent;
    border: solid 1px #979797;
    color: $black;
    &:hover {
      background: $black;
      color: $white;
      border-color: $black;
    }
  }
  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}
