.button {
  display: inline-block;
  user-select: none;
  background: $red;
  color: $white;
  text-transform: uppercase;
  padding: 0 45px;
  height: 40px;
  line-height: 40px;
  font-size: 11px;
  letter-spacing: 1.4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 250ms $easeOutQuint;
  -webkit-appearance: none;
  border: none;
  border-radius: 2px;
  font-family: $kia;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none !important;
  i {
    font-size: 14px;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
    transform: translateY(-1px);
    transition: inherit;
  }
  &:hover {
    background: darken($red, 10%);
    color: $white;
  }
  &.black {
    background: $black;
    &:hover {
      background: lighten($black, 20%);
    }
  }
  &.full {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  &.large {
    height: 50px;
    line-height: 50px;
  }
  &.small {
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
  }
  &.bright-red {
    background-color: #f23f3f;
  }
  &.black {
    background: #000;
    &:hover {
      background: darken($red, 20%);
    }
  }
  &.outline {
    background: transparent;
    border: solid 1px #979797;
    color: $black;
    font-weight: bold;
    &:hover {
      background: $black;
      color: $white;
      border-color: $black;
    }
    &.red {
      border-color: $red;
      color: $red;
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
    &.white {
      border-color: $white;
      color: $white;
      line-height: 39px;
      &.transparent {
        background-color: rgba($white, 0.23);
        &:hover {
          background: $white;
          color: $black;
        }
      }
    }
  }
  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
  &.dark-icon {
    i {
      color: rgba($black, .5);
      margin-right: 5px;
    }
    &:hover {
      i {
        color: $white;
      }
    }
  }
  &.less-padding {
    padding: 0 13px 0 16px;
    &.dark-icon {
      i {
        margin-left: -3px;
      }
    }
  }
  &.has-spinner {
    position: relative;
    &.spinning {
      color: rgba($white, 0);
      .spinner {
        opacity: 1;
      }
    }
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  transition: all 250ms $easeOutQuint;
  opacity: 0;
  pointer-events: none;
  .icon-communicating {
    display: block;
    animation: spin 1s infinite linear;
    &.white {
      background: url('/images/icon_communicating_white.png') center/contain no-repeat;
      width: 17px;
      height: 17px;
    }
  }
}
