// MODAL FORMS
.modal {
  min-width: 355px;
  form {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
    font-size: 0px;
    .half {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      + .half {
        margin-left: 10%;
      }
      &.wider {
        width: 48.5%;
        + .wider {
          margin-left: 2.5%;
        }
      }
    }
    .form-footer {
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: center;
      .secondary {
        display: inline-block;
        color: $red;
        line-height: 1em;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.7px;
        font-family: $kia;
        font-weight: bold;
        margin-top: 45px;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 50%;
          transform: translate(-50%, 5px);
          height: 2px;
          background: $red;
          pointer-events: none;
          transition: all 250ms $easeOutQuint;
          opacity: 0;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

form {
  .error-message {
    display: block;
    color: #f23f3f;
    font-family: $sans;
    font-weight: 500;
    margin: 0;
    font-size: 11px;
    letter-spacing: .5px;
    line-height: 1.36em;
    overflow: hidden;
    height: 0;
    transition: all 350ms $easeOutQuint;
    cursor: default;
    &-inner {
      display: block;
      padding-top: 5px;
      opacity: 0;
      transition: all 450ms $easeOutQuint 50ms;
      &.show {
        opacity: 1;
      }
    }
    .use-email-to-recover,
    .use-email-to-craete {
      font-weight: bold;
      font-style: normal;
      text-decoration: underline;
      cursor: pointer;
      transition: all 250ms $easeOutQuint;
      &:hover {
        color: $black;
      }
    }
  }
  > .error-message {
    text-align: center;
    .error-message-inner {
      padding-top: 0px;
      padding-bottom: 20px;
    }
  }
  .form-fields {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    > li {
      margin-bottom: 15px;
      &.error {
        label {
          &.checkbox {
            input:not(:checked) + em {
              &:before {
                border-color: #f23f3f;
              }
            }
          }
          input {
            border-color: #f23f3f !important;
          }
        }
      }
      &.fieldgroup-header {
        font: bold 12px/1.75em $kia;
        color: #000;
        letter-spacing: .5px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
      &.fieldgroup-head {
        text-align: right;
        span {
          display: inline-block;
          text-align: center;
          font: bold 10px $kia;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #969696;
          width: 77px;
          vertical-align: middle;
        }
      }
      &.fieldgroup-body {
        .fieldgroup-item {
          margin-bottom: 20px;
          .toggle {
            width: 77px;
            span {
              margin: 0 auto;
            }
          }
          &-header {
            font: 14px/1.5em $sans;
            letter-spacing: .6px;
            width: 100%;
            max-width: calc(100% - 240px);
            text-align: left;
            display: inline-block;
            vertical-align: middle;
          }
          &-options {
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            width: 240px;
          }
        }
      }
      &.more-margin {
        margin-bottom: 25px;
      }
      &.less-margin {
        margin-bottom: 0px;
      }
      &.break {
        margin: 0;
      }
      hr {
        border-top-color: #d5d5d5;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      label {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        position: relative;
        &:hover {
          input {
            border-color: $black;
          }
        }
        > strong {
          display: block;
          font-size: 10px;
          letter-spacing: 0.4px;
          font-family: $kia;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 10px;
          .label-helper {
            float: right;
            font-weight: normal;
            text-transform: none;
            font-size: 12px;
            letter-spacing: .3px;
            display: block;
            border-bottom: 1px solid $black;
            transition: all 250ms $easeOutQuint;
            &:hover {
              color: $red;
              border-bottom-color: $red;
            }
          }
        }
        > em {
          font-style: normal;
          color: #2f2f2f;
          letter-spacing: .5px;
          font-size: 14px;
          font-family: $sans;
          display: inline-block;
        }
        .helper {
          font: italic 12px/1em $sans;
          display: inline-block;
          padding-top: 7px;
          color: $grey;
          letter-spacing: .5px;
        }
        &.checkbox {
          width: auto;
          margin-top: 5px;
        }
        > input[type="text"],
        > input[type="email"],
        > input[type="password"],
        > input[type="tel"] {
          outline: none;
          display: block;
          width: 100%;
          height: 40px;
          border-radius: 2px;
          border: solid 1px #b1b5b8;
          padding: 0 15px;
          transition: all 250ms $easeOutQuint;
          font-family: $sans;
          font-size: 14px;
          letter-spacing: .6px;
          color: #2f2f2f;
          -webkit-appearance: none;
          box-shadow: none;
          &[type="password"] {
            font-size: 25px;
            font-family: sans-serif;
            letter-spacing: -1.5px;
          }
          &:focus {
            border-color: $black;
            color: $black;
          }
        }
        &.dual-inputs {
          position: relative;
          padding-left: 30px;
          input[type="radio"] {
            display: none;
            &:checked + span {
              &:before {
                opacity: 1;
              }
            }
          }
          .radio {
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid #9ba1a9;
            position: absolute;
            left: 0;
            top: 12px;
            border-radius: 100%;
            transition: all 250ms $easeOutQuint;
            margin-top: 0px;
            margin-bottom: 0px;
            &:before {
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: $red;
              border-radius: 100%;
              transition: all 250ms $easeOutQuint;
              opacity: 0;
            }
          }
        }
        .inline-validator {
          display: block;
          position: absolute;
          top: calc(100% + 3px);
          background: $black;
          z-index: 1;
          font-size: 12px;
          font-family: $sans;
          letter-spacing: .5px;
          color: $white;
          width: 240px;
          max-width: 95%;
          left: 8px;
          padding: 15px 15px;
          pointer-events: none;
          transition: all 250ms $easeOutQuint;
          transform: translateY(-10px);
          opacity: 0;
          &.show {
            transform: none;
            opacity: 1;
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: calc(100% - 3px);
            left: 12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7.5px 10px 7.5px;
            border-color: transparent transparent $black transparent;
          }
          > span {
            display: block;
            margin-bottom: 5px;
            padding-left: 20px;
            line-height: 1em;
            font-size: 12px;
            position: relative;
            transition: all 250ms $easeOutQuint;
            &:after,
            &:before {
              position: absolute;
              top: 50%;
              left: 0;
              width: 10px;
              height: 10px;
              content: "";
              background: url('/images/icon_x_red.svg') center/contain no-repeat;
              transform: translateY(-50%);
              transition: all 250ms $easeOutQuint;
            }
            &:after {
              background: url('/images/icon_checkmark_green.svg') center/contain no-repeat;
              opacity: 0;
            }
          }
          .passed {
            color: #5b5b5b;
            &:before {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.bootstrap-select {
  width: 100% !important;
  outline: none !important;
  * {
    outline: none !important;
  }
  button {
    height: 56px;
    line-height: 56px;
    padding: 0;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 600;
    display: block;
    overflow: hidden;
    border-color: #b1b5b8;
    border-radius: 4px;
    padding-left: 16px;
    background: transparent !important;
  }
  input {
    height: inherit;
    padding: 0 16px !important;
    color: #c7c7c7;
    letter-spacing: .4px;
    height: 40px !important;
  }
  @media #{$mobile} {
    button {
      height: 40px;
      line-height: 40px;
    }
  }
  &.small {
    button {
      height: 40px;
      line-height: 38px;
    }
  }
}

.checkbox-group {
  .checkbox-round {
    margin: 0 4px;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

.checkbox {
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  &.solo {
    > em {
      padding-left: 21px;
      height: 21px;
      display: block;
    }
  }
  &.checkbox-round {
    input[type="checkbox"] {
      display: none;
      &:checked {
        + em {
          span {
            color: $white;
          }
          &:before {
            background: #8ec439 !important;
            border-color: #8ec439 !important;
          }
        }
      }
    }
    > em {
      padding-left: 0px;
      width: 35px;
      height: 35px;
      &:after {
        display: none;
      }
      &:before {
        width: 35px;
        height: 36px;
        border-width: 1px;
        border-radius: 100%;
      }
      span {
        display: block;
        z-index: 2;
        position: relative;
        height: inherit;
        width: inherit;
        text-align: center;
        font: bold 12px/35px $kia;
        letter-spacing: .3px;
        transition: all 250ms $easeOutQuint;
      }
    }
  }
  input[type="checkbox"] {
    display: none;
    &:checked {
      + em {
        &:before {
          background: $red !important;
          border-color: $red !important;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    > em {
      color: $black;
      &:before {
        border-color: $black;
      }
    }
  }
  > em {
    position: relative;
    padding-left: 35px;
    transition: all 250ms $easeOutQuint;
    color: #2f2f2f;
    user-select: none;
    &.smaller {
      font-size: 11px;
      line-height: 1.36em;
      padding-top: 5px;
      letter-spacing: .5px;
    }
    a {
      color: #bb1a30;
      text-decoration: none;
      font-weight: bold;
      transition: all 250ms $easeOutQuint;
      display: inline-block;
      &:hover {
        color: $black;
      }
    }
    &:before {
      content: "";
      display: block;
      border: solid 1px #b1b5b8;
      width: 19px;
      height: 19px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 2px;
      transition: all 250ms $easeOutQuint;
      background: $white;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      transform: translate(4px,-50%);
      left: 0;
      background: url('/images/icon_checkmark_white.svg') center/contain no-repeat;
      transition: all 250ms $easeOutQuint;
      opacity: 0;
    }
  }
}

.radio {
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  &.solo {
    > em {
      padding-left: 21px;
      height: 21px;
      display: block;
    }
  }
  input[type="radio"] {
    display: none;
    &:checked {
      + em {
        &:before {
        }
        &:after {
          background: $red !important;
          border-color: $red !important;
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    > em {
      color: $black;
      &:before {
        border-color: $black;
      }
    }
  }
  > em {
    position: relative;
    padding-left: 35px;
    transition: all 250ms $easeOutQuint;
    color: #2f2f2f;
    user-select: none;
    font-style: normal;
    display: block;
    > a {
      color: #bb1a30;
      text-decoration: none;
      font-weight: bold;
      transition: all 250ms $easeOutQuint;
      display: inline-block;
      &:hover {
        color: $black;
      }
    }
    &:before {
      content: "";
      display: block;
      border: solid 1px #b1b5b8;
      width: 19px;
      height: 19px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 100%;
      transition: all 250ms $easeOutQuint;
      background: $white;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      transform: translate(3.5px,-50%);
      left: 0;
      transition: all 250ms $easeOutQuint;
      opacity: 0;
      border-radius: 100%;
    }
  }
}

.toggle {
  vertical-align: middle;
  display: inline-block;
  line-height: 1em;
  user-select: none;
  cursor: pointer;
  &.tiny {
    input[type="checkbox"] {
      &:checked {
        + span {
          &:before {
            left: calc(32px - 16px - 2px);
          }
        }
      }
    }
    span {
      height: 18px;
      width: 32px;
      &:before {
        width: 16px;
        height: 16px;
        border-radius: 16px;
      }
    }
  }
  input[type="checkbox"] {
    display: none;
    &:checked {
      + span {
        background-color: #8ec439;
        &:before {
          left: calc(51px - 28px - 2px);
        }
      }
    }
  }
  em {
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    font-style: normal;
    cursor: pointer;
    + input + span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  label > span {
    transition: all 250ms $easeOutQuint;
    display: block;
    width: 51px;
    height: 31px;
    background: $white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 31px;
    position: relative;
    cursor: pointer;
    &:before {
      transition: all 250ms $easeOutQuint;
      width: 28px;
      height: 28px;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px 0 rgba(0, 0, 0, 0.05);
      content: "";
      display: block;
      border-radius: 28px;
      background-color: $white;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.radio-toggle {
  font-size: 0;
  white-space: nowrap;
  user-select: none;
  label {
    width: calc(50% - .5px);
    display: inline-block;
    &:last-child {
      margin-left: 1px;
    }
    input {
      display: none;
      &:checked {
        + span {
          background: #8ec439;
          color: $white;
        }
      }
    }
    span {
      display: block;
      width: 100%;
      height: 36px;
      font: bold 11px/36px $kia;
      letter-spacing: 1.4px;
      color: #707070;
      text-align: center;
      text-transform: uppercase;
      background: #dadada;
      border-radius: 2px;
      transition: all 250ms $easeOutQuint;
      cursor: pointer;
      &:hover {
        background: darken(#dadada, 20%);
        color: darken(#707070, 20%);
      }
    }
  }
}

.toggle-group {
  display: block;
  white-space: nowrap;
  label {
    display: inline-block;
    width: 50% !important;
    margin: 0 .5px;
    &.disabled {
      pointer-events: none;
      opacity: .35;
    }
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
    input {
      display: none;
      &:checked {
        + span {
          background: #8ec439;
          color: $white;
        }
      }
    }
    span {
      display: block;
      width: 100%;
      height: 36px;
      background: #dadada;
      border-radius: 2px;
      color: #707070;
      font: bold 11px/36px $kia;
      letter-spacing: 1.4px;
      text-align: center;
      text-transform: uppercase;
      transition: all 250ms $easeOutQuint;
    }
  }
}
