// MODAL FORMS
.modal {
  min-width: 355px;
  form {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
    .form-footer {
      padding-top: 25px;
      padding-bottom: 10px;
      .secondary {
        display: inline-block;
        color: $red;
        line-height: 1em;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.7px;
        font-family: $kia;
        font-weight: bold;
        margin-top: 45px;
        cursor: pointer;
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 50%;
          transform: translate(-50%, 5px);
          height: 2px;
          background: $red;
          pointer-events: none;
          transition: all 250ms $easeOutQuint;
          opacity: 0;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

form {
  .form-fields {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    li {
      margin-bottom: 15px;
      &.error {
        label {
          input {
            border-color: #f23f3f !important;
          }
        }
      }
      label {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        position: relative;
        &:hover {
          input {
            border-color: $black;
          }
        }
        > strong {
          display: block;
          font-size: 10px;
          letter-spacing: 0.4px;
          font-family: $kia;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 10px;
          .label-helper {
            float: right;
            font-weight: normal;
            text-transform: none;
            font-size: 12px;
            letter-spacing: .3px;
            display: block;
            border-bottom: 1px solid $black;
            transition: all 250ms $easeOutQuint;
            &:hover {
              color: $red;
              border-bottom-color: $red;
            }
          }
        }
        > em {
          font-style: normal;
          color: #2f2f2f;
          letter-spacing: .5px;
          font-size: 14px;
          font-family: $sans;
          display: inline-block;
        }
        .helper {
          font: italic 12px/1em $sans;
          display: inline-block;
          padding-top: 7px;
          color: $grey;
          letter-spacing: .5px;
        }
        .error-message {
          display: block;
          color: #f23f3f;
          font-family: $sans;
          font-weight: 500;
          margin: 0;
          font-size: 11px;
          letter-spacing: .5px;
          line-height: 1.36em;
          overflow: hidden;
          height: 0;
          transition: all 350ms $easeOutQuint;
          cursor: default;
          &-inner {
            display: block;
            padding-top: 5px;
            opacity: 0;
            transition: all 450ms $easeOutQuint 50ms;
            &.show {
              opacity: 1;
            }
          }
          .use-email-to-recover,
          .use-email-to-craete {
            font-weight: bold;
            font-style: normal;
            text-decoration: underline;
            cursor: pointer;
            transition: all 250ms $easeOutQuint;
            &:hover {
              color: $black;
            }
          }
        }
        &.checkbox {
          width: auto;
          margin-top: 5px;
        }
        > input[type="text"],
        > input[type="email"],
        > input[type="password"],
        > input[type="tel"] {
          outline: none;
          display: block;
          width: 100%;
          height: 40px;
          border-radius: 2px;
          border: solid 1px #b1b5b8;
          padding: 0 15px;
          transition: all 250ms $easeOutQuint;
          font-family: $sans;
          font-size: 14px;
          letter-spacing: .6px;
          color: #2f2f2f;
          -webkit-appearance: none;
          box-shadow: none;
          &[type="password"] {
            font-size: 25px;
            font-family: sans-serif;
            letter-spacing: -1.5px;
          }
          &:focus {
            border-color: $black;
            color: $black;
          }
        }
        &.dual-inputs {
          position: relative;
          padding-left: 30px;
          input[type="radio"] {
            display: none;
            &:checked + span {
              &:before {
                opacity: 1;
              }
            }
          }
          .radio {
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid #9ba1a9;
            position: absolute;
            left: 0;
            top: 12px;
            border-radius: 100%;
            transition: all 250ms $easeOutQuint;
            &:before {
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: $red;
              border-radius: 100%;
              transition: all 250ms $easeOutQuint;
              opacity: 0;
            }
          }
        }
        .inline-validator {
          display: block;
          position: absolute;
          top: calc(100% + 3px);
          background: $black;
          z-index: 1;
          font-size: 12px;
          font-family: $sans;
          letter-spacing: .5px;
          color: $white;
          width: 240px;
          max-width: 95%;
          left: 8px;
          padding: 15px 15px;
          pointer-events: none;
          transition: all 250ms $easeOutQuint;
          transform: translateY(-10px);
          opacity: 0;
          &.show {
            transform: none;
            opacity: 1;
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: calc(100% - 3px);
            left: 12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7.5px 10px 7.5px;
            border-color: transparent transparent $black transparent;
          }
          > span {
            display: block;
            margin-bottom: 5px;
            padding-left: 20px;
            line-height: 1em;
            font-size: 12px;
            position: relative;
            transition: all 250ms $easeOutQuint;
            &:after,
            &:before {
              position: absolute;
              top: 50%;
              left: 0;
              width: 10px;
              height: 10px;
              content: "";
              background: url('/images/icon_x_red.svg') center/contain no-repeat;
              transform: translateY(-50%);
              transition: all 250ms $easeOutQuint;
            }
            &:after {
              background: url('/images/icon_checkmark_green.svg') center/contain no-repeat;
              opacity: 0;
            }
          }
          .passed {
            color: #5b5b5b;
            &:before {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.bootstrap-select {
  width: 100% !important;
  outline: none !important;
  * {
    outline: none !important;
  }
  button {
    height: 56px;
    line-height: 56px;
    padding: 0;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 600;
    display: block;
    overflow: hidden;
    border-color: #b1b5b8;
    border-radius: 4px;
    padding-left: 16px;
    background: transparent !important;
  }
  input {
    height: inherit;
    padding: 0 16px !important;
    color: #c7c7c7;
    letter-spacing: .4px;
    height: 40px !important;
  }
  @media #{$mobile} {
    button {
      height: 40px;
      line-height: 40px;
    }
  }
}

.checkbox {
  cursor: pointer;
  &.solo {
    > em {
      padding-left: 21px;
      height: 21px;
      display: block;
    }
  }
  input[type="checkbox"] {
    display: none;
    &:checked {
      + em {
        &:before {
          background: $red !important;
          border-color: $red !important;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    > em {
      color: $black;
      &:before {
        border-color: $black;
      }
    }
  }
  > em {
    position: relative;
    padding-left: 35px;
    transition: all 250ms $easeOutQuint;
    color: #2f2f2f;
    user-select: none;
    &.smaller {
      font-size: 11px;
      line-height: 1.36em;
      padding-top: 5px;
      letter-spacing: .5px;
    }
    a {
      color: #bb1a30;
      text-decoration: none;
      font-weight: bold;
      transition: all 250ms $easeOutQuint;
      display: inline-block;
      &:hover {
        color: $black;
      }
    }
    &:before {
      content: "";
      display: block;
      border: solid 1px #b1b5b8;
      width: 19px;
      height: 19px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 2px;
      transition: all 250ms $easeOutQuint;
      background: $white;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      transform: translate(4px,-50%);
      left: 0;
      background: url('/images/icon_checkmark_white.svg') center/contain no-repeat;
      transition: all 250ms $easeOutQuint;
      opacity: 0;
    }
  }
}
