.modals {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: all 250ms $easeOutQuint 150ms;
  height: 100vh;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black_2;
    opacity: .89;
  }
  &.open {
    opacity: 1;
    pointer-events: all;
    transition-delay: 0;
    .modal.active {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  .close {
    display: block;
    font-size: 32px;
    position: absolute;
    top: 25px;
    right: 25px;
    color: $black;
    // pointer-events: none;
    cursor: pointer;
    pointer-events: all;
    z-index: 3;
    i {
      pointer-events: none;
    }
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.25);
    max-width: 100%;
    transition: all 250ms $easeOutQuint;
    opacity: 0;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    background: $white;
    box-shadow: 0 2px 34px 0 rgba(47, 47, 47, 0.44);
    border-radius: 3px;
    padding: 30px 40px 35px;
    cursor: default;
    &-nav {
      font-size: 0;
      text-align: center;
      padding-bottom: 20px;
      margin-top: -5px;
      span {
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .3px;
        font-family: sans-serif;
        margin: 0 3px;
        transition: all 250ms $easeOutQuint;
        color: $grey;
        position: relative;
        padding: 5px 13px;
        cursor: pointer;
        &:first-child {
          margin-left: 0px !important;
        }
        &:last-child {
          margin-right: 0px !important;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 50%;
          transform: translate(-50%, 14px);
          height: 2px;
          background: $red;
          pointer-events: none;
          transition: all 250ms $easeOutQuint;
          opacity: 0;
        }
        &:hover {
          color: $black;
        }
        &.active {
          color: $black;
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}
