.modal-backdrop {
  background: $black_2;
  z-index: 100000;
  &.in {
    opacity: .89;
  };
}

body .modal {
  z-index: 100001;
  &.in {
    .modal-dialog {
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) scale(1) !important;
    }
  }
  &.show-back {
    .back {
      opacity: 1;
      pointer-events: all;
    }
  }
  .icon-close {
    display: block;
    font-size: 32px;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 18px;
      background: $black_2;
      height: 1px;
      transition: all 250ms $easeOutQuint;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:hover {
      &:before,
      &:after {
        background: $black;
        height: 3px;
        width: 22px;
      }
    }
  }
  .back {
    display: block;
    position: absolute;
    top: 28px;
    left: 30px;
    width: 30px;
    height: 17px;
    cursor: pointer;
    transition: all 250ms $easeOutQuint;
    z-index: 3;
    background: url('/images/icon_back_arrow.svg') left center/contain no-repeat;
    opacity: 0;
    pointer-events: none;
  }
  .modal-dialog {
    top: 50% !important;
    transform: translateY(-50%) scale(.5) !important;
    transition: all 150ms $easeOutQuint !important;
    max-height: calc(100vh - 40px);
    margin: 0 auto;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(.5) !important;
    .modal-content {
      border-radius: 3px;
      box-shadow: 0 2px 34px 0 rgba(47, 47, 47, 0.44);
      border: none;
      margin: 0 auto 20px;
      .modal-body {
        padding: 0;
        .carousel {
          &-inner {
            transition: all 550ms $easeOutQuint;
          }
          .item {
            padding: 15px;
            transition: all 550ms $easeOutQuint;
          }
        }
      }
    }
  }
  &.login {
    max-width: 100%;
    width: 100%;
    .modal-dialog {
      width: 355px;
      max-width: 100vw;
    }
  }
  &.hide-nav {
    .nav-tabs {
      opacity: 0;
      pointer-events: none;
      margin-bottom: -90px;
    }
  }
  &.hide-close {
    .icon-close {
      opacity: 0;
      pointer-events: none;
    }
  }
  .nav-tabs {
    font-size: 0;
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
    user-select: none;
    transition: all 550ms $easeOutQuint;
    position: relative;
    left: 0;
    border: none;
    li {
      float: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .3px;
      font-family: $kia;
      font-weight: bold;
      margin: 0 3px;
      transition: all 250ms $easeOutQuint;
      color: $grey;
      position: relative;
      padding: 5px 13px;
      cursor: pointer;
      border: none !important;
      &:first-child {
        margin-left: 0px !important;
      }
      &:last-child {
        margin-right: 0px !important;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 14px);
        height: 2px;
        background: $red;
        pointer-events: none;
        transition: all 250ms $easeOutQuint;
        opacity: 0;
      }
      &:hover {
        color: $black;
      }
      &.active {
        color: $black;
        &:before {
          opacity: 1;
        }
      }
      a {
        border: none !important;
        background: none !important;
        color: inherit !important;
        padding: 0;
      }
    }
  }
  .carousel {
    .item {
      transition: all 350ms $easeOutQuint;
    }
  }
  @media (max-width: $screen-xs-max) {
    &.in {
      .modal-dialog {
        transform: none !important;
        top: 0 !important;
        left: 0 !important;
        position: fixed !important;
        bottom: 0px !important;
        height: auto !important;
        min-height: 0 !important;
        max-height: none !important;
        overflow: auto;
        .modal-content {
          min-height: 100%;
          overflow: auto;
          .modal-body {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
            .carousel {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              .carousel-inner {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                .item {
                  min-height: 100%;
                  max-height: 100%;
                  overflow: auto;
                }
              }
            }
          }
        }
      }
    }
    .modal-dialog {
      height: 100vh !important;
      min-height: 100vh !important;
      max-height: 100vh !important;
      width: 100vw !important;
      max-width: 100vw !important;
      min-width: 100vw !important;
      width: 100vw !important;
      border-radius: 0px;
      transform: none !important;
      top: 0 !important;
      left: 0 !important;
      position: relative !important;
      margin: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      position: fixed;
      background: $white;
      .modal-content {
        border-radius: 0px;
        height: auto !important;
        box-shadow: none;
        padding-bottom: 75px;
      }
    }
    .modal-nav {
      padding-top: 60px;
    }
    .modal-body {
      height: auto !important;
    }
    .icon-close {
      top: 10px;
    }
    .back {
      top: 13px !important;
    }
  }
}

.modal.delete {
  .modal-dialog {
    max-width: 400px;
  }
  .icon-close {
    display: none;
    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
  .modal-delete {
    max-width: 270px;
    margin: 0 auto;
    padding: 28px 0 40px;
    text-align: center;
    strong {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-weight: 400;
      margin-bottom: 22px;
      display: block;
      font-family: $kia;
      font-weight: 500;
      text-align: center;
    }
    p {
      font-size: 14px;
      line-height: 1.5em;
      letter-spacing: 0.6px;
      color: $grey_2;
      margin: 0;
    }
    &-actions {
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
      width: 255px;
      margin: 0 auto;
      padding-top: 30px;
      .button {
        width: 170px;
        padding: 0;
        text-align: center;
        float: left;
        &:last-child {
          padding: 0;
          width: 80px;
          float: right;
        }
      }
    }
  }
}

.modal.edit-mileage {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-edit-mileage {
    max-width: 270px;
    margin: 0 auto;
    padding: 28px 0 40px;
    text-align: center;
    > strong {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-weight: 400;
      margin-bottom: 22px;
      display: block;
      font-family: $kia;
      font-weight: 500;
      text-align: center;
    }
    &-actions {
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
      width: 100%;
      margin: 0 auto;
      padding-top: 0px;
      .button {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.modal.add {
  .modal-dialog {
    max-width: 400px;
    .carousel {
      .item:last-child {
        padding: 0 !important;
      }
    }
  }
  .modal-add-vehicle {
    &-actions {
      padding-top: 30px;
    }
    &-form {
      padding-bottom: 40px;
      > strong {
        display: block;
        font-size: 16px;
        letter-spacing: .4px;
        color: $black;
        line-height: 1em;
        margin-bottom: 35px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $kia;
        font-weight: 500;
        text-align: center;
        padding-top: 28px;
      }
      form {
        max-width: 318px;
        .form-footer {
          white-space: nowrap;
          overflow: hidden;
          padding: 0;
          .button {
            vertical-align: middle;
            float: right;
            width: 141px;
            padding: 0;
            &[type="submit"] {
              width: 172px;
              padding: 0;
              float: left;
            }
          }
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      &-form {
        > strong {
          padding-top: 15px;
          margin-bottom: 100px;
        }
        form {
          max-width: 280px;
          .form-footer {
            .button {
              &[type="submit"] {
                width: 136px;
              }
            }
          }
        }
      }
    }
  }
}

.modal-find-vin {
  padding-top: 28px;
  padding-bottom: 25px;
  > strong {
    font-size: 16px;
    letter-spacing: .4px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-bottom: 28px;
    line-height: 1em;
    font-family: $kia;
    font-weight: 500;
    text-align: center;
  }
  &-image {
    height: 165px;
    width: 100%;
    background: lighten($grey, 20%);
  }
  &-text {
    max-width: 255px;
    padding-left: 40px;
    text-align: left;
    margin-bottom: 40px;
    padding-top: 20px;
    font-size: 14px;
    letter-spacing: .6px;
    color: $grey_2;
    line-height: 1.5em;
  }
  @media (max-width: 500px) {
    padding-top: 15px;
  }
}

.modal.activate-uvo {
  padding-left: 0;
  padding-right: 0;
  .modal-dialog {
    width: 640px;
    max-width: 100%;
    .modal-content .modal-body .carousel .item {
      padding: 0;
    }
  }
  .modal-body > strong {
    font-size: 16px;
    letter-spacing: .4px;
    text-transform: uppercase;
    display: block;
    color: $grey_2;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 26px;
    text-align: center;
    padding-top: 30px;
  }
  .mobile-modal-footer {
    display: none;
  }
  .modal-body-wrap {
    width: 100%;
    transform: none;
    .modal-body-tab {
      margin: 0;
      max-width: 640px;
      width: 100%;
    }
  }
  .modal-activate-uvo {
    max-width: 100%;
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
    .toggle-footer {
      padding-top: 25px;
      padding-bottom: 30px;
      text-align: center;
      span {
        font-size: 11px;
        letter-spacing: .7px;
        text-transform: uppercase;
        color: $red;
        display: inline-block;
        position: relative;
        font-weight: bold;
        cursor: pointer;
        font-family: $kia;
        &:before {
          @include underline();
          transform: translate(-50%, 0px);
        }
        &:hover {
          &:before {
            opacity: 1;
            transform: translate(-50%, 3px);
          }
        }
      }
    }
    .slider {
      position: relative;
      padding-bottom: 67px;
      max-width: 100%;
      width: 640px;
      .slide {
        max-width: 100% !important;
        width: 640px !important;
        margin: 0 auto;
      }
      * {
        outline: none !important;
      }
      .slick-list {
        padding: 0 !important;
      }
      .slick-arrow {
        position: absolute;
        bottom: 0;
        left: 40px;
        background: none;
        border: none;
        -webkit-appearance: none;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: .4px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0;
        transition: all 250ms $easeOutQuint;
        &:hover {
          color: $red;
        }
        &.slick-next {
          left: auto;
          right: 40px;
        }
      }
      .slick-dots {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          margin: 0 2.5px;
          &.slick-active {
            button {
              background: #e4e5e8;
            }
          }
          button {
            background: $red;
            -webkit-appearance: none;
            border: none;
            display: block;
            color: rgba($black, 0);
            width: 10px;
            border-radius: 100%;
            height: 10px;
            padding: 0;
            cursor: pointer;
            transition: all 250ms $easeOutQuint;
          }
        }
      }
    }
    .activate-uvo-panel {
      &-image {
        background: #e4e5e8;
        padding-top: 75%;
        margin-bottom: 30px;
      }
      &-text {
        text-align: left;
        padding: 0 40px;
        max-width: 585px;
        em {
          display: block;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 1px;
          color: $grey;
          font-style: normal;
          margin-bottom: 5px;
        }
        strong {
          font-size: 18px;
          line-height: 1em;
          color: $black;
          margin-bottom: 10px;
          display: block;
        }
        p {
          font-size: 14px;
          line-height: 1.64em;
          letter-spacing: .4px;
          color: $grey;
          margin: 0;
        }
      }
      &-wrap {
        font-size: 0;
        padding: 0 20px;
        margin-bottom: -20px;
        .activate-uvo-panel {
          max-width: 50%;
          display: inline-block;
          margin-bottom: 35px;
          padding: 0 20px;
          &-image {
            padding-top: 58%;
            margin-bottom: 20px;
            border-radius: 2px;
            overflow: hidden;
          }
          &-text {
            padding: 0;
            strong {
              font-size: 15px;
              margin-bottom: 5px;
            }
          }
        }
        @media (max-width: $screen-xs-max) {
          padding: 0;
          .activate-uvo-panel {
            max-width: 100%;
          }
        }
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    padding-top: 15px;
    .icon-close {
      top: 25px;
    }
    .modal-content {
      padding-bottom: 0px !important;
    }
    .mobile-modal-footer {
      display: block;
      padding: 50px 20px 75px;
    }
    .modal-body {
      height: auto !important;
      left: 0 !important;
    }
    .toggle-footer {
      display: none;
    }
    .slider {
      padding-bottom: 0px !important;
      .slick-arrow {
        display: none !important;
      }
      .slick-dots {
        display: none !important;
      }
      .slick-track {
        transform: none !important;
        width: 100% !important;
      }
      .slide {
        float: none;
        .activate-uvo-panel {
          padding: 0 20px;
          margin-bottom: 45px;
          &-image {
            margin-bottom: 14px;
            padding-top: 36%;
          }
          &-text {
            padding: 0;
            strong {
              font-size: 15px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}

body.modal-open {
  overflow: hidden;
}

.modal.how-to-activate-uvo {
  .modal-dialog {
    max-width: 420px;
  }
  .modal-how-to-activate-uvo {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 28px 40px 40px;
    text-align: center;
    strong {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-weight: 400;
      margin-bottom: 22px;
      display: block;
      font-family: $kia;
      font-weight: 500;
      text-align: center;
    }
    p {
      font-size: 14px;
      line-height: 1.5em;
      letter-spacing: 0.6px;
      color: $grey_2;
      margin: 0 0 16px;
      text-align: left;
    }
    ul {
      text-align: left;
      li {
        padding-left: 10px;
      }
    }
    &-actions {
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
      width: 100%;
      margin: 0 auto;
      padding-top: 30px;
      .button {
        width: 240px;
        padding: 0;
        text-align: center;
        float: left;
        &:last-child {
          padding: 0;
          width: 90px;
          float: right;
        }
      }
      @media (max-width: $screen-xs-max) {
        white-space: normal;
        text-align: center;
        .button {
          text-align: center;
          width: 100%;
          float: none;
          &:last-child {
            float: none;
            border: none;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.modal.about-battery {
  .modal-dialog {
    max-width: 420px;
  }
  .modal-about-battery {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 28px 40px 40px;
    text-align: center;
    strong {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-weight: 400;
      margin-bottom: 35px;
      display: block;
      font-family: $kia;
      font-weight: 500;
      text-align: center;
    }
    h2 {
      text-align: left;
      font: bold 12px/1.75px $kia;
      letter-spacing: .3px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    ol,
    ul {
      text-align: left;
      margin-bottom: 30px;
      li {
        padding-left: 10px;
        font: 14px/1.5em $sans;
        letter-spacing: .6px;
        margin-bottom: 5px;
      }
    }
  }
}
.modal-title {
  font: 500 16px/1em $kia;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .4px;
  padding-top: 11px;
  margin-bottom: 22px;
}
.modal.add-card {
  .modal-dialog {
    width: 645px;
    max-width: 100%;
  }
  .modal-add-card {
    position: relative;
    padding-bottom: 60px;
    .modal-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 0;
      margin-left: -15px;
      margin-right: -15px;
      padding-right: 40px;
      z-index: 5;
      background: $white;
      @media (max-width: $screen-xs-max) {
        padding: 15px 15px;
        bottom: 0px;
        position: fixed;
        padding-left: 30px;
        padding-right: 30px;
        .button {
          display: block;
          width: 100%;
        }
      }
    }
    .dynamic-card {
      box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
      width: 100%;
      height: 205px;
      position: relative;
      margin-bottom: 12px;
      &:before {
        position: absolute;
        content: '';
        display: block;
        right: 10px;
        top: 10px;
        width: 25px;
        height: 25px;
        background: #8ec439 url('/images/icon_checkmark_white.svg') center no-repeat;
        border-radius: 100%;
        pointer-events: none;
        opacity: 0;
        transform: scale(0);
        transition: all 250ms $easeOutBack;
      }
      &.active {
        &:before {
          pointer-events: all;
          opacity: 1;
          transform: scale(1);
        }
      }
      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a9b2bd;
        font: bold 12px/1em $kia;
        display: block;
        width: 100%;
        text-align: center;
      }
    }
    .add-card-list {
      height: 515px;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding: 0 25px 30px;
      .row {
        margin-left: -6px;
        margin-right: -6px;
        > div {
          padding: 0 6px;
        }
      }
      @media (max-width: $screen-xs-max) {
        padding-bottom: 200px !important;
        max-height: 100vh;
      }
    }
    .dynamic-card-detail {
      padding: 72px 25px 40px;
      overflow: hidden;
      margin: 0 auto;
      @media (max-width: $screen-xs-max) {
        max-width: 360px;
      }
      &-list {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .dynamic-card {
        max-width: 130px;
        float: left;
        margin-right: 30px;
        &-description {
          @media (max-width: $screen-xs-max) {
            float: left;
            max-width: calc(100% - 165px);
          }
          .dnyamic-card-titles {
            display: block;
          }
        }
      }
      .dnyamic-card-titles {
        display: none;
        h2 {
          font: 500 20px/1em $kia;
          color: #000;
          margin: 0 0 8px;
        }
        h3 {
          font: bold 10px/1em $kia;
          color: #969696;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 0 0 13px;
        }
      }
      p {
        font: 14px/1.5em $sans;
        letter-spacing: .6px;
        color: #2f2f2f;
        margin-bottom: 0;
        max-width: 345px;
        margin: 0 auto;
      }
      &-actions {
        margin-top: 30px;
        position: relative;
        height: 40px;
        .button {
          padding: 0 13px;
          position: absolute;
          top: 0;
          pointer-events: none;
          opacity: 0;
          transition: all 250ms $easeOutQuint, opacity 550ms $easeOutQuint 250ms, z-index none;
          z-index: 1;
          &.active {
            opacity: 1;
            pointer-events: all;
            z-index: 2;
          }
          &:not(.active) {
            // transition-delay: 150ms;
          }
          &:not(.outline) {
            i {
              color: $black;
            }
          }
          &.outline {
            i {
              color: #000;
              transition: all 250ms $easeOutQuint;
            }
            &:hover {
              i {
                color: $white;
              }
            }
          }
          i {
            margin-right: 3px;
          }
        }
      }
    }
  }
  .dynamic-card-detail-list {
    .modal-title {
      display: none;
    }
  }
  @media (max-width: $screen-xs-max) {
    .modal-add-card {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .dynamic-card-detail-list {
      position: absolute;
      top: 15px;
      left: 0;
      right: 0;
      bottom: 0;
      > li {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        padding-bottom: 100px;
      }
      .modal-title {
        display: block;
      }
    }
    .modal-content {
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
      .icon-close {
        top: 15px;
      }
      .back {
        top: 18px !important;
      }
      .modal-title {
        padding-top: 5px;
      }
      .add-card-list {
        padding: 0 5px;
        .row {
          > div {
            padding: 0 5px;
          }
        }
        .dynamic-card {
          height: 185px;
        }
      }
      .dynamic-card {
        &-detail {
          position: relative;
          height: 100%;
          padding-bottom: 0px;
          overflow: scroll;
          &-actions {
            position: fixed;
            bottom: 0;
            left: 15px;
            right: 15px;
            height: 50px;
            background: $white;
            margin-top: 0;
            background: $white;
            padding-top: 15px;
            height: 65px;
            .button {
              width: 100%;
              top: 15px;
            }
          }
        }
      }
      .modal-add-card {
        .dynamic-card-detail {
          font-size: 0;
          padding-top: 10px;
          clear: both;
          .dnyamic-card-titles {
            display: inline-block;
            vertical-align: bottom;
            width: 50%;
            padding-left: 20px;
            h2 {
              font-size: 16px;
              letter-spacing: .6px;
              margin-bottom: 6px;;
            }
            h3 {
              font-size: 10px;
              letter-spacing: .3px;
              margin-bottom: 0;
            }
          }
          .dynamic-card {
            display: inline-block;
            float: none;
            vertical-align: bottom;
            width: 50%;
            margin: 0;
            &-description {
              padding-top: 20px;
              width: 100%;
              max-width: 100%;
              .dnyamic-card-titles {
                display: none;
              }
            }
          }
        }
      }
      .carousel {
        &-inner {
          height: auto !important;
          // min-height: 100vh;
        }
        .item {
          padding-bottom: 0px !important;
          height: auto !important;
        }
      }
    }
  }
}

.modal.vehicle-settings {
  .modal-dialog {
    width: 455px;
  }
  .back {
    top: 27px;
  }
  form {
    width: 100%;
    max-width: 100%;
    &.vehicle-settings-main {
      padding: 70px 25px 0;
      .form-fields {
        padding-top: 29px;
        margin-bottom: 35px;
        li {
          height: auto;
          margin-bottom: 5px;
          clear: both;
          &.extra-space {
            padding-top: 10px;
          }
          label {
            margin-bottom: 0;
          }
          strong {
            float: left;
            display: inline-block;
            line-height: 40px;
            margin-bottom: 0;
            font-size: 10px;
            letter-spacing: 0.4px;
            font-family: $kia;
            font-weight: bold;
            text-transform: uppercase;
          }
          input {
            float: right;
            width: 230px;
          }
          &.has-dealer-choice.no-input {
            @media (max-width: $screen-xs-max) {
              > strong {
                display: inline-block;
                float: left;
              }
              .link {
                float: right;
              }
              .preferred-dealer-choice {
                float: none;
                clear: both;
                width: calc(100% + 20px);
                display: block;
                padding-left: 30px;
                margin-bottom: 20px;
                a {
                  display: none;
                }
                strong {
                  display: block;
                  margin-bottom: 4px;
                  position: relative;
                  left: -30px;
                }
                .address,
                .phone {
                  border-bottom: 1px solid #d5d5d5;
                  padding-top: 15px;
                  padding-bottom: 15px;
                  padding-left: 40px;
                  position: relative;
                  width: 100%;
                  &:after {
                    content: "";
                    display: block;
                    right: 22px;
                    width: 11px;
                    height: 13px;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    background: url('/images/icon_arrow_right_dark.svg') right center/contain no-repeat;
                  }
                }
                .address {
                  background: url('/images/icon_location_circle.svg') left center no-repeat;
                }
                .phone {
                  background: url('/images/icon_phone.svg') left center no-repeat;
                  color: $black;
                  span {
                    color: $black;
                    -webkit-appearance: none;
                    a {
                      color: $black;
                    }
                  }
                }
              }
            }
          }
          .link {
            float: right;
            font: bold 11px/40px $kia;
            letter-spacing: .7px;
            text-transform: uppercase;
            color: $red;
            position: relative;
            padding-right: 17px;
            cursor: pointer;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              width: 6px;
              height: 10px;
              transform: translateY(-50%) rotate(180deg);
              background: url('/images/icon_back_arrow.svg') center/contain no-repeat;
            }
          }
          .preferred-dealer-choice {
            float: right;
            width: 131px;
            display: inline-block;
            font: 14px/1.5em $sans;
            padding-top: 10px;
            letter-spacing: .6px;
            margin-right: 36px;
            margin-bottom: 10px;
            strong {
              text-transform: none;
              font: inherit;
              font-weight: bold;
            }
            span {
              display: block;
            }
            a {
              display: inline-block;
              color: $red;
              font: bold 11px/1em $kia;
              text-transform: uppercase;
              letter-spacing: .7px;
              margin-bottom: 17px;
            }
          }
          .helper {
            position: relative;
            float: right;
            width: 230px;
            font-style: normal;
            padding-left: 2px;
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        padding: 60px 5px 0;
        .form-fields {
          li {
            strong {
              float: none;
            }
            .helper,
            input {
              width: 100%;
              float: none;
            }
            &.extra-space {
              padding-top: 20px;
            }
            &.no-input {
              strong {
                display: none;
              }
              .link {
                float: none;
              }
            }
          }
        }
      }
    }
  }
  .vehicle-settings-main {
    .form-actions {
      font-size: 0;
      overflow: hidden;
      padding: 30px 0 25px;
      width: 100%;
      .button {
        width: calc(50% - 5px);
        padding: 0;
        text-align: center;
        &:last-child {
          float: right;
        }
      }
    }
    &-header {
      border-bottom: solid 1px #e5e9ef;
      height: 45px;
      line-height: 45px;
      margin-bottom: 26px;
      strong {
        font: 500 24px/45px $kia;
        letter-spacing: .5px;
      }
      .print {
        float: right;
        color: #bb1a30;
        font: bold 11px/45px $kia;
        text-transform: uppercase;
        letter-spacing: .7px;
        transition: all 250ms $easeOutQuint;
        cursor: pointer;
        i {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          svg {
            * {
              fill: #bb1a30 !important;
              transition: all 250ms $easeOutQuint;
            }
          }
        }
        &:hover {
          color: darken(#bb1a30, 10%);
          svg {
            * {
              fill: darken(#bb1a30, 10%) !important;
            }
          }
        }
      }
    }
    &-meta {
      &-item {
        margin-bottom: 10px;
        strong {
          display: block;
          font: bold 10px/1em $kia;
          letter-spacing: .4px;
          color: #000;
          text-transform: uppercase;
          margin-bottom: 3px;
        }
        em {
          display: block;
          font: 16px/1em $sans;
          letter-spacing: .4px;
        }
      }
    }
    &-image {
      text-align: center;
      padding-top: 10px;
      img {
        max-width: 100%;
        width: 136px;
        margin-bottom: 23px;
      }
      a {
        font: bold 11px/2.09em $kia;
        letter-spacing: .7px;
        text-transform: uppercase;
        color: $red;
        @media (max-width: $screen-xs-max) {
          display: block;
          line-height: 1.45em;
        }
      }
    }
  }
}

.modal.vehicle-settings {
  @media (max-width: $screen-xs-max) {
    .modal-content {
      margin-bottom: 0px !important;
      padding-bottom: 0px !important;
      .item.active {
        padding-bottom: 0px !important;
      }
    }
  }
}

.modal-preferred-dealer {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  .map-wrap {
    position: relative;
    margin-bottom: 25px;
    .map {
      width: 100%;
      height: 237px;
    }
    .map-search {
      position: absolute;
      top: 15px;
      left: 25px;
      right: 25px;
      input {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0 20px 0 40px;
        font: 400 14px $sans;
        letter-spacing: .4px;
        border: none;
        box-shadow: 0 0 5px 0 rgba(39, 48, 59, 0.56);
        border-radius: 3px;
        background: $white url('/images/icon_search.svg') 13px center no-repeat;
        outline: none;
      }
    }
  }
  .radio-choices {
    padding: 0 25px;
    margin: 0;
    list-style: none;
    max-height: 350px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    li {
      border-bottom: solid 1px #d4d4d4;
      &:last-child {
        display: none;
      }
      .radio {
        padding: 15px 0;
        > em {
          padding-left: 80px;
          position: relative;
          &:before {
            left: 25px;
          }
          &:after {
            left: 25px;
          }
          .address {
            display: block;
            > * {
              display: block;
              font: normal 14px $sans;
              letter-spacing: .5px;
              color: $grey_2;
            }
            strong {
              font: 16px;
              font-weight: 600;
            }
          }
          .distance {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font: 12px/1em $sans;
            color: #989898;
            letter-spacing: .3px;
          }
        }
      }
    }
  }
  .modal-footer {
    padding: 20px 30px 5px;
    .button {
      width: 100%;
    }
  }
  @media (max-width: $screen-xs-max) {
    .map-wrap {
      .map {
        height: 210px;
      }
    }
    .radio-choices {
      max-height: calc(100vh - 425px);
      li {
        .radio {
          > em {
            padding-left: 55px;
            &:before,
            &:after {
              left: 15px;
            }
          }
        }
      }
    }
  }
}
.modal {
  .modal-custom-field {
    padding: 0 25px;
    form {
      padding-top: 20px;
      .form-footer {
        text-align: left;
        padding-top: 0px;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 0 5px;
    }
  }
}

.category-selector {
  padding-left: 25px;
  margin-bottom: 25px;
  em {
    font: bold 10px/1em $kia;
    letter-spacing: 1px;
    color: #969696;
    text-transform: uppercase;
  }
  .dropdown {
    display: inline-block;
    button {
      background: none;
      border: none;
      height: auto;
      display: inline-block;
      padding: 0;
      font: bold 10px/1em $kia;
      letter-spacing: 1px;
      color: $grey_2;
      text-transform: uppercase;
      margin-left: 10px;
    }
    &-menu {
      box-shadow: 1px 4px 15px 0 rgba(0, 0, 0, 0.23);
      border: none;
      min-width: 114px;
      left: auto;
      right: -25px;
      overflow: visible;
      margin-top: 5px;
      border-radius: 2px;
      &:before {
        position: absolute;
        right: 24.5px;
        bottom: 100%;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent $white transparent;
      }
      li {
        padding: 0 20px;
        height: 45px;
        line-height: 45px;
        cursor: pointer;
        transition: all 250ms $easeOutQuint;
        &:hover {
          background: rgba($grey_2, .1);
        }
      }
    }
  }
}
