@import "../variables.scss";
@import "../mixins.scss";

.view-reference-material {
  .page-view-header {
    padding-top: 42px;
    overflow: hidden;
    @media (max-width: $screen-xs-max) {
      padding-top: 24px;
    }
    h2 {
      font: 100 32px/1em $kia;
      letter-spacing: 1.5px;
      color: #000;
      margin: 0;
      @media (max-width: $screen-xs-max) {
        font-size: 20px;
        letter-spacing: .5px;
      }
    }
  }
  .contain {
    max-width: 852px;
    padding: 0 20px;
  }
  .page-view-content {
    .text-content {
      padding-top: 51px;
      font: 14px/1.5em $sans;
      max-width: 650px;
      letter-spacing: .6px;
      strong {
        display: block;
        margin-bottom: 2px;
      }
      p {
        margin-bottom: 10px;
      }
      @media (max-width: $screen-xs-max) {
        padding-top: 25px;
        font-size: 13px;
        letter-spacing: .3px;
        line-height: 1.62em;
      }
    }
  }
  .switch-views {
    border: none;
    > a {
      border: none;
      padding: 0;
      margin: 0 21px;
      @media (max-width: $screen-xs-max) {
        margin: 0 7px;
      }
      svg {
        * {
          fill: #8e8e8e !important;
          transition: all 250ms $easeOutQuint;
        }
      }
      &.active {
        svg {
          * {
            fill: $red !important;
            transition: all 250ms $easeOutQuint;
          }
        }
      }
      &:hover {
        svg {
          * {
            fill: darken($red, 10%) !important;
          }
        }
      }
    }
    > * {
      display: inline-block;
    }
    .search {
      margin-left: 21px;
      position: relative;
      @media (max-width: $screen-xs-max) {
        margin-left: 7px;
      }
      &:before {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        background: url('/images/icon_search.svg') center/contain no-repeat;
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        pointer-events: none;
      }
      input[type="text"] {
        -webkit-appearance: none;
        height: 40px;
        border: 1px solid #a9adb1;
        border-radius: 2px;
        background: #fff;
        padding-left: 40px;
        display: block;
        font-size: 11px;
        font-weight: normal;
        letter-spacing: 1.4px;
        outline: none;
        width: 200px;
      }
    }
  }
  .tab-content {
  }
  .page-view-intro {
    padding-top: 40px;
    margin-bottom: 55px;
    p {
      max-width: 653px;
      font: 14px/1.5em $sans;
      @media (max-width: $screen-sm-max) {
        max-width: 100%;
      }
    }
  }
  .menu-with-content {
    @media (max-width: $screen-xs-max) {
      .row {
        > div {
          padding: 0 5px;
        }
      }
    }
    .page-view-header {
      margin-bottom: 32px;
      position: relative;
      .back {
        display: block;
        position: absolute;
        top: 10px;
        left: 0px;
        width: 30px;
        height: 17px;
        cursor: pointer;
        transition: all 250ms $easeOutQuint;
        z-index: 3;
        background: url('/images/icon_back_arrow.svg') left center/contain no-repeat;
        font: bold 12px/17px $kia;
        letter-spacing: .3px;
        color: #000;
        text-transform: uppercase;
        padding-left: 20px;
        text-decoration: none;
        @media (max-width: $screen-xs-max) {
          position: relative;
          top: -10px;
          transform: scale(.9);
          transform-origin: left center;
          margin-bottom: 4px;
        }
      }
    }
    .sub-tabs {
      padding-top: 45px;
      @media (max-width: $screen-xs-max) {
        padding-top: 0;
      }
      strong {
        display: block;
        font: bold 10px $kia;
        letter-spacing: .4px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .bootstrap-select {
        margin-bottom: 28px;;
      }
    }
    .content-area {
      background: #FFFFFF;
      box-shadow: 0 1px 3px 0 rgba(39,48,59,0.24);
      border-radius: 2px;
      padding: 36px 40px 80px;
      font: 14px/1.5em $sans;
      letter-spacing: .6px;
      iframe {
        width: 100%;
        margin-bottom: 25px;
      }
      h3 {
        font: bold 14px $kia;
        letter-spacing: .4px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 33px;
      }
      p {
        margin-bottom: 20px;
        max-width: 430px;
      }
      @media (max-width: $screen-xs-max) {
        padding: 10px 10px 20px;
      }
      &.faq-area {
        padding: 0;
      }
      .list-row {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .faq-row {
        border-bottom: solid 1px #d5d5d5;
        padding: 13px 75px 15px 20px;
        position: relative;
        cursor: pointer;
        strong {
          display: block;
          font: bold 12px/1.75em $kia;
          letter-spacing: .3px;
        }
        p {
          margin: 0;
        }
        .icon-arrow-right {
          position: absolute;
          top: 50%;
          right: 37.5px;
          transform: translateY(-50%);
          transition: all 250ms $easeOutQuint;
        }
        @media (min-width: $screen-xs-max) {
          &:hover {
            .icon-arrow-right {
              margin-right: -10px;
            }
          }
        }
        @media (max-width: $screen-xs-max) {
          padding-left: 12px;
          padding-right: 30px;
          p {
            font-size: 12px;
            letter-spacing: .3px;
          }
          .icon-arrow-right {
            right: 10px;
          }
        }
      }
    }
  }
}

.modal-video {
  .modal-dialog {
    width: 776px;
    .video-wrap {
      position: relative;
      padding-top: 56.314433%;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    .modal-dialog {
      background: transparent !important;
      pointer-events: none;
      iframe {
        pointer-events: all;
      }
    }
    .video-wrap {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.sub-tabs {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 185px;
    li {
      margin-bottom: 20px;
      a {
        font: bold 12px $kia;
        letter-spacing: .7px;
        color: #929292;
        text-transform: uppercase;
        position: relative;
        padding-left: 11px;
        display: block;
        transition: all 250ms $easeOutQuint;
        text-decoration: none;
        &.active {
          color: #2f2f2f;
          border-left: 3px solid $red;
          padding-left: 8px;
        }
        &:hover {
          color: #2f2f2f;
        }
      }
    }
  }
}

.icon-arrow-right {
  display: block;
  width: 12px;
  height: 18px;
  background: url('/images/icon_arrow_right_dark.svg') center/contain no-repeat;
}
