@import "../variables.scss";
@import "../mixins.scss";
body {
  padding-bottom: 0 !important;
  footer {
    display: none;
  }
}
.locations-map {
  height: calc(100vh - 125px);
  margin-top: 1px;
  width: 100%;
  position: relative;
  overflow: hidden;
  @media (max-width: $screen-sm-max) {
    height: calc(100vh - 194px);
  }
  @media (max-width: $screen-xs-max) {
    height: calc(100vh - 150px);
  }
  .map {
    height: inherit;
    width: inherit;
  }
  .locations-utility {
    position: absolute;
    top: 23px;
    left: 20px;
    width: 531px;
    border-right: 2px;
    max-width: calc(100vw - 40px);
    z-index: 2;
    &-inner {
      background: $white;
      box-shadow: 0 2px 4px 0 rgba(#000028, .25);
      border: solid 1px #d5d5d5;
      position: relative;
      z-index: 2;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
      max-width: 100%;
      left: 0;
      top: -50px;
      box-shadow: none;
      transition: all 550ms $easeOutQuint;
      z-index: 10;
      &.open {
        top: 0;
        box-shadow: 0 2px 4px 0 rgba(#000028, .25);
      }
      &.hide-search {;
        .locations-utility-main {
          height: 0;
        }
      }
      &.slide-down {
        top: 200px;
        .locations-utility {
          &-drawer {
            #locations-utility-carousel {
              .carousel-inner   {
                height: calc(100vh - 383px) !important;
                overflow: auto;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                -webkit-overflow-scrolling: touch;
                .item {
                  height: calc(100vh - 383px) !important;
                }
              }
            }
          }
        }
      }
    }
    @media (max-height: 800px) AND (min-width: $screen-xs-max) {
      #locations-utility-carousel {
        .carousel-inner   {
          height: calc(100vh - 270px) !important;
          overflow: auto;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          -webkit-overflow-scrolling: touch;
          .item {
            height: calc(100vh - 270px) !important;
          }
        }
      }
    }
    &-main {
      height: 50px;
      @media (max-width: $screen-xs-max) {
        transition: all 550ms $easeOutQuint;
        overflow: hidden;
      }
      form {
        display: inline-block;
        width: calc(100% - 150px);
        vertical-align: middle;
        position: relative;
        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
        .icon-cancel,
        .icon-search {
          position: absolute;
          top: 50%;
          left: 18px;
          pointer-events: none;
          transform: translateY(-50%);
          margin-top: 2px;
        }
        .icon-cancel {
          left: auto;
          right: 2px;
          transition: all 250ms $easeOutQuint;
          opacity: 0;
          cursor: pointer;
          @media (max-width: $screen-xs-max) {
            right: 20px;
          }
        }
        input[type="text"] {
          -webkit-appearance: none;
          border: none;
          height: 50px;
          width: 100%;
          padding-left: 47px;
          font: 400 14px $sans;
          letter-spacing: .4px;
          outline: none;
          background: none;
          padding-right: 30px;
          @media (max-width: $screen-xs-max) {
            padding-right: 50px;
          }
          &.has-text {
            + .icon-cancel {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
      }
    }
    &-tools {
      display: inline-block;
      vertical-align: middle;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
    &-drawer {
      transition: all 550ms $easeOutQuint;
      // height: 0px;
      > .collapsing,
      .collapse {
        border-top: solid 1px #d4d4d4;
      }
    }
  }
  .locations-search-results-list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 400px;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    @media (max-width: $screen-xs-max) {
      max-height: calc(100vh - 100px);
    }
    > li {
      border-bottom: solid 1px #e8e8e8;;
      &:last-child {
        border-bottom: 0;
      }
    }
    .locations-search-results-item {
      position: relative;
      padding-left: 60px;
      min-height: 55px;
      cursor: pointer;
      &:hover {
        > .icon-arrow-right {
          margin-right: -5px;
        }
      }
      > i:not(.icon-arrow-right) {
        position: absolute;
        left: 0;
        width: 60px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
      }
      > .icon-arrow-right {
        right: 30px;
        transition: all 250ms $easeOutQuint;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      > span:not(.button) {
        position: absolute;
        right: 64px;
        top: 50%;
        display: block;
        transform: translateY(-50%);
        font: 12px/1em $sans;
        letter-spacing: .3px;
        color: #9ba1a9;
        @media (max-width: $screen-xs-max) {
          right: 33px;
        }
      }
      &-titles {
        position: relative;
        padding-top: 10px;
        padding-right: 110px;
        @media (max-width: $screen-xs-max) {
          padding-right: 85px;
        }
        > * {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        strong {
          display: block;
          font: 600 14px $sans;
          letter-spacing: .4px;
        }
        em {
          font: 12px $sans;
          color: #9ba1a9;
          display: block;
          letter-spacing: .4px;
        }
      }
    }
  }
  .locations-search-results-footer {
    padding-right: 32px;
    border-top: solid 1px #e8e8e8;
    overflow: hidden;
    &-inner {
      padding: 7px 0 8px;
      em {
        display: block;
        font: bold 8px/1em $sans;
        letter-spacing: .2px;
        color: #919191;
        text-transform: uppercase;
        margin-bottom: 2px;
      }
      img {
        display: block;
      }
    }
  }
  #locations-utility-carousel {
    .delete {
      position: absolute;
      top: 15px;
      right: 23px;
      font: bold 11px/2.09em $kia;
      color: $red;
      text-transform: uppercase;
      letter-spacing: .7px;
      transition: all 250ms $easeOutQuint;
      cursor: pointer;
      i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 9px;
        position: relative;
        top: 2px;
        svg {
          * {
            fill: $red !important;
            transition: all 250ms $easeOutQuint;
          }
        }
      }
      &:hover {
        color: darken($red, 10%);
        i {
          svg {
            * {
              fill: darken($red, 10%) !important;
            }
          }
        }
      }
    }
    .back {
      position: absolute;
      top: 15px;
      font: bold 10px/1em $kia;
      letter-spacing: .3px;
      text-transform: uppercase;
      left: 23px;
      padding-left: 15px;
      cursor: pointer;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 6px;
        height: 10.5px;
        background: url('/images/icon_arrow_right_dark.svg') center no-repeat;
        top: 50%;
        transform: translateY(-50%) rotate(-180deg);
        transition: all 250ms $easeOutQuint;
        pointer-events: none;
      }
      &:hover {
        &:before {
          margin-left: -3px;
        }
      }
      @media (max-width: $screen-xs-max) {
        left: 15px;
      }
    }
  }
  .poi-detail {
    position: relative;
    padding-top: 70px;
    @media (max-width: $screen-xs-max) {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    &.poi-edit {
      .poi-edit-title {
        margin-bottom: 5px;
        margin-left: -3px;
        height: 20px;
        position: relative;
        &.editing {
          .poi-edit-title-main {
            opacity: 0;
          }
          input {
            opacity: 1;
            cursor: text;
          }
        }
      }
      .poi-edit-title-main {
        transition: all 250ms $easeOutQuint;
        opacity: 1;
      }
      .poi-detail-main {
        strong {
          text-transform: none;
          font: bold 16px/20px $kia;
          letter-spacing: .4px;
          display: inline-block;
          width: auto;
          padding: 0;
          height: 20px;
          margin-bottom: 0;
          padding-left: 3px;
          cursor: pointer;
          max-width: calc(100% - 120px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          + i {
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
          svg {
            * {
              transition: all 250ms $easeOutQuint;
              fill: #9BA1A9 !important;
            }
            }
          }
          @media (max-width: $screen-xs-max) {
            font-size: 14px;
          }
        }
        strong:hover {
          + i svg {
            * {
              fill: #000 !important;
            }
          }
        }
        input {
          cursor: pointer;
          -webkit-appearance: none;
          border: none;
          background: rgba(169, 190, 203, .3);
          font: bold 16px $kia;
          letter-spacing: .4px;
          height: 25px;
          display: block;
          width: calc(100% - 100px);
          border-bottom: 2px dashed #adadad;
          padding: 0 10px 0 3px;
          position: absolute;
          top: 1px;
          opacity: 0;
          z-index: 1;
          transition: all 250ms $easeOutQuint;
          outline: none;
          @media (max-width: $screen-xs-max) {
            font-size: 14px;
          }
        }
      }
      .field {
        .label {
          color: #969696;
        }
      }
      .poi-actions {
        padding-left: 15px;
        margin-bottom: 20px;
        padding-top: 10px;
      }
    }
    &-main {
      padding-left: 78px;
      position: relative;
      margin-bottom: 22px;
      @media (max-width: $screen-xs-max) {
        padding-left: 50px;
      }
      > i {
        position: absolute;
        left: 28px;
        top: -5px;
        display: block;
        svg {
          min-width: 30px;
          min-height: 44px;
          @media (max-width: $screen-xs-max) {
            min-width: 22px;
            min-height: 32px;
          }
        }
        @media (max-width: $screen-xs-max) {
          left: 16px;
        }
      }
      strong {
        display: block;
        font: bold 14px $kia;
        letter-spacing: .4px;
        text-transform: uppercase;
        margin-bottom: 4px;
        padding-right: 90px;
        @media (max-width: $screen-xs-max) {
          font-size: 12px;
          text-transform: none;
        }
      }
      em {
        display: block;
        font: 14px/1.5em $sans;
        color: #000;
        padding-right: 90px;
        @media (max-width: $screen-xs-max) {
          font-size: 12px;
          color: #9ba1a9;
        }
      }
      q {
        display: block;
        font: italic 14px $sans;
        letter-spacing: .6px;
        padding-top: 10px;
        @media (max-width: $screen-xs-max) {
          font-size: 12px;
          padding-top: 5px;
        }
      }
      > span {
        position: absolute;
        right: 30px;
        top: 10px;
        font: 12px $sans;
        letter-spacing: .3px;
        color: #9ba1a9;
      }
      &-buttons {
        padding-left: 25px;
        margin-bottom: 22px;
        .button {
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
          margin-right: 5px;
          i {
            display: inline-block;
            margin-right: 3px;
            position: relative;
            top: 1px;
          }
          &:last-of-type {
            margin-right: 0;
          }
          @media (max-width: $screen-xs-max) {
            width: 48%;
            margin-bottom: 5px;
            padding: 0;
            text-align: center;
            &:nth-child(2) {
              float: right;
              margin-right: 0;
            }
            &:nth-child(3) {
              width: 100%;
            }
          }
        }
        @media (max-width: $screen-xs-max) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    &-fields {
      text-align: left;
      font-size: 0px;
      .field {
        min-height: 55px;
        text-align: left;
        border-bottom: solid 1px #e8e8e8;
        &:last-child {
          border-bottom: none;
        }
        .label {
          display: inline-block;
          width: 130px;
          color: #000;
          text-transform: uppercase;
          font: bold 10px/55px $kia;
          vertical-align: top;
          text-align: left;
          padding: 0;
          border-radius: 0px;
          padding-left: 15px;
        }
        &-cell {
          min-height: 55px;
          display: inline-block;
          vertical-align: top;
          font: 14px/55px $sans;
          letter-spacing: .4px;
          width: calc(100% - 130px);
          em {
            color: $red;
            font-style: normal;
          }
          input[type="tel"],
          input[type="text"] {
            -webkit-appearance: none;
            border: none;
            font-style: italic;
            outline: none;
            width: 100%;
            padding-right: 30px;
            height: 57px;
            background: none;
            padding-left: 0px;
          }
        }
      }
    }
  }
}

.popular-times {
  width: 100%;
  max-width: 420px;
  margin: 0 auto 60px;
  @media (max-width: $screen-xs-max) {
    max-width: calc(100% - 30px);
  }
  &-bars {
    height: 77px;
    border-bottom: solid 1px #dddddd;
    > span {
      display: inline-block;
      width: calc(100% / 21);
      vertical-align: bottom;
      position: relative;
      height: 100%;
      &:first-child {
        &:before {
          content: "";
          position: absolute;
          display: block;
          height: 6px;
          width: 1px;
          border-right: solid 1px #dddddd;;
          top: 100%;
          left: 0px;
          transform: none;
        }
      }
      &:before {
        position: absolute;
        top: 100%;
        right: 1px;
        transform: translate(50%, 15px);
        font: 10px/2.1em $sans;
        color: $black;
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 6px;
        width: 1px;
        border-right: solid 1px #dddddd;;
        top: 100%;
        right: 1px;
        text-transform: .3px;
      }
      &:nth-child(24) {
        > span {
          height: 50%;
        }
      }
      &:nth-child(3) {
        &:before {
          content: "9a";
        }
      }
      &:nth-child(6) {
        &:before {
          content: "12p";
        }
      }
      &:nth-child(9) {
        &:before {
          content: "3p";
        }
      }
      &:nth-child(12) {
        &:before {
          content: "6p";
        }
      }
      &:nth-child(15) {
        &:before {
          content: "9p";
        }
      }
      &:nth-child(18) {
        &:before {
          content: "12a";
        }
      }
      &:nth-child(3n) {
        &:after {
          height: 12px;
        }
      }
      &:last-child {
        &:after {
          height: 6px;
        }
      }
      > span {
        position: absolute;
        bottom: 0;
        left: 1px;
        right: 1px;
        background: #4bbef0;
        border-radius: 2px;
        max-height: 100%;
      }
    }
  }
}

.icon-arrow-right {
  display: block;
  width: 8px;
  height: 13px;
  background: url('/images/icon_arrow_right_dark.svg') center no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.poi-filtering {
  padding: 30px 15px 25px;
  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
  }
  .radio,
  .checkbox {
    em {
      padding-left: 28px;
    }
  }
  .radio {
    em {
      font: 12px $sans;
      letter-spacing: .3px;
    }
  }
  li.hidden-lg {
    margin-bottom: 5px;
  }
  @media (max-width: $screen-xs-max) {
    .charge-type-header {
      margin-bottom: 0;
      label {
        margin-bottom: 0;
      }
    }
    .brands-header {
      padding-top: 20px;
    }
  }
  form {
    .form-fields {
      margin-bottom: 26px;
      .sub-form-fields {
        padding: 0 0 5px 18px;
        margin: 20px 0 0 8px;
        list-style: none;
        border-left: solid 2px #d4d4d4;
        max-height: 280px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }
      .toggle-group {
        max-width: 485px;
        user-select: none;
        label {
          vertical-align: top;
          span {
            height: 44px;
            line-height: 44px;
            strong {
              display: block;
              padding-top: 8px;
              font: bold 10px/1.2em $kia;
              margin-bottom: 1px;
            }
            em {
              display: block;
              font: 12px $sans;
              letter-spacing: .3px;
              text-transform: none;
            }
          }
        }
      }
    }
  }
  .checkbox {
    em {
      font: 14px/1.5em $sans;
      letter-spacing: .6px;
    }
  }
}

.saved-pois {
  padding-top: 10px;
  &-filters {
    padding-left: 16px;
    margin-bottom: 10px;
    @media (max-width: $screen-xs-max) {
      border-bottom: solid 1px #e8e8e8;
      padding-bottom: 12px;
      .category-selector {
        margin-bottom: 0;
        + .category-selector {
          margin-left: 20px !important;
        }
      }
    }
  }
  ul.recommended {
    border-bottom: solid 1px #e8e8e8;
    margin-bottom: 30px;
    .locations-search-results-item {
      em,
      strong {
        padding-right: 190px !important;
      }
      > span:not(.button) {
        opacity: .5;
        right: 140px;
      }
      > .button {
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10px;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 10px;
      .locations-search-results-item {
        > span:not(.button) {
          display: none;
        }
        em,
        strong {
          padding-right: 50px !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .list-header {
    display: block;
    padding-left: 16px;
    font: bold 10px $kia;
    letter-spacing: 1px;
    color: #969696;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .category-selector {
    padding-left: 0;
    display: inline-block;
    + .category-selector {
      margin-left: 30px;
    }
  }
}

.locations-utility-tools {
  font-size: 0;
  > * {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    padding: 0 13px;
    cursor: pointer;
    color: #000;
    font: bold 12px/50px $kia;
    letter-spacing: .3px;
    position: relative;
    &:after {
      position: absolute;
      top: 50%;
      height: calc(100% - 20px);
      content: "";
      display: block;
      width: 1px;
      background: #d4d4d4;
      right: -1px;
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      content: "";
      display: block;
      width: 1px;
      background: #d4d4d4;
      left: 0;
      pointer-events: none;
      opacity: 0;
      transition: all 250ms $easeOutQuint;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      * {
        fill: #9ba1a9 !important;
        transition: all 250ms $easeOutQuint;
      }
    }
    &:hover {
      svg {
        * {
          fill: darken(#9ba1a9, 20%) !important;
        }
      }
    }
    &.active {
      &:before {
        opacity: 1;
      }
      &:first-child {
        &:after {
          height: 100%;
        }
      }
      &.icon-poi {
        svg {
          * {
            fill: #ffc62f !important;
          }
        }
      }
      svg {
        * {
          fill: $red !important;
        }
      }
    }
  }
}

#locations-utility-carousel {
  .carousel-inner {
    transition: all 350ms $easeOutQuint;
    .item {
      transition: all 550ms $easeOutQuint;
    }
  }
}

.locations-page-view {
  @media (max-width: $screen-xs-max) {
    .page-view-subnav {
      border-top: solid 2px #e8e8e8;;
      height: 41px;
      position: relative;
      z-index: 11;
      .page-view-subnav-items {
        line-height: 41px;
        a.active {
          &:before {
            bottom: 6px;
          }
        }
      }
    }
  }
}

.mobile-nav-options {
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    &:last-child {
      margin-right: -5px;
    }
  }
  i {
    padding: 0 5px;
    svg {
      * {
        fill: #9BA1A9 !important;
        transition: all 250ms $easeOutQuint;
      }
    }
    &.active {
      svg {
        * {
          fill: $red !important;
        }
      }
      &.icon-poi {
        svg {
          * {
            fill: #ffc62f !important;
          }
        }
      }
    }
  }
}

.filter-list {
  background-color: #f1f1f1;
  padding: 7px 20px;
  transition: all 250ms $easeOutQuint;
  overflow: hidden;
  .badge {
    background-color: #000;
    margin-bottom: 2px;
    margin-right: 2px;
    font: 12px $sans;
    letter-spacing: .3px;
    i {
      font-size: 10px;
      margin-left: 3px;
      cursor: pointer;
    }
  }
  @media (max-width: $screen-xs-max) {
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: $screen-xs-max) {
  body {
    .page-view-subnav {
      transition: all 250ms $easeOutQuint;
    }
    .nav-app-main {
      transition: all 250ms $easeOutQuint;
    }
    &.hide-subnav {
      .page-view-subnav {
        margin-top: -2px;
        height: 0 !important;
        overflow: hidden;
      }
      .nav-app-main {
        opacity: 0;
        pointer-events: none;
      }
      .locations-map {
        height: calc(100vh - 60px);
      }
    }
  }
}

.toggle-detail {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #FFF;
  width: 70px;
  height: 30px;
  z-index: 1;
  overflow: hidden;
  transition: all 250ms $easeOutQuint;
  cursor: pointer;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  &:before {
    position: absolute;
    top: 0;
    bottom: -10px;
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 40, 0.25);
    pointer-events: none;
  }
  i {
    transition: all 250ms $easeOutQuint;
    transform: translate(-50%, -50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
  }
  &.flip {
    i {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.show-toggle {
  .toggle-detail {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 40, 0.25);
    transform: translate(-50%, 100%);
  }
}

.pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  &-icon.car {
    width: 57px;
    height: 31px;
    display: block;
    background: url('/images/pin_car.png') center no-repeat;
  }
  .pin-close {
    position: absolute;
    right: 20px;
    top: 18px;
    display: block;
    height: 20px;
    width: 20px;
    overflow: hidden;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
    }
  }
  &.pin-poi {
    margin-left: 250px;
    margin-top: 250px;
    .pin-box {
      margin-bottom: 75px;
    }
  }
  .pin-box {
    background-color: #ffffff;
  	box-shadow: 1px 4px 15px 0 rgba(#000, .25);
    width: 294px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 32px;
    padding: 20px 20px 25px;
    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      margin-top: 3px;
      border-style: solid;
      border-width: 12px 10px 0 10px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
  .pin-header {
    font: bold 10px/1em $kia;
    letter-spacing: 1px;
    color: #969696;
    margin-bottom: 11px;
    display: block;
  }
  .pin-data {
    position: relative;
    padding-right: 50px;
    strong {
      display: block;
      font: bold 14px/1.36 $sans;
      letter-spacing: .4px;
    }
    span {
      display: block;
      font: 12px/1.58em $sans;
    }
    em {
      display: block;
      font: italic 10px/1.9em $sans;
      color: #969696;
    }
    .distance {
      position: absolute;
      right: 0;
      top: 10px;
      font: 12px $sans;
      letter-spacing: .3px;
      color: #9ba1a9;
    }
    + .pin-actions {
      padding-top: 20px;
    }
  }
  .pin-actions {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      font: bold 11px/2.09em $kia;
      letter-spacing: .7px;
      color: $red;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 2px;
      svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        position: relative;
        top: -2px;
      }
    }
    + .pin-update {
      margin-top: 23px;
    }
  }
  .pin-update {
    height: 40px;
    margin-bottom: -20px;
    border-top: solid 1px #d4d4d4;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    text-align: center;
    cursor: pointer;
    span {
      position: absolute;
      display: block;
      width: 100%;
      line-height: 40px;
      font: 12px/40px $sans;
      letter-spacing: .3px;
      transition: all 250ms $easeOutQuint;
      z-index: 2;
      cursor: pointer;
      i {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin-right: 5px;
      }
      &.refreshing {
        cursor: default;
        opacity: 0;
        z-index: 1;
        pointer-events: none;
      }
    }
  }
  &.pin-refreshing {
    pointer-events: none;
    .pin-update {
      span {
        opacity: 0;
        &.refreshing {
          opacity: 1;
          z-index: 2;
          pointer-events: all;
        }
      }
    }
  }
}

.icon-communicating {
  width: 17px;
  height: 17px;
  display: inline-block;
  background: url('/images/icon_communicating.png') center/contain no-repeat;
  animation: spin 1s infinite linear;
  &.white {
    background-image: url('/images/icon_communicating_white.png');
    width: 17px;
    height: 17px;
  }
}

.icon-refresh  {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url('/images/icon_refresh.svg') center/contain no-repeat;
  vertical-align: middle;
}

.map-legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(#000, .28);
	border: solid 1px #d4d4d4;
  z-index: 1;
  @media (max-width: $screen-xs-max) {
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    position: fixed;
  }
  ul {
    margin: 0;
    padding: 20px;
    list-style: none;
    li {
      font: 12px/1.75em $sans;
      letter-spacing: .3px;
      margin-bottom: 11px;
      &:last-child {
        margin-bottom: 0;
      }
      svg {
        width: 21px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 11px;
      }
    }
  }
  ul.mobile-legend {
    padding: 9px 20px 9px 11px;
    font-size: 0;
    white-space: nowrap;
    li {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 15px;
      line-height: 1em;
      &:last-child {
        margin-right: 0;
      }
      span {
        display: inline-block;
        width: 7px;
        height: 7px;
        vertical-align: middle;
        position: relative;
        top: -2px;
        border-radius: 100%;
        margin-right: 5px;
        &.green {
          background: #8ec439;
        }
        &.red {
          background: #ff6b4d;
        }
        &.slate {
          background: #75859a;
        }
      }
    }
  }
}

.waypoints {
  padding: 10px 15px;
  margin-bottom: 10px;
  &-action {
    .button {
      width: 146px;
    }
  }
  + .poi-actions {
    .button {
      width: 146px;
    }
  }
  .waypoint {
    &-input {
      position: relative;
      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        margin-top: 2px;
        cursor: pointer;
        &.icon-search {
          left: 16px;
          pointer-events: none;
        }
        &.icon-cancel {
          right: 16px;
          svg {
            path {
              transition: all 250ms $easeOutQuint;
            }
          }
          &:hover {
            svg {
              path {
                fill: #000 !important;
              }
            }
          }
        }
      }
      input[type="text"] {
        display: block;
        width: 100%;
        height: 50px;
        font: 600 14px $sans;
        letter-spacing: .4px;
        padding-left: 45px;
        border: solid 1px #d4d4d4;
        outline: none;
      }
      .locations-search-results-list {
        position: absolute;
        top: 100%;
        z-index: 1;
        background: $white;
        max-height: 161px;
        width: 100%;
        border: solid 1px #d4d4d4;
        border-top: none;
        pointer-events: none;
        opacity: 0;
        transition: all 250ms $easeOutQuint;
        .locations-search-results-item > span:not(.button) {
          right: 21px;
        }
        &.show {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
