@import "../variables.scss";
@import "../mixins.scss";
.view-schedules {
  .schedules-empty-state {
    height: calc(100vh - 250px);
    min-height: 450px;
    max-width: 462px;
    margin: 0 auto;
    position: relative;
    position: relative;
    &-inner {
      padding: 0 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
    }
    .icon-schedules-empty-state {
      margin: 0 auto 21px;
    }
    h2 {
      font: 500 29px $kia;
      margin: 0 0 26px;
    }
    p {
      font: 14px/1.5em $sans;
      letter-spacing: .6px;
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:first-of-type {
        margin-bottom: 30px;
      }
    }
  }
  .schedules-wrapper {
    padding: 0 50px;
    margin: 0 auto;
    @media (max-width: $screen-xs-max) {
      padding: 0 0px;
      .schedules-alert-area-header {
        padding: 0 16px;
      }
    }
  }
  .schedules-header {
    padding: 40px 0 0;
    margin-bottom: 20px;
    overflow: hidden;
    h2 {
      margin: 0 0 28px;
      font: 32px $kia;
      letter-spacing: 1.5px;
    }
    p {
      clear: both;
      max-width: 685px;
      font: 14px $sans;
      letter-spacing: .6px;
      color: #000;
      strong {
        font-weight: bold;
      }
      a {
        color: $red;
        font: bold 11px $kia;
        text-transform: uppercase;
        letter-spacing: .7px;
        margin: 0 2.5px;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 20px 0 0;
      margin-bottom: 0;
      * {
        display: none;
      }
    }
  }
}

.schedules-alert-area {
  margin-bottom: 10px;
  clear: both;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }
  &-header {
    margin-bottom: 16px;
    &:after {
      content: "";
      display: block;
      width: 100%;
      clear: both;
    }
  }
  .row {
    > div {
      margin-bottom: 10px;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 2px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  h3 {
    font: bold 12px/18px $kia;
    letter-spacing: .3px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    min-height: 18px;
    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      position: relative;
      top: -2px;
    }
  }
  .schedules-alert-area-toggle {
    position: relative;
    top: -2px;
    em {
      font: 12px $sans;
      color: #000;
      letter-spacing: .3px;
      @media (max-width: $screen-xs-max) {
        span {
          display: none;
        }
      }
    }
  }
}

.alert-card {
  height: 174px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 250ms $easeOutQuint;
  &:hover {
    box-shadow: 0 5px 10px 3px rgba(39, 48, 59, 0.1);
    transform: scale(1.025);
  }
  &.large {
    height: 194px;
  }
  &.alert-card-charge,
  &.alert-card-climate {
    .icon-settings {
      z-index: 1;
    }
    .alert-body {
      top: 35px;
      div > strong,
      > strong {
        font: bold 18px/1em $sans;
        letter-spacing: .5px;
        margin-bottom: 10px;
        span {
          padding-top: 3px;
          display: block;
          font: bold 12px/1em $sans;
          letter-spacing: .3px;
        }
      }
      > span {
        font: 12px $sans;
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        }
        strong,
        em {
          color: $green;
          font-weight: bold;
          text-transform: uppercase;
          font-style: normal;
        }
        strong {
           color: $red;
        }
      }
      &.dual {
        top: 25px;
        padding-left: 101px;
        em {
          display: block;
          font: 12px/1.5em $sans;
          color: #898989;
          position: relative;
          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            background: #c4172c;
            border-radius: 100%;
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
          }
          &.active {
            &:before {
              background: $green;
            }
          }
        }
        strong {
          margin-bottom: 15px;
        }
        > {
          i.icon-3d-battery {
            top: 55px !important;
          }
        }
      }
    }
  }
  &.alert-card-charge {
    .alert-body {
      top: 50px;
      div > strong,
      > strong {
        font-size: 16px;
        letter-spacing: .4px;
      }
    }
  }
  .alert-title {
    position: absolute;
    top: 20px;
    left: 19px;
    font: bold 10px/1em $kia;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #969696;
  }
  .icon-settings {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
    svg {
      * {
        fill: #898989 !important;
        transition: all 250ms $easeOutQuint;
      }
    }
    &:hover {
      svg {
        * {
          fill: darken(#898989, 20%) !important;
        }
      }
    }
  }
  .alert-body {
    position: absolute;
    width: 100%;
    left: 0;
    top: 49px;
    padding-left: 91px;
    font: 12px/1.58em $sans;
    letter-spacing: .3px;
    .row > div {
      margin-bottom: 0;
    }
    > i {
      display: block;
      position: absolute;
      top: 50%;
      left: 19px;
      transform: translateY(-50%);
      &.icon-alert-climate {
        top: 36px;
        transform: 0;
      }
    }
    div > strong,
    > strong {
      display: block;
      font: bold 14px/1.64em $sans;
      letter-spacing: .4px;
    }
    div > span,
    > span {
      display: block;
    }
  }
  &.inactive {
    .alert-status {
      span {
        &:before {
          background-color: $red;
        }
      }
    }
  }
  .alert-status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    padding-left: 23px;
    background: #2f2f2f;
    color: #fdfdfd;
    span {
      font: bold 12px $sans;
      text-transform: uppercase;
      letter-spacing: .3px;
      &:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background: $green;
        margin-right: 7px;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
    }
  }
  .mobile-arrow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    i {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      transition: all 250ms $easeOutQuint;
    }
    &:hover {
      i {
        margin-right: -5px;
      }
    }
  }
  &.alert-card-speed {
    .alert-body {
      top: 65px;
      > strong {
        font-size: 18px;
        letter-spacing: .6px;
        line-height: 1.28em;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    height: auto !important;
    margin-bottom: 0px !important;
    .icon-settings {
      display: none;
    }
    .mobile-arrow {
      display: block;
    }
    .alert-status {
      display: none;
    }
    .alert-title {
      display: none;
    }
    &.inactive {
      .alert-body {
        > strong {
          &:before {
            background-color: $red;
          }
        }
      }
    }
    &.alert-card-charge {
      .alert-body {
        padding-bottom: 5px !important;
      }
      .row {
        max-width: 95%;
      }
    }
    .alert-body {
      position: relative;
      left: 0;
      top: 0 !important;
      padding: 16px !important;
      &.dual {
        padding-left: 0px !important;
        .row > div {
          padding-left: 45px;
        }
        div > strong,
        > strong {
          &:before {
            display: none;
          }
          > span {
            padding-left: 0;
          }
        }
      }
      > i {
        display: none;
      }
      span {
        padding-left: 16px;
        font-weight: normal !important;
      }
      div > strong,
      > strong {
        font-size: 14px !important;
        letter-spacing: .4px !important;
        > span {
          padding-top: 3px !important;
          line-height: 1.4em !important;
          em,
          strong {
            font-weight: bold;
            font-style: normal;
            text-transform: uppercase;
          }
          strong {
            color: $red;
          }
          em {
            color: $green;
          }
          > span {
            display: inline !important;
            padding-left: 0;
          }
        }
        &:before {
          content: "";
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background: $green;
          margin-right: 7px;
          vertical-align: middle;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}

.no-alerts-set {
  height: 135px;
  strong {
    text-align: center;
    display: block;
    font: 500 20px/135px $kia;
    color: #c0c0c0;
    letter-spacing: .5px;
    i {
      display: inline-block;
      margin-right: 21px;
      vertical-align: middle;
      position: relative;
      top: -5px;
    }
  }
  @media (max-width: $screen-xs-max) {
    height: 80px;
    strong {
      font-size: 14px;
      letter-spacing: .4px;
      line-height: 80px;
      i {
        margin-right: 18px;
      }
    }
  }
}

.icon-schedules-empty-state {
  display: block;
  width: 96px;
  height: 96px;
  background: url('/images/icon-no-schedules.svg') center/contain no-repeat;
}

.icon-climate-schedule {
  width: 22px;
  height: 22px;
  background: url('/images/icon_schedule_climate.png') center/contain no-repeat;
}

.icon-charge-schedule {
  width: 25px;
  height: 14px;
  background: url('/images/icon_schedule_charge.png') center/contain no-repeat;
}

.icon-speed-alerts {
  width: 22px;
  height: 22px;
  background: url('/images/icon_carzone_speed.png') center/contain no-repeat;
}

.icon-alert-climate {
  width: 57px;
  height: 57px;
  background: url('/images/icon_alert_climate.png') center/contain no-repeat;
  text-align: center;
  font: bold 18px/57px $kia;
  letter-spacing: .5px;
  padding-left: 5px;
  sup {
    position: relative;
    top: -4px;
  }
}

.icon-alert-curfew {
  width: 47px;
  height: 47px;
  background: url('/images/icon_alert_curfew.png') center no-repeat;
}

.icon-alert-speed {
  width: 47px;
  height: 47px;
  background: url('/images/icon_alert_speed.png') center no-repeat;
}

.icon-no-alerts-speed {
  width: 64px;
  height: 52px;
  background: url('/images/icon_no_alerts_speed.png') center/contain no-repeat;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    height: 40px;
  }
}

.icon-arrow-right {
  display: block;
  background: url("/images/icon_arrow_right_dark.svg") center/contain no-repeat;
  width: 11px !important;
  height: 15px !important;
}

.icon-3d-battery {
  background: url(/images/icon_3d_battery_small.svg) center/contain no-repeat;
  width: 70px;
  height: 115px;
  left: 15px !important;
  top: 30px !important;
}

.icon-no-schedule-charge {
  width: 62px;
  height: 62px;
  background: url('/images/icon_no_charge_schedule.png') center/contain no-repeat;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    height: 40px;
  }
}

.icon-no-schedule-climate {
  width: 62px;
  height: 62px;
  background: url('/images/icon_no_climate_schedule.png') center/contain no-repeat;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    height: 40px;
  }
}

.icon-schedule-red-climate {
  background: url("/images/icon_schedule_red_climate.png") center/contain no-repeat;
  width: 60px;
  height: 60px;
  left: 15px !important;
}

.icon-schedule-red-charge {
  background: url("/images/icon_schedule_red_charge.png") center/contain no-repeat;
  width: 60px;
  height: 60px;
  left: 15px !important;
}

.schedules-combined {
  .schedules-timeline {
    position: relative;
    margin: 0 auto 24px;
    em {
      display: block;
      text-align: center;
      font: italic 10px $sans;
      letter-spacing: .3px;
      color: #9da0a4;
      @media (max-width: $screen-xs-max) {
        padding: 0 20px;
        padding-top: 10px;
      }
    }
    .timeline-bar {
      max-width: calc(100% - 105px);
      margin: 0 auto 42px;
      position: relative;
      right: -10px;
      @media (max-width: $screen-xs-max) {
        max-width: calc(100% - 50px);
        right: 10px;
      }
      &-end {
        position: absolute;
        right: 0;
        top: 30px;
        @media (max-width: $screen-xs-max) {
          transform: scale(.7);
          transform-origin: center right;
          right: 10px;
        }
        em {
          display: block;
          font: 600 12px $sans;
          letter-spacing: .5px;
          color: #2f2f2f;
          position: absolute;
          top: 32px;
          right: 0;
          white-space: nowrap;
          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }
      }
      &-legend {
        text-align: center;
        font: 600 10px/2.1 $sans;
        letter-spacing: .4px;
        margin-bottom: 17px;;
        white-space: nowrap;
        span {
          display: inline-block;
          margin: 0 22px;
          &:before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #2f2f2f;
            margin-right: 4px;
          }
          &.charging {
            &:before {
              background: #8ec439;
            }
          }
          &.off-peak {
            &:before {
              background: #4bbef0;
            }
          }
        }
      }
      &-wrap {
        position: relative;
      }
      &-base {
        height: 4px;
        border-radius: 5px;
        background-color: #2f2f2f;
        position: relative;
        z-index: 2;
        overflow: hidden;
      }
      &-charging {
        position: absolute;
        height: 100%;
        border-radius: 5px;
        background-color: #8ec439;
        transition: all 250ms $easeOutQuint;
        z-index: 3;
      }
      &-offpeak {
        height: 14px;
        border-radius: 8px;
        background-color: #4bbef0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20%;
        z-index: 1;
        span {
          position: absolute;
          display: block;
          left: 50%;
          transform: translateX(-50%);
          top: 100%;
          margin-top: 15px;
          font: 600 12px $sans;
          letter-spacing: .5px;
          text-transform: uppercase;
          white-space: nowrap;
        }
      }
    }
  }
  .schedules-tabs {
    max-width: 815px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
    .row {
      margin-left: 0;
      margin-right: 0;
      > div {
        padding: 0;
      }
    }
    .nav-tabs {
      background-color: #2f2f2f;
      overflow: hidden;
      color: #FFF;
      a {
        color: inherit;
        display: block;
        height: 190px;
        position: relative;
        transition: all 250ms $easeOutQuint;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        &:after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 4px;
          background: #c4172c;
          transition: all 250ms $easeOutQuint;
          opacity: 0;
        }
        &.active {
          background-color: rgba(0, 0, 0, 0.3);
          &:after {
            opacity: 1;
          }
        }
        &:not(.enabled) {
          .nav-tab {
            &-header {
              svg {
                * {
                  fill: #434343 !important;
                }
              }
            }
          }
        }
        &.enabled {
          .nav-tab {
            &-footer {
              opacity: 1 !important;
            }
          }
        }
        .nav-tab-inner {
          position: absolute;
          left: 0;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          padding-left: 35px;
          padding-right: 19px;
          .nav-tab {
            &-header {
              font: 500 13px $kia;
              letter-spacing: 1.2px;
              text-transform: uppercase;
              display: block;
              position: relative;
              padding-left: 35px;
              color: #969696;
              em {
                display: inline-block;
                width: 2px;
                font-style: normal;
              }
              svg {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                * {
                  transition: all 250ms $easeOutQuint;
                }
              }
              .toggle {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            &-footer {
              padding-top: 29px;
              display: block;
              opacity: .2;
              transition: all 250ms $easeOutQuint;
              em {
                display: block;
                font: 10px/1.2em $sans;
                letter-spacing: .4px;
              }
              strong {
                display: block;
                padding-top: 7px;
                font: 500 18px $kia;
                letter-spacing: .8px;
              }
              span {
                strong {
                  display: inline-block;
                  font: 500 36px $kia;
                  letter-spacing: 1.7px;
                  vertical-align: middle;
                  padding-top: 0;
                  sup {
                    font-size: .5em;
                    position: relative;
                    top: -15px;
                  }
                }
                span {
                  display: inline-block;
                  vertical-align: middle;
                  padding-left: 15px;
                }
                em {
                  display: block;
                  line-height: 1.4em;
                }
              }
            }
          }
        }
      }
    }
  }
  .schedules-tabs {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    .tab-content {
      box-shadow: none;
      .tab-inner {
        padding: 26px 40px 0;
        height: 570px;
        position: relative;
        @media (max-width: $screen-sm-max) {
          padding-left: 28px;
          padding-right: 28px;
        }
      }
      .tab-header {
        display: block;
        font: bold 14px $kia;
        letter-spacing: .4px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 21px;
        + p {
          margin: 0;
          font: 14px $sans;
          letter-spacing: .6px;
          max-width: 376px;
        }
      }
      .checkbox-group {
        white-space: nowrap;
        label {
          display: inline-block;
          margin: 0px;
          > em {
            display: block;
          }
        }
      }
      .tab-footer {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 26px;
        left: 0;
        p {
          font: 11px $sans;
          letter-spacing: .3px;
          color: #808080;
          a {
            display: inline-block;
            font: bold 11px $sans;
            letter-spacing: .3px;
            color: $red;
            margin-left: 3px;
          }
        }
      }
      #climate-settings {
        .tab-inner {
          .tab-header {
            + p {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
      .climate-settings {
        padding-top: 20px;
        .ui-dial {
          transform: scale(.9);
          transform-origin: top center;
          margin-bottom: 20px;
        }
        .climate-footer {
          text-align: center;
          font-size: 0;
          white-space: nowrap;
          > div {
            display: inline-block;
            vertical-align: top;
            height: 125px;
            padding: 10px 25px 0;
            + div {
              border-left: solid 1px #d4d4d4;
            }
            &:last-child {
              @media (max-width: $screen-sm-max) {
                em {
                  max-width: 90px;
                  white-space: normal;
                  margin-bottom: -7px;
                  margin-top: -3px;
                }
              }
            }
          }
          em {
            display: block;
            font: 500 9px $kia;
            letter-spacing: .2px;
            color: #9ba1a9;
            text-transform: uppercase;
          }
          i {
            height: 60px;
            display: inline-block;
            transform: scale(.9);
            margin: 0 2.5px;
            &.icon-heated-seats {
              height: 21px;
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }
          a {
            display: block;
            font: bold 11px $kia;
            letter-spacing: .7px;
            color: $red;
            margin-top: 10px;
            text-decoration: none;
            outline: none;
            i {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.icon-defrost {
  background: url("/images/icon_defrost.svg") center/contain no-repeat;
  width: 34px;
  height: 24px;
  &.green {
    background-image: url("/images/icon_defrost_green.svg");
  }
}
.icon-defrost-rear {
  background: url('/images/icon_defrost_rear.svg') center/contain no-repeat;
  width: 28px;
  height: 25px;
  &.green {
    background-image: url("/images/icon_defrost_rear_green.svg")
  }
}
.icon-defrost-mirror {
  background: url('/images/icon_defrost_mirror.svg') center/contain no-repeat;
  width: 35px;
  height: 25px;
  &.green {
    background-image: url("/images/icon_defrost_mirror_green.svg")
  }
}
.icon-defrost-steering {
  background: url('/images/icon_defrost_steering.svg') center/contain no-repeat;
  width: 24px;
  height: 32px;
  &.green {
    background-image: url("/images/icon_defrost_steering_green.svg")
  }
}
.icon-heated-seats {
  width: 26px;
  height: 21px;
  background: url('/images/icon_heated_seats.svg') center/contain no-repeat;
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 3px;
    display: block;
    height: 3px;
    background: #ec4446;
    pointer-events: none;
    transition: all 250ms $easeOutQuint;
    opacity: 0;
  }
  &:after {
    background: #56b5e4;
    margin-top: 8px;
  }
  &.hot {
    &:before {
      opacity: 1;
    }
  }
  &.cold {
    &:after {
      margin-top: 3px;
      opacity: 1;
    }
  }
  &.hot.cold {
    &:after {
      margin-top: 8px;
    }
  }
}

.save-schedules-button {
  width: 202px;
  background: $green;
  &.disabled {
    opacity: 1;
    background: #c5c5c5;
  }
}

.modal.confirm-changes {
  .modal-dialog {
    max-width: 340px;
    text-align: center;
    .modal-body {
      padding: 26px 40px 35px !important;
      p {
        font: 14px/1.5em $sans;
        letter-spacing: .6px;
        margin-bottom: 33px;
      }
      .modal-actions {
        .button {
          &:first-child {
            width: 150px;
            margin-right: 3px;
          }
          &:last-child {
            padding: 0;
            width: 100px;
          }
        }
      }
    }
  }
}

.view-schedules-combined {
  @media (max-width: $screen-sm-max) {
    .schedules-wrapper {
      padding: 0 20px !important;
    }
  }
  @media (max-width: $screen-xs-max) {
    .schedules-wrapper {
      padding: 0 !important;
    }
  }
  .schedules-alert-area.mobile-only {
    display: none;
    @media (max-width: $screen-xs-max) {
      display: block;
    }
    .nav-tab-header {
      padding-left: 35px;
      position: relative;
      svg {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    .alert-card {
      height: 77px !important;
    }
    .nav-tab-footer {
      display: block;
      transition: all 250ms $easeOutQuint;
      position: absolute;
      left: 0;
      width: 100%;
      padding-left: 23px;
      top: 50%;
      transform: translateY(-50%);
      em {
        display: block;
        font: 10px/1.2em $sans;
        letter-spacing: .4px;
      }
      strong {
        display: block;
        padding-top: 7px;
        font: 500 18px $kia;
        letter-spacing: .8px;
      }
      span {
        strong {
          display: inline-block;
          font: 500 24px $kia;
          letter-spacing: 1.1px;
          vertical-align: middle;
          padding-top: 0;
          sup {
            font-size: .5em;
            position: relative;
            top: -10px;
          }
        }
        span {
          display: inline-block;
          vertical-align: middle;
          padding-left: 15px;
        }
        em {
          display: block;
          line-height: 1.4em;
          em {
            display: inline-block;
            color: $red;
          }
          strong {
            font: inherit;
            display: inline-block;
            color: $green;
          }
        }
      }
    }
  }
}

.depature-times {
  .row {
    > div {
      > strong {
        display: block;
        font: bold 10px $kia;
        letter-spacing: .4px;
        color: #000;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }
  }
}

.timepicker {
  strong {
    display: block;
    font: bold 10px $kia;
    letter-spacing: .4px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .bootstrap-select {
    width: 87px !important;
    display: inline-block;
    vertical-align: middle;
  }
  .radio-choices {
    display: inline-block;
    vertical-align: middle;
    padding-left: 11px;
    label {
      margin: 0;
      margin-bottom: 3px;
      display: block;
      em {
        font: 14px $sans;
        letter-spacing: .6px;
        padding-left: 25px;
        display: block;
        &:before {
          width: 16px;
          height: 16px;
        }
        &:after {
          width: 8px;
          height: 8px;
          left: 1px;
        }
      }
    }
  }
}

.time-row {
  padding-top: 40px;
  margin-bottom: 45px;
  > strong {
    display: block;
    font: bold 12px $kia;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  + br + .time-row,
  + .time-row {
    border-top: solid 1px #d4d4d4;
  }
}

.charge-settings {
  text-align: center;
  padding-top: 70px;
  @media (max-width: $screen-sm-max) {
    padding-top: 40px;
  }
  p {
    font: 14px $sans;
    letter-spacing: .6px;
    margin-bottom: 28px;
  }
  label {
    display: inline-block;
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    input {
      display: none;
      &:checked {
        + span {
          background-color: #f0f0f0;
          box-shadow: inset 1px 1px 2px 0 rgba(176, 176, 176, 0.5);
          img {
            filter: none;
          }
        }
      }
    }
    span {
      display: block;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
      width: 210px;
      text-align: center;
      height: 165px;
      position: relative;
      cursor: pointer;
      transition: all 250ms $easeOutQuint;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: -20px;
        filter: grayscale(100%);
        transition: all 250ms $easeOutQuint;
      }
      strong {
        display: block;
        font: bold 12px $kia;
        letter-spacing: .5px;
        color: #000;
        position: absolute;
        width: 100%;
        bottom: 26px;
      }
      @media (max-width: $screen-sm-max) {
        width: 190px;
      }
    }
  }
  .off-peak-picker {
    padding-top: 30px;
    transition: all 250ms $easeOutQuint;
    pointer-events: none;
    opacity: 0;
    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }
  .timepicker {
    text-align: left;
    display: inline-block;
    + .timepicker {
      margin-left: 20px;
    }
    .bootstrap-select {
      width: 117px !important;
    }
  }
}

.modal-charge-times,
.modal-depature-times {
  text-align: center;
  @media (min-width: $screen-xs-max) {
    display: none !important;
  }
  .back {
    opacity: 1 !important;
    pointer-events: all !important;
    margin-top: 15px;
  }
  .modal-title {
    padding-top: 30px;
  }
  .row > div {
    > strong {
      padding-top: 20px;
    }
  }
  p {
    font: 14px/1.57em $sans;
    letter-spacing: .4px;
    max-width: 265px;
    padding-right: 20px;
    margin: 0 auto;
    text-align: left;
  }
  .time-row {
    padding-top: 30px;
    text-align: left;
    display: inline-block;
    > strong {
      padding-top: 0;
      margin-bottom: 0;
    }
  }
  .checkbox-group {
    white-space: nowrap;
    label {
      display: inline-block;
      margin: 0px;
      > em {
        display: block;
      }
    }
  }
  .timepicker {
    margin: 0 auto !important;
    .bootstrap-select {
      width: 121px !important;
    }
    .radio-choices {
      label {
        display: inline-block !important;
        + label {
          margin-left: 20px;
        }
      }
    }
  }
  .charge-settings {
    padding-top: 10px;
    p {
      margin-bottom: 24px;
      text-align: center;
    }
  }
  .charge-settings-options {
    white-space: nowrap;
    label {
      span {
        width: 135px;
        white-space: normal;
        strong {
          transform: translateY(50%);
        }
      }
    }
  }
  .tab-footer {
    text-align: center;
    white-space: nowrap;
    p {
      font: 11px $sans;
      letter-spacing: .3px;
      color: #808080;
      a {
        display: inline-block;
        font: bold 11px $sans;
        letter-spacing: .3px;
        color: $red;
        margin-left: 3px;
      }
    }
  }
  .off-peak-picker {
    margin-bottom: 20px !important;
    .timepicker {
      + .timepicker {
        margin-left: 20px !important;
      }
    }
    .radio-choices {
      display: block;
    }
  }
  .modal-footer {
    margin-top: 20px;
  }
}

.modal.edit-climate-schedule {
  &.combined {
    .back {
      opacity: 1 !important;
      margin-top: 10px;
      pointer-events: all;
    }
    .modal-title {
      + p {
        max-width: 243px;
        text-align: left;
        margin: 0 auto;
        font-size: 14px;
      }
    }
    .footer-action {
      padding-top: 20px;
    }
  }
}
