@import "../variables.scss";
@import "../mixins.scss";
.view-schedules {
  .schedules-empty-state {
    height: calc(100vh - 250px);
    min-height: 450px;
    max-width: 462px;
    margin: 0 auto;
    position: relative;
    position: relative;
    &-inner {
      padding: 0 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
    }
    .icon-schedules-empty-state {
      margin: 0 auto 21px;
    }
    h2 {
      font: 500 29px $kia;
      margin: 0 0 26px;
    }
    p {
      font: 14px/1.5em $sans;
      letter-spacing: .6px;
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:first-of-type {
        margin-bottom: 30px;
      }
    }
  }
  .schedules-wrapper {
    padding: 0 50px;
    margin: 0 auto;
    @media (max-width: $screen-xs-max) {
      padding: 0 10px;
    }
  }
  .schedules-header {
    padding: 40px 0 0;
    margin-bottom: 20px;
    overflow: hidden;
    h2 {
      margin: 0 0 28px;
      font: 32px $kia;
      letter-spacing: 1.5px;
    }
    p {
      clear: both;
      max-width: 685px;
      font: 14px $sans;
      letter-spacing: .6px;
      color: #000;
      strong {
        font-weight: bold;
      }
      a {
        color: $red;
        font: bold 11px $kia;
        text-transform: uppercase;
        letter-spacing: .7px;
        margin: 0 2.5px;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 20px 0 0;
      margin-bottom: 0;
      * {
        display: none;
      }
    }
  }
}

.schedules-alert-area {
  margin-bottom: 30px;;
  clear: both;
  &-header {
    margin-bottom: 16px;
    &:after {
      content: "";
      display: block;
      width: 100%;
      clear: both;
    }
  }
  .row {
    > div {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  h3 {
    font: bold 12px/1em $kia;
    letter-spacing: .3px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      position: relative;
      top: -2px;
    }
  }
  .schedules-alert-area-toggle {
    position: relative;
    top: -2px;
    em {
      font: 12px $sans;
      color: #000;
      letter-spacing: .3px;
      @media (max-width: $screen-xs-max) {
        span {
          display: none;
        }
      }
    }
  }
}

.alert-card {
  height: 174px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  &.alert-card-charge,
  &.alert-card-climate {
    .alert-body {
      top: 35px;
      > strong {
        font: bold 18px/1em $sans;
        letter-spacing: .5px;
        margin-bottom: 10px;
        span {
          padding-top: 3px;
          display: block;
          font: bold 12px/1em $sans;
          letter-spacing: .3px;
        }
      }
      > span {
        font: 12px $sans;
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        }
        strong,
        em {
          color: $green;
          font-weight: bold;
          text-transform: uppercase;
          font-style: normal;
        }
        strong {
           color: $red;
        }
      }
    }
  }
  &.alert-card-charge {
    .alert-body {
      top: 50px;
      > strong {
        font-size: 16px;
        letter-spacing: .4px;
      }
    }
  }
  .alert-title {
    position: absolute;
    top: 20px;
    left: 19px;
    font: bold 10px/1em $kia;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #969696;
  }
  .icon-settings {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
    svg {
      * {
        fill: #898989 !important;
        transition: all 250ms $easeOutQuint;
      }
    }
    &:hover {
      svg {
        * {
          fill: darken(#898989, 20%) !important;
        }
      }
    }
  }
  .alert-body {
    position: absolute;
    width: 100%;
    left: 0;
    top: 49px;
    padding-left: 91px;
    font: 12px/1.58em $sans;
    letter-spacing: .3px;
    > i {
      display: block;
      position: absolute;
      top: 50%;
      left: 19px;
      transform: translateY(-50%);
    }
    > strong {
      display: block;
      font: bold 14px/1.64em $sans;
      letter-spacing: .4px;
    }
    > span {
      display: block;
    }
  }
  &.inactive {
    .alert-status {
      span {
        &:before {
          background-color: $red;
        }
      }
    }
  }
  .alert-status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    padding-left: 23px;
    background: #2f2f2f;
    color: #fdfdfd;
    span {
      font: bold 12px $sans;
      text-transform: uppercase;
      letter-spacing: .3px;
      &:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background: $green;
        margin-right: 7px;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
    }
  }
  .mobile-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: none;
  }
  &.alert-card-speed {
    .alert-body {
      top: 65px;
      > strong {
        font-size: 18px;
        letter-spacing: .6px;
        line-height: 1.28em;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    // height: auto;
    // .mobile-arrow {
    //   display: block;
    // }
    // .alert-title {
    //   display: none;
    // }
    // &.inactive {
    //   .alert-body {
    //     > strong {
    //       &:before {
    //         background-color: $red;
    //       }
    //     }
    //   }
    // }
    // .alert-body {
    //   position: relative;
    //   left: 0;
    //   top: 0 !important;
    //   padding: 16px;
    //   > i {
    //     display: none;
    //   }
    //   span {
    //     padding-left: 16px;
    //   }
    //   > strong {
    //     font-size: 14px !important;
    //     letter-spacing: .4px !important;
    //     &:before {
    //       content: "";
    //       display: inline-block;
    //       width: 6px;
    //       height: 6px;
    //       border-radius: 6px;
    //       background: $green;
    //       margin-right: 7px;
    //       vertical-align: middle;
    //       position: relative;
    //       top: -1px;
    //     }
    //   }
    // }
  }
}

.no-alerts-set {
  height: 135px;
  strong {
    text-align: center;
    display: block;
    font: 500 20px/135px $kia;
    color: #c0c0c0;
    letter-spacing: .5px;
    i {
      display: inline-block;
      margin-right: 21px;
      vertical-align: middle;
      position: relative;
      top: -5px;
    }
  }
  @media (max-width: $screen-xs-max) {
    height: 80px;
    strong {
      font-size: 14px;
      letter-spacing: .4px;
      line-height: 80px;
      i {
        margin-right: 18px;
      }
    }
  }
}

.icon-schedules-empty-state {
  display: block;
  width: 96px;
  height: 96px;
  background: url('/images/icon-no-schedules.svg') center/contain no-repeat;
}

.icon-geo-fence-alerts {
  width: 22px;
  height: 22px;
  background: url('/images/icon_carzone_geofence.png') center/contain no-repeat;
}

.icon-curfew-alerts {
  width: 22px;
  height: 22px;
  background: url('/images/icon_carzone_curfew.png') center/contain no-repeat;
}

.icon-speed-alerts {
  width: 22px;
  height: 22px;
  background: url('/images/icon_carzone_speed.png') center/contain no-repeat;
}

.icon-alert-climate {
  width: 57px;
  height: 57px;
  background: url('/images/icon_alert_climate.png') center/contain no-repeat;
  text-align: center;
  font: bold 18px/57px $kia;
  letter-spacing: .5px;
  padding-left: 5px;
  sup {
    position: relative;
    top: -4px;
  }
}

.icon-alert-curfew {
  width: 47px;
  height: 47px;
  background: url('/images/icon_alert_curfew.png') center no-repeat;
}

.icon-alert-speed {
  width: 47px;
  height: 47px;
  background: url('/images/icon_alert_speed.png') center no-repeat;
}

.icon-no-alerts-speed {
  width: 64px;
  height: 52px;
  background: url('/images/icon_no_alerts_speed.png') center/contain no-repeat;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    height: 40px;
  }
}

.icon-arrow-right {
  display: block;
  background: url("/images/icon_arrow_right_dark.svg") center/contain no-repeat;
  width: 11px !important;
  height: 15px !important;
}

.icon-3d-battery {
  background: url(/images/icon_3d_battery_small.svg) center/contain no-repeat;
  width: 70px;
  height: 115px;
  left: 15px !important;
  top: 30px !important;
}

.icon-no-schedule-charge {
  width: 62px;
  height: 62px;
  background: url('/images/icon_no_charge_schedule.png') center/contain no-repeat;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    height: 40px;
  }
}

.icon-no-schedule-climate {
  width: 62px;
  height: 62px;
  background: url('/images/icon_no_climate_schedule.png') center/contain no-repeat;
  @media (max-width: $screen-xs-max) {
    width: 40px;
    height: 40px;
  }
}
