@import "../variables.scss";
@import "../mixins.scss";

.view-reference-material {
  .page-view {
    .contain {
      max-width: 852px;
      padding: 0 20px;
    }
  }
  .page-view-header {
    padding-top: 42px;
    overflow: hidden;
    @media (max-width: $screen-xs-max) {
      padding-top: 24px;
    }
    h2 {
      font: 100 32px $kia;
      letter-spacing: 1.5px;
      color: #000;
      margin: 0;
      @media (max-width: $screen-xs-max) {
        font-size: 20px;
        letter-spacing: .5px;
      }
    }
  }
  .page-view-content {
    .text-content {
      padding-top: 51px;
      font: 14px/1.5em $sans;
      max-width: 650px;
      letter-spacing: .6px;
      strong {
        display: block;
        margin-bottom: 2px;
      }
      p {
        margin-bottom: 10px;
      }
      @media (max-width: $screen-xs-max) {
        padding-top: 25px;
        font-size: 13px;
        letter-spacing: .3px;
        line-height: 1.62em;
      }
    }
  }
  .switch-views {
    border: none;
    > * {
      vertical-align: middle;
      &[href="#grid-view"] {
        svg {
          position: relative;
          top: 1px;
        }
      }
    }
    > a {
      border: none;
      padding: 0;
      margin: 0 21px;
      @media (max-width: $screen-xs-max) {
        margin: 0 7px;
      }
      svg {
        * {
          fill: #8e8e8e !important;
          transition: all 250ms $easeOutQuint;
        }
      }
      &.active {
        svg {
          * {
            fill: $red !important;
            transition: all 250ms $easeOutQuint;
          }
        }
      }
      &:hover {
        svg {
          * {
            fill: darken($red, 10%) !important;
          }
        }
      }
    }
    > * {
      display: inline-block;
    }
    .search {
      margin-left: 21px;
      position: relative;
      @media (max-width: $screen-xs-max) {
        margin-left: 7px;
      }
      &:before {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        background: url('/images/icon_search.svg') center/contain no-repeat;
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        pointer-events: none;
      }
      input[type="text"] {
        -webkit-appearance: none;
        height: 40px;
        border: 1px solid #a9adb1;
        border-radius: 2px;
        background: #fff;
        padding-left: 40px;
        display: block;
        font-size: 11px;
        font-weight: normal;
        letter-spacing: 1.4px;
        outline: none;
        width: 200px;
      }
    }
  }
  .page-view-intro {
    padding-top: 40px;
    margin-bottom: 55px;
    p {
      max-width: 653px;
      font: 14px/1.5em $sans;
      @media (max-width: $screen-sm-max) {
        max-width: 100%;
      }
    }
  }
  .menu-with-content {
    @media (max-width: $screen-xs-max) {
      .row {
        > div {
          padding: 0 5px;
        }
      }
    }
    .page-view-header {
      margin-bottom: 32px;
      position: relative;
      .back {
        display: block;
        position: absolute;
        top: 10px;
        left: 0px;
        width: 30px;
        height: 17px;
        cursor: pointer;
        transition: all 250ms $easeOutQuint;
        z-index: 3;
        background: url('/images/icon_back_arrow.svg') left center/contain no-repeat;
        font: bold 12px/17px $kia;
        letter-spacing: .3px;
        color: #000;
        text-transform: uppercase;
        padding-left: 20px;
        text-decoration: none;
        @media (max-width: $screen-xs-max) {
          position: relative;
          top: -10px;
          transform: scale(.9);
          transform-origin: left center;
          margin-bottom: 4px;
        }
      }
    }
    .sub-tabs {
      padding-top: 45px;
      @media (max-width: $screen-xs-max) {
        padding-top: 0;
      }
      strong {
        display: block;
        font: bold 10px $kia;
        letter-spacing: .4px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .bootstrap-select {
        margin-bottom: 28px;;
      }
    }
    .content-area {
      background: #FFFFFF;
      box-shadow: 0 1px 3px 0 rgba(39,48,59,0.24);
      border-radius: 2px;
      padding: 36px 40px 80px;
      font: 14px/1.5em $sans;
      letter-spacing: .6px;
      iframe {
        width: 100%;
        margin-bottom: 25px;
      }
      h3 {
        font: bold 14px $kia;
        letter-spacing: .4px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 33px;
      }
      p {
        margin-bottom: 20px;
        max-width: 430px;
      }
      @media (max-width: $screen-xs-max) {
        padding: 10px 10px 20px;
      }
      &.faq-area {
        padding: 0;
      }
      .list-row {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .faq-row {
        border-bottom: solid 1px #d5d5d5;
        padding: 13px 75px 15px 20px;
        position: relative;
        cursor: pointer;
        &.has-collapse {
          padding-right: 20px;
        }
        .collapse-header {
          padding-left: 55px;
          position: relative;
          cursor: pointer;
          &[aria-expanded="true"] {
            .icon-arrow-right {
              transform: translateY(-50%) rotate(90deg);
            }
          }
          strong {
            font-size: 12px;
            letter-spacing: .3px;
          }
          .icon-arrow-right {
            left: 12px;
            transition: all 250ms $easeOutBack;
          }
          @media (max-width: $screen-xs-max) {
            padding-left: 35px;
            .icon-arrow-right {
              left: 9px;
            }
          }
        }
        .collapse {
          cursor: default;
          &-body {
            padding: 25px 50px 10px 55px;
            p {
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            @media (max-width: $screen-xs-max) {
              padding: 10px 0 10px 0;
              width: calc(100% + 10px);
            }
          }
        }
        strong {
          display: block;
          font: bold 12px/1.75em $kia;
          letter-spacing: .3px;
        }
        p {
          margin: 0;
        }
        .icon-arrow-right {
          position: absolute;
          top: 50%;
          right: 37.5px;
          transform: translateY(-50%);
          transition: all 250ms $easeOutQuint;
        }
        @media (min-width: $screen-xs-max) {
          &:hover {
            .icon-arrow-right {
              margin-right: -10px;
            }
          }
        }
        @media (max-width: $screen-xs-max) {
          padding-left: 12px;
          padding-right: 30px;
          p {
            font-size: 12px;
            letter-spacing: .3px;
          }
          .icon-arrow-right {
            right: 10px;
          }
        }
      }
    }
  }
}

.modal-video {
  .modal-dialog {
    width: 776px;
    .video-wrap {
      position: relative;
      padding-top: 56.314433%;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    .modal-dialog {
      background: transparent !important;
      pointer-events: none;
      iframe {
        pointer-events: all;
      }
    }
    .video-wrap {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.sub-tabs {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 185px;
    li {
      margin-bottom: 20px;
      a {
        font: bold 12px $kia;
        letter-spacing: .7px;
        color: #929292;
        text-transform: uppercase;
        position: relative;
        padding-left: 11px;
        display: block;
        transition: all 250ms $easeOutQuint;
        text-decoration: none;
        &.active {
          color: #2f2f2f;
          border-left: 3px solid $red;
          padding-left: 8px;
        }
        &:hover {
          color: #2f2f2f;
        }
      }
    }
  }
}

.icon-arrow-right {
  display: block;
  width: 12px;
  height: 18px;
  background: url('/images/icon_arrow_right_dark.svg') center/contain no-repeat;
}

.view-uvo-faq {
  @media (max-width: $screen-xs-max) {
    .page-view-header {
      margin-bottom: 20px !important;
      padding-top: 0;
    }
  }
}

.faq-detail {
  font: 14px/1.5em $sans;
  letter-spacing: .6px;
  margin-top: -35px;
  @media (max-width: $screen-xs-max) {
    margin-top: -20px;
  }
  &-section {
    padding: 35px 0 30px;
    &:not(.no-border) {
      border-bottom: solid 1px #d5d5d5
    }
    @media (max-width: $screen-xs-max) {
      padding: 20px 0 20px;
      margin-left: -10px;
      margin-right: -10px;
      > * {
        padding-left: 10px !important;
      }
      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  strong {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .4px;
    @media (max-width: $screen-xs-max) {
      font: bold 14px/1.5em $sans;
      letter-spacing: .4px;
      text-transform: none;
      padding-top: 10px;
    }
  }
  .icon-list {
    padding: 5px 0 0;
    margin: 0;
    font-size: 0;
    li {
      display: inline-block;
      text-align: center;
      margin: 0 7.5px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      i {
        display: block;
        width: 42px;
        height: 42px;
        margin: 0 auto;
        svg {
          width: 100%;
        }
      }
      span {
        display: block;
        font: 12px/1.75em $sans;
        letter-spacing: .3px;
        text-align: center;
      }
    }
  }
  h4 {
    font: 500 20px $kia;
    letter-spacing: .5px;
    text-transform: none;
    margin: 0 0 20px;
    padding-right: 20px;
    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      letter-spacing: .4px;
    }
  }
  ul.list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: list;
    li {
      counter-increment: list;
      max-width: 616px;
      font: 14px/1.5em $sans;
      letter-spacing: .6px;
      min-height: 42px;
      margin-bottom: 0;
      padding-left: 50px;
      position: relative;
      padding-right: 20px;
      em {
        font-weight: bold;
        font-style: normal;
      }
      a {
        text-transform: uppercase;
        color: $red;
        transition: all 250ms $easeOutQuint;
        text-decoration: none;
        &:hover {
          color: darken($red, 20%);
        }
      }
      &:before {
        content: counter(list);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        text-align: center;
        letter-spacing: normal;
        color: $white;
        background: $red;
        border-radius: 100%;
        font: bold 12px/24px $kia;
        padding-left: 1px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 40px;
        font-size: 12px;
        line-height: 1.75em;
        letter-spacing: .3px;
        &:before {
          padding-left: 0;
        }
      }
    }
    + .important {
      padding-left: 50px;
      @media (max-width: $screen-xs-max) {
        padding-left: 50px !important;
      }
    }
  }
  .important {
    padding-top: 65px;
    color: $red;
    margin-bottom: 0 !important;
    max-width: 100% !important;
    font: 12px/1.42em $sans !important;
    strong {
      font: inherit;
      font-weight: bold;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 31px;
    }
  }
}

.view-faq {
  .sub-tabs {
    > ul {
      max-width: 195px;
    }
  }
  @media (max-width: $screen-xs-max) {
    .menu-with-content {
      padding-top: 20px;
    }
  }
}
