@import "../variables.scss";
@import "../mixins.scss";

.view-bluetooth {
  .bluetooth-onboarding {
    position: relative;
    height: calc(100vh - 263px);
    &-cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      max-width: 600px;
      > svg {
        display: block;
        margin: 0 auto 22px;
      }
      h1 {
        margin: 0;
        font-size: 29px;
        letter-spacing: 1.4px;
        margin-bottom: 18px;
        font-family: $kia;
        font-weight: 500;
      }
      p {
        font-size: 14px;
        line-height: 1.5em;
        letter-spacing: .6px;
        color: $grey_2;
        margin-bottom: 32px;
        max-width: 431px;
        margin: 0 auto 45px;
      }
      form {
        white-space: nowrap;
        width: 100%;
        @media (max-width: $screen-xs-max) {
          max-width: 500px;
          margin: 0 auto;
        }
        .form-fields {
          display: inline-block;
          width: calc(100% - 100px);
          font-size: 0;
          vertical-align: bottom;
          @media (max-width: $screen-xs-max) {
            display: block;
            width: calc(100%);
            margin: 0 auto 5px;
          }
          > li {
            display: inline-block;
            width: calc(33.3333% - 8px);
            margin: 0 4px;
            @media (max-width: $screen-xs-max) {
              display: block;
              width: 100%;
              margin: 0 0 28px;
            }
            strong {
              display: block;
              font: bold 10px $kia;
              letter-spacing: .4px;
              text-transform: uppercase;
              margin-bottom: 8px;
            }
          }
        }
        .form-action {
          display: inline-block;
          vertical-align: bottom;
          @media (max-width: $screen-xs-max) {
            display: block;
            .button {
              width: calc(100%);
              margin: 0 auto;
            }
          }
        }
      }
    }
    @media #{$mobile} {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      height: auto;
      &-cta {
        max-width: calc(100% - 20px);
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 0 auto;
        padding-top: 40px;
        img {
          max-width: 147px;
          margin-bottom: 22px;
        }
        h1 {
          font-size: 24px;
          margin-bottom: 14px;
          line-height: normal;
        }
        p {
          margin-bottom: 35px;
        }
      }
    }
  }
}
