@import "../variables.scss";
@import "../mixins.scss";
.view-maintenance {
  .page-view {
    .contain {
      max-width: 852px;
      padding: 0 20px;
    }
    &-header {
      padding-top: 40px;
      overflow: hidden;
      margin-bottom: 20px;
      h2 {
        font: 32px/1em $kia;
        letter-spacing: 1.5px;
        color: #000;
        margin: 0;
        float: left;
      }
      .header-preferred-dealer {
        float: right;
        padding-right: 30px;
        position: relative;
        h3 {
          font: 500 17px/1.24em $kia;
          letter-spacing: .7px;
          margin: 0 0 3px;
        }
        strong {
          display: block;
          font: bold 10px/1em $kia;
          color: #969696;
          text-transform: uppercase;
          letter-spacing: 1px;
          text-align: right;
        }
        i {
          position: absolute;
          right: 0;
          display: block;
          top: 2px;
          transform: translateX(-50%);
          cursor: pointer;
          svg {
            * {
              transition: all 250ms $easeOutQuint;
            }
          }
          &:hover {
            svg {
              * {
                fill: darken(#898989, 20%) !important;
              }
            }
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        padding-top: 20px;
        h2 {
          display: none;
        }
        text-align: center;
        .header-preferred-dealer {
          float: none;
          display: inline-block;
          strong {
            text-align: center;
          }
        }
      }
    }
  }
  .maintenance-block {
    background: $white;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
    .progress-bar {
      box-shadow: none;
    }
  }
  .overview-references {
    padding-top: 0;
    .reference-card {
      height: 200px;
      padding-top: 60px;
      border-radius: 2px;
      strong {
        font-size: 24px;
        margin-bottom: 0px;
      }
      @media (max-width: $screen-xs-max) {
        .button {
          bottom: 55px;
        }
      }
    }
  }
}

.maintenance-main {
  overflow: hidden;
  padding: 32px 40px 50px;
  position: relative;
  &-milestones {
    overflow: hidden;
    padding-bottom: 25px;
    margin-bottom: 40px;
    .milestone-block {
      position: relative;
      strong {
        font: 500 18px/1em $kia;
        display: block;
        letter-spacing: .9px;
        color: $black;
        margin-bottom: 4px;
      }
      em {
        display: block;
        font: bold 10px/1em $kia;
        color: #969696;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      span {
        position: absolute;
        top: 100%;
        left: 0;
        white-space: nowrap;
        font: italic normal 12px/1.75em $sans;
        color: #969696;
        display: block;
        margin-top: 2px;
      }
      &.milestone-current {
        float: left;
      }
      &.milestone-next {
        float: left;
      }
      &.milestone-until {
        text-align: center;
        display: none;
        @media (max-width: $screen-xs-max) {
          display: block;
        }
      }
    }
    &-arrows {
      float: right;
      > span {
        margin: 0 10px;
        display: inline-block;
        &:first-of-type {
          margin-left: 0px;
        }
        &:last-of-type {
          margin-right: 0px;
        }
      }
      @media (max-width: $screen-xs-max) {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 16px 22px 0;
        > span {
          float: none;
          position: absolute;
          left: 22px;
          top: 22px;
          &:last-of-type {
            left: auto;
            right: 22px;
            top: 22px;
          }
        }
      }
    }
    .progress-bar {
      width: 354px;
      max-width: calc(100% - 375px);
      position: relative;
      top: 5px;
      margin-right: 13px;
      margin-left: 7px;
    }
    @media (max-width: $screen-xs-max) {
      .milestone-block {
        &.milestone-current,
        &.milestone-next {
          position: absolute;
          top: 80px;
          left: 22px;
          strong {
            font: 13px/1.62em $sans;
          }
          span {
            display: none;
          }
          em {
            display: none;
          }
        }
        &.milestone-next {
          left: auto;
          right: 22px;
        }
      }
      .progress-bar {
        width: 100%;
        max-width: 100%;
        margin: 0;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    padding: 65px 22px 30px;
  }
  .milestone-status {
    &-detail {
      &-text {
        padding-top: 31px;
        padding-left: 15px;
      }
    }
  }
}
.milestone-status {
  &-detail {
    &-form {
      padding-top: 10px;
      .form-fields {
        li {
          margin-bottom: 10px;
          label {
            margin-bottom: 0;
          }
          textarea,
          input[type="text"] {
            border-radius: 2px;
            border: solid 1px #b1b5b8;
            resize: none;
            width: 100%;
            padding-left: 37px;
            font: 500 14px $sans;
            letter-spacing: .4px;
            background-position: 12px center;
            background-repeat: no-repeat;
            &.date {
              background-image: url('/images/icon_calendar_small_grey.svg');
            }
            &.location {
              background-image: url('/images/icon_location_target_grey.svg');
            }
            &.mileage {
              background-position: 10px center;
              background-image: url('/images/icon_mileage_grey.svg');
            }
            &.notes {
              background-position: 14px 12px;
              background-image: url('/images/icon_notes_grey.svg');
            }
          }
          textarea {
            padding-top: 11px;
            height: 118px;
            outline: none;
            padding-right: 15px;
          }
        }
      }
    }
    &-text {
      .edit-info {
        display: inline-block;
        font: bold 11px/2em $kia;
        letter-spacing: .7px;
        color: $red;
        transition: all 250ms $easeOutQuint;
        cursor: pointer;
        margin-left: 35px;
        text-transform: uppercase;
        margin-top: 10px;
        &:hover {
          color: darken($red, 20%);
        }
      }
      ul.text-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          position: relative;
          padding-left: 35px;
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
          i {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
          }
          strong {
            display: block;
            font: bold 10px $kia;
            letter-spacing: .4px;
            color: #000;
            text-transform: uppercase;
            margin-bottom: 3px;
          }
          div {
            font: 14px/1.5em $sans;
            letter-spacing: .6px;
            color: #2f2f2f;
          }
        }
      }
    }
  }
}

.milestone-detail {
  &-header {
    display: block;
    font: bold 10px $kia;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 12px;
  }
  &-list {
    font: 14px/1.5em $sans;
    margin: 0 0 20px;
    padding: 0 0 0 30px;
    li {
      margin-bottom: 1px;
      list-style: disc;
    }
  }
}

.maintenance-cards {
  padding-top: 11px;
  .row {
    margin-left: -5px;
    margin-right: -5px;
    > div {
      padding: 0 5px;
      margin-bottom: 10px;
    }
  }
  .card {
    height: 160px;
    position: relative;
    cursor: pointer;
    &:hover {
      > .icon-arrow-right {
        margin-right: -5px;
      }
    }
    > .icon-arrow-right {
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 250ms $easeOutQuint;
    }
    > i:not(.icon-arrow-right) {
      width: 50px;
      height: 50px;
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
      &.icon-warning {
        width: 46px;
        height: 38px;
      }
      &.icon-recalls {
        width: 45px;
        height: 50px;
      }
      &.icon-next-service {
        width: 40px;
        height: 40px;
      }
      &.icon-upcoming-appointments {
        width: 40px;
        height: 51px;
      }
    }
    strong {
      display: block;
      position: absolute;
      top: 78px;
      left: 50%;
      transform: translateX(-50%);
      font: 500 20px/1em $kia;
      letter-spacing: 1.2px;
      width: 100%;
      text-align: center;
      span {
        font-size: 16px;
      }
    }
    em {
      display: block;
      top: 111px;
      width: 115px;
      font: bold 10px/1.2em $kia;
      color: #000;
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      letter-spacing: .4px;
      span {
        display: block;
      }
    }
    a {
      display: inline-block;
      position: absolute;
      bottom: 9px;
      font: bold 11px/2em $kia;
      color: $red;
      text-transform: uppercase;
      letter-spacing: .7px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.icon-arrow-left,
.icon-arrow-right {
  display: inline-block;
  width: 12px;
  height: 18px;
  background: url('/images/icon_arrow_right_dark.svg') center/contain no-repeat;
}

.icon-arrow-left {
  transform: scaleX(-1);
}

.maintenance-dealer-appointment {
  background: #ebebeb;
  margin: 40px 0;
  &-inner {
    max-width: 433px;
    margin: 0 auto;
    padding: 51px 16px;
    text-align: center;
    @media (max-width: $screen-xs-max) {
      padding: 30px 16px 25px;
    }
  }
  .button {
    margin-bottom: 26px;
  }
  a {
    display: inline-block;
    color: $red;
    font: bold 11px/2em $kia;
    text-transform: uppercase;
    letter-spacing: .7px;
    transition: all 250ms $easeOutQuint;
    text-decoration: none;
    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 13px;
      svg {
        * {
          transition: all 250ms $easeOutQuint !important;
        }
      }
    }
    &:hover {
      color: darken($red, 20%);
      i {
        svg {
          * {
            fill: darken($red, 20%);
          }
        }
      }
    }
  }
}

.view-maintenance-history {
  .page-view {
    &-header {
      margin-bottom: 18px;
      overflow: visible;
      position: relative;
      h2 {
        float: none;
      }
      .print {
        position: absolute;
        top: 40px;
        right: 0;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
  .toggle-collapse {
    display: inline-block;
    color: $red;
    font: bold 11px/2em $kia;
    letter-spacing: .7px;
    margin-bottom: 17px;
    text-transform: uppercase;
    cursor: pointer;
    @media (max-width: $screen-xs-max) {
      margin: 15px auto 15px;
      text-align: center;
      display: block;
    }
  }
  .maintenance-timeline {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    &:before {
      content: "";
      display: block;
      background: #bdbdbd;
      width: 2px;
      position: absolute;
      left: -25px;
      top: 38.5px;
      bottom: 38.5px;
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
    > li {
      margin-bottom: 30px;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background: #bdbdbd;
        position: absolute;
        left: -24px;
        top: 38.5px;
        transform: translate(-50%, -50%);
        border: 2px solid #f7f7f7;
        @media (max-width: $screen-sm-max) {
          display: none;
        }
      }
      &:last-child {
        &:after {
          content: "";
          display: block;
          width: 4px;
          background: #f7f7f7;
          position: absolute;
          top: 45px;
          bottom: 15px;
          left: -26px;
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
    }
    .timeline-header {
      padding-left: 67px;
      min-height: 77px;
      padding-top: 22px;
      position: relative;
      cursor: pointer;
      &[aria-expanded="true"] {
        .icon-arrow-right {
          transform: translateY(-50%) rotate(-90deg);
        }
      }
      .icon-arrow-right {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        transition: all 350ms $easeOutBack;
      }
      strong {
        display: block;
        font: bold 18px/1em $kia;
        letter-spacing: .9px;
        color: #000;
        margin-bottom: 4px;
      }
      em {
        display: block;
        font: bold 10px/1em $kia;
        color: #969696;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .tag {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 2px;
      	background-color: #8ec439;
        color: $white;
        height: 31px;
        font: bold 12px/31px $sans;
        letter-spacing: .5px;
        text-transform: uppercase;
        padding: 0 21px 0 38px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        i {
          display: block;
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 50px;
        .icon-arrow-right {
          left: 20px;
        }
        strong {
          font-size: 15px;
          letter-spacing: .7px;
        }
        em {
          font-size: 9px;
          letter-spacing: .6px;
        }
        .tag {
          width: 15px;
          height: 11px;
          color: rgba(0, 0, 0, 0);
          overflow: hidden;
          background: url('/images/icon_check_green_light.svg') center/contain no-repeat;
          i {
            display: none;
          }
        }
      }
    }
    .timeline-content {
      .milestone-detail {
        border-top: solid 1px #d5d5d5;
        padding: 30px 35px 55px;
        position: relative;
        &:not(.no-line) {
          @media (max-width: $screen-xs-max) {
            .text-list {
              border-bottom: solid 1px #d5d5d5;
              padding-bottom: 30px;
              margin-bottom: 30px;
            }
          }
          &:before {
            content: "";
            display: block;
            left: 34%;
            width: 2px;
            bottom: 50px;
            position: absolute;
            background: $black;
            top: 32px;
            opacity: .1;
            @media (max-width: $screen-xs-max) {
              display: none;
            }
          }
        }
        @media (max-width: $screen-xs-max) {
          padding-bottom: 20px;
        }
      }
    }
  }
}

.text-list {
  i {
    display: block;
  }
  .icon-calendar {
    width: 13px;
    height: 14px;
    background: url('/images/icon_calendar_red_small.svg') center/contain no-repeat;
  }
  .icon-location {
    width: 14px;
    height: 14px;
    background: url('/images/icon_location_target_red.svg') center/contain no-repeat;
  }
  .icon-mileage {
    width: 22px;
    height: 9px;
    background: url('/images/icon_mileage_red.svg') center/contain no-repeat;
  }
  .icon-notes {
    width: 11px;
    height: 14px;
    background: url('/images/icon_notes_red.svg') center/contain no-repeat;
  }
}

.icon-check {
  width: 15px;
  height: 11px;
  background: url('/images/icon_check_green.svg') center/contain no-repeat;
}
