@import "../variables.scss";
@import "../mixins.scss";
.view-pre-login {
  header {
    position: relative;
    height: 768px;
    overflow: hidden;
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: rgba(0, 0, 0, .35);
    }
    nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      .icon-bars {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        position: relative;
        top: 3px;
      }
      &.forced-scroll {
        opacity: 1 !important;
        transform: none !important;
        display: block !important;
        color: #000;
        @media (max-width: $screen-xs-max) {
          height: 65px !important;
          .contain {
            overflow: visible !important;
          }
        }
        .icon-bars {
          position: relative;
          top: 8px;
          * {
            stroke: #000 !important;
          }
        }
        ul.nav-items {
          + span {
            display: inline-block;
            padding-top: 13px;
            color: #000;
          }
        }
      }
      &.forced-scroll,
      &.scroll {
        background: $white;
        z-index: 15;
        position: fixed;
        box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07);
        height: 70px;
        transform: translateY(-100%);
        transition: all 250ms $easeOutQuint;
        opacity: 0;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
        &.show {
          transform: none;
          opacity: 1;
        }
        .logo {
          position: relative;
          top: 5px;
        }
        .nav-items {
          li {
            a:not(.button) {
              color: #000;
            }
          }
        }
      }
      .contain {
        max-width: 1025px;
        padding: 15px 30px 0;
        overflow: hidden;
      }
      .logo {
        width: 61px;
        height: 31px;
      }
      .nav-items {
        font-size: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        li {
          display: inline-block;
          font: bold 10px/1em $kia;
          letter-spacing: 1.3px;
          text-transform: uppercase;
          margin-right: 30px;
          vertical-align: middle;
          &:last-child {
            margin-right: 0;
          }
          a {
            transition: all 250ms $easeOutQuint;
            color: $white;
            text-decoration: none;
            &:hover {
              color: $red;
            }
          }
        }
      }
    }
    video {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .header-content {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 2;
      color: $white;
      .contain {
        max-width: 945px;
        padding: 0 20px;
      }
      &-inner {
        max-width: 290px;
      }
      h1 {
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        font: 100 36px $kia;
        letter-spacing: 1.7px;
        margin-bottom: 20px;
      }
      p {
        font: 16px/1.44em $sans;
        letter-spacing: .7px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        margin-bottom: 39px;
      }
      @media (min-width: $screen-xs-max) {
        .button.large {
          height: 60px;
          line-height: 60px;
          font-size: 14px;
          letter-spacing: 2px;
        }
      }
      .header-cta {
        p {
          font-size: 14px;
          line-height: 1.64em;
          letter-spacing: .6px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
          a {
            display: inline-block;
            vertical-align: middle;
            color: $white;
            text-decoration: underline;
            text-transform: uppercase;
            font: bold 11px/1.64em $kia;
            margin-left: 6px;
            position: relative;
            top: -1px;
            transition: all 250ms $easeOutQuint;
            &:hover {
              color: $red;
            }
          }
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      height: 565px;;
      nav {
        .contain {
          padding: 15px 20px 0;
        }
        ul.nav-items {
          display: none;
          + span {
            font: bold 10px $kia;
            letter-spacing: .3px;
            color: $white;
            text-transform: uppercase;
          }
        }
      }
      .header-content {
        text-align: center;
        h1 {
          font-size: 27px;
          margin-bottom: 11px;
        }
        p {
          font-size: 14px;
          line-height: 1.64em;
          margin-bottom: 17px;
        }
        &-inner {
          margin: 0 auto;
        }
        .button.large {
          width: 215px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .page-content {
    .contain {
      max-width: 1025px;
      padding: 0 50px;
      @media (max-width: $screen-sm-max) {
        padding: 0 20px;
      }
      @media (max-width: $screen-xs-max) {
        padding: 0 11px;
      }
    }
  }
  .intro-panels {
    position: relative;
    z-index: 2;
    .panel-row {
      position: relative;
      &:first-child {
        padding-top: 89px;
        .panel {
          border-radius: 2px;
          background-color: $white;
        	box-shadow: 0 1px 29px 0 rgba(68,68,68,0.24);
          position: absolute;
          right: 0;
          width: 455px;
          top: -30px;
          padding: 42px 40px 45px 95px;
          strong {
            display: block;
            font: bold 12px/1em $kia;
            color: #969696;
            text-transform: uppercase;
            letter-spacing: .6px;
          }
          h2 {
            position: relative;
            font: 100 30px/1em $kia;
            color: #000;
            margin: 34px 0 15px;
            &:before {
              content: "";
              display: block;
              width: 50px;
              height: 4px;
              background: $red;
              position: absolute;
              bottom: 100%;
              margin-bottom: 12px;
            }
          }
          p {
            font: 14px/1.79em $sans;
            letter-spacing: .6px;
            color: #2f2f2f;
            margin-bottom: 0;
          }
        }
        .image {
          position: relative;
          z-index: 4;
          width: 526px;
          background: #FFFFFF;
          box-shadow: 0 1px 29px 0 rgba(68,68,68,0.24);
          border-radius: 2px;
          overflow: hidden;
          max-width: calc(100% - 400px);
          img {
            display: block;
            width: 100%;
          }
        }
        @media (max-width: $screen-sm-max ) {
          .panel {
            padding-left: 47px;
            width: 350px;
            h2 {
              font-size: 23px;
            }
          }
          .image {
            width: 100%;
            max-width: calc(100% - 335px);
          }
        }
        @media (max-width: $screen-xs-max) {
          padding-top: 0;
          margin-top: -25px;
          .panel {
            position: relative;
            top: 0;
            left: 0;
            max-width: 100%;
            width: 100%;
            padding: 35px 20px 65px;
            margin-bottom: 0;
            strong {
              font-size: 10px;
              letter-spacing: .5px;
            }
            h2 {
              font-size: 16px;
              letter-spacing: .4px;
            }
            p {
              font-size: 12px;
              line-height: 2.08em;
              letter-spacing: .5px;
            }
          }
          .image {
            max-width: calc(100% - 30px);
            margin: -40px auto 40px;
          }
        }
      }
      &.map {
        position: relative;
        margin-top: 155px;
        padding: 95px 0;
        padding-left: 11.3513514%;
        background: url('/images/pre-login/map-dtop.png') left center/cover no-repeat;
        margin-bottom: 168px;
        .text {
          max-width: 300px;
          h2 {
            font: 100 22px $kia;
            letter-spacing: .6px;
            margin: 0;
            margin-bottom: 17px;
          }
          p {
            font: 14px/1.79em $sans;
            letter-spacing: .6px;
            margin: 0;
          }
        }
        .panel {
          border-radius: 2px;
          background-color: $white;
        	box-shadow: 0 1px 29px 0 rgba(68,68,68,0.24);
          position: absolute;
          right: 13.5135135%;
          top: 50%;
          transform: translateY(-50%);
        }
        @media (max-width: $screen-sm-max) {
          margin-bottom: 158px;
          margin-top: 235px;
          padding: 85px 0 70px;
          padding-left: 8.5164835%;
          .text {
            max-width: 235px;
          }
          .panel {
            right: 8.9285714%;
          }
        }
        @media (max-width: $screen-xs-max) {
          margin-top: 72px;
          background: url('/images/pre-login/map-mobile.png') top center/cover no-repeat;
          padding: 0;
          max-height: 395px;
          overflow: visible;
          margin-bottom: 250px;
          .text {
            width: 100%;
            position: relative;
            padding: 0;
            text-align: center;
            margin: 0 auto;
            padding-top: 32px;
            max-width: calc(100% - 70px);
            h2 {
              font: 500 16px $kia;
              letter-spacing: .4px;
              margin-bottom: 12px;
            }
            p {
              font: 12px/2.08em $sans;
              letter-spacing: .5px;
              margin-bottom: 28px;
            }
          }
          .panel {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            width: calc(100% - 30px);
            max-width: 332px;
            margin: 0 auto;
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .maintenance {
    position: relative;
    &:after {
      display: block;
      content: "";
      clear: both;
    }
    .text {
      max-width: 326px;
      strong {
        display: block;
        font: bold 12px/1em $kia;
        color: #969696;
        text-transform: uppercase;
        letter-spacing: .6px;
      }
      h2 {
        position: relative;
        font: 100 30px $kia;
        color: #000;
        margin: 34px 0 15px;
        &:before {
          content: "";
          display: block;
          width: 50px;
          height: 4px;
          background: $red;
          position: absolute;
          bottom: 100%;
          margin-bottom: 15px;
        }
      }
      p {
        font-size: 14px;
        line-height: 1.79em;
        letter-spacing: .6px;
      }
    }
    .status {
      background: $white;
      box-shadow: 0 1px 29px 0 rgba(68,68,68,0.10);
      border-radius: 2px;
      padding: 40px;
      width: calc(100% - 395px);
      margin-top: 100px;
      position: relative;
      &.play {
        .bar {
          width: 95%;
        }
        .tip {
          opacity: 1;
          transform: none;
          margin-bottom: 20px;
          transition-delay: 500ms;
        }
      }
      .bar {
        width: 0;
        transition: all 450ms $easeOutQuint;
      }
      .tip {
        background: #000;
        color: $white;
        padding: 15px 30px 15px 20px;
        position: absolute;
        bottom: 100%;
        right: 0;
        text-align: left;
        border-radius: 2px;
        border-bottom-right-radius: 0px;
        opacity: 0;
        transition: all 350ms $easeOutBack;
        transform: scale(0);
        transform-origin: right bottom;
        &:after {
          position: absolute;
          content: "";
          display: block;
          top: 100%;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 20px 0;
          border-color: transparent #000 transparent transparent;
        }
        span {
          display: block;
          white-space: nowrap;
          font: 15px/1.4em $sans;
          letter-spacing: .6px;
          &:last-child {
            color: $red;
            font: bold 11px/2em $kia;
            text-transform: uppercase;
          }
        }
      }
      .pull-right {
        text-align: right;
      }
      strong {
        padding-top: 15px;
        display: block;
        font: 500 18px $kia;
        letter-spacing: .9px;
        color: #000;
        margin-bottom: 3px;
      }
      em {
        display: block;
        font: bold 10px $kia;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #969696;
      }
    }
    .image {
      clear: both;
      text-align: center;
      padding-top: 97px;
      img {
        max-width: calc(100% - 200px);
      }
    }
    .text-last {
      text-align: center;
      max-width: 625px;
      margin: 0 auto 125px;
      padding-top: 22px;
      h3 {
        font: 100 22px $kia;
        letter-spacing: .6px;
        color: #000;
        margin: 0 0 18px;
      }
      p {
        font: 14px/1.79em $sans;
        letter-spacing: .6px;
      }
    }
    @media (max-width: $screen-sm-max) {
      .text {
        max-width: 275px;
        h2 {
          font-size: 23px;
          letter-spacing: .6px;
        }
      }
      .status {
        margin-top: 75px;
        padding: 20px;
        width: calc(100% - 300px);
        strong {
          padding-top: 10px;
          font-size: 14px;
        }
        em {
          font-size: 8px;
        }
      }
      @media (max-width: 370px) {
        margin-top: -30px;
      }
      .image {
        padding-top: 120px;
      }
    }
    @media (max-width: $screen-xs-max) {
      .text {
        max-width: calc(100% - 40px);
        margin-left: 20px;
        strong {
          font-size: 10px;
          letter-spacing: .5px;
        }
        h2 {
          font-size: 16px;
          letter-spacing: .4px;
        }
        p {
          padding-right: 30px;
        }
      }
      .status {
        width: 100%;
        margin-top: 25px;
        .status-header {
          text-align: center;
          margin-bottom: 20px;
          margin-top: -5px;
          strong {
            font: 500 20px/1em $kia;
            letter-spacing: .1px;
            color: #000;
            margin-bottom: 5px;
          }
          em {
            font: bold 9px/1em $kia;
            letter-spacing: 1px;
          }
        }
        strong {
          font-weight: normal;
          font-size: 12px;
          letter-spacing: .5px;
          font-family: $sans;
        }
      }
      .image {
        padding-top: 40px;
        img {
          max-width: 100%;
        }
      }
      .text-last {
        padding-top: 50px;
        margin-bottom: 75px;
        h3 {
          font: 500 16px $kia;
          letter-spacing: .4px;
        }
        p {
          padding: 0 10px;
        }
      }
    }
  }
  .dark {
    padding: 78px 0 90px;
    background: #000 url('/images/pre-login/grunge.png') top left/contain no-repeat;
    color: $white;
    border-radius: 2px;
    overflow: hidden;
    @media (max-width: $screen-xs-max) {}
    padding-top: 40px;
    .manual-image {
      margin-left: 45px;
      display: block;
      position: relative;
      top: 20px;
      transform: none !important;
      max-width: calc(100% - 45px);
      @media (max-width: $screen-xs-max) {
        top: 0;
        margin-left: 0;
        margin:  0 auto;
      }
    }
    strong {
      display: block;
      font: bold 12px/1em $kia;
      text-transform: uppercase;
      letter-spacing: .6px;
      @media (max-width: $screen-xs-max) {

      }
    }
    h2 {
      position: relative;
      font: 100 30px $kia;
      margin: 34px 0 15px;
      max-width: 225px;
      @media (max-width: $screen-sm-max) {
        font-size: 23px;
        letter-spacing: .6px;
        max-width: calc(100% + 40px);
        width: calc(100% + 40px);
      }
      @media (max-width: $screen-sm-max) {
        font-size: 18px;
        letter-spacing: .5px;
        margin-bottom: 30px;
      }
      &:before {
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background: $red;
        position: absolute;
        bottom: 100%;
        margin-bottom: 12px;
      }
    }
    h3 {
      font: 100 24px $kia;
      letter-spacing: .6px;
      margin-bottom: 22px;
      @media (max-width: $screen-sm-max) {
        font-size: 20px;
        letter-spacing: .5px;
        margin-bottom: 15px;
      }
    }
    p {
      font: 14px/1.79em $sans;
      letter-spacing: .6px;
      max-width: 350px;
    }
    .row {
      img {
        width: 100%;
        position: relative;
        display: block;
        transform: translateY(-5%);
      }
      &:first-child {
        margin-bottom: 250px;
        @media (max-width: $screen-sm-max) {
          margin-bottom: 150px;
        }
        p {
          line-height: 1.79em;
          @media (max-width: $screen-sm-max) {
            width: calc(100% + 30px);
          }
        }
      }
      &:nth-child(2) {
        padding-left: 66px;
        margin-bottom: 50px;
        @media (max-width: $screen-sm-max) {
          padding-left: 40px;
        }
      }
      &:nth-child(3) {
        margin-bottom: 0;
        @media (max-width: $screen-sm-max) {
          padding-right: 30px;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      text-align: center;
      background-image: url('/images/pre-login/grunge_mobile.png');
      background-size: auto;
      background-repeat: repeat-x;
      background-position: center top;
      strong,
      h2 {
        text-align: left;
        width: 100% !important;
      }
      .row {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
      p {
        margin: 0 auto;
        width: 100% !important;
      }
      .image {
        margin-bottom: 25px;
        img {
          transform: none;
        }
      }
    }
  }
  .tracking {
    padding-top: 112px;
    text-align: center;
    margin-bottom: 145px;
    .image {
      text-align: center;
      margin-bottom: 60px;
      img {
        max-width: calc(100% - 30px);
      }
    }
    .text {
      h3 {
        font: 100 24px $kia;
        letter-spacing: .6px;
        color: #000;
        margin: 0 0 18px;
      }
      p {
        max-width: 707px;
        margin: 0 auto;
        font: 14px/1.79em $sans;
        letter-spacing: .6px;
        @media (max-width: $screen-sm-max) {
          max-width: 525px;;
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      padding-top: 100px;
      margin-bottom: 115px;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 70px;
      margin-bottom: 85px;
      .image {
        margin-bottom: 25px;
        max-width: calc(100% - 50px);
        margin: 0 auto 25px;
      }
      .text {
        h3 {
          font-size: 19px;
          letter-spacing: .4px;
          margin-bottom: 12px;
        }
        p {
          font-size: 12px;
          line-height: 2.08em;
          letter-spacing: .5px;
        }
      }
    }
  }
  .uvo-intro {
    background: #000;
    text-align: center;
    padding: 65px 0;
    p {
      color: #FFF;
      font: 100 18px $kia;
      letter-spacing: 1.3px;
      padding-top: 11px;
      margin: 0;
    }
    @media (max-width: $screen-sm-max) {
      p {
        font-size: 16px;
        letter-spacing: 1.1px;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 50px 0 60px;
      p {
        font-size: 14px;
        max-width: 255px;
        margin: 0 auto;
      }
    }
  }
  .remote-promo {
    padding-top: 100px;
    > .text {
      max-width: 425px;
      margin-bottom: 30px;
      strong {
        display: block;
        font: bold 12px/1em $kia;
        color: #969696;
        text-transform: uppercase;
        letter-spacing: .6px;
        img {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -2px;
          margin-right: 9px;
        }
      }
      h2 {
        position: relative;
        font: 100 30px/1em $kia;
        color: #000;
        margin: 55px 0 18px;
        &:before {
          content: "";
          display: block;
          width: 50px;
          height: 4px;
          background: $red;
          position: absolute;
          bottom: 100%;
          margin-bottom: 35px;
        }
      }
      p {
        font: 14px/1.79em $sans;
        letter-spacing: .6px;
        color: #2f2f2f;
        margin-bottom: 0;
      }
    }
    .tab-nav {
      margin: 0;
      padding: 0 75px;
      border-bottom: solid 1px #d4d4d4;
      overflow: hidden;
      list-style: none;
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
      li {
        float: left;
        width: 33.3333%;
        text-align: center;
        font: bold 14px/70px $kia;
        text-transform: uppercase;
        @media (max-width: $screen-xs-max) {
          font-size: 12px;
          line-height: 60px;
        }
        &.active {

        }
        a {
          color: #8e8e8e;
          display: inline-block;
          position: relative;
          text-decoration: none !important;
          &:after {
            position: absolute;
            display: block;
            content: "";
            bottom: 0px;
            width: calc(100% + 40px);
            height: 1px;
            background: $red;
            left: 50%;
            transform: translateX(-50%);
            transition: all 250ms $easeOutQuint;
            opacity: 0;
          }
        }
        &.active {
          a {
            color: #000;
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
    .tab-content {
      text-align: center;
      img  {
        max-width: 100%;
        display: inline-block;
      }
      .battery-render-wrap {
        padding-top: 55px;
        margin-bottom: 20px;
        @media (max-width: $screen-xs-max) {
          padding-top: 20px;
          img {
            max-width: calc(100% - 250px);
          }
        }
      }
      .dial-render-wrap {
        padding-top: 55px;
        @media (max-width: $screen-xs-max) {
          padding-top: 20px;
          margin-bottom: -20px;
          img {
            max-width: calc(100% - 100px);
          }
        }
      }
      .car-render {
        + .button-render {
          display: inline-block;
          margin-top: -100px;
          @media (max-width: $screen-xs-max) {
            margin-top: -50px;
          }
          @media (max-width: 374px) {
            margin-top: -10px;
          }
        }
      }
      .text {
        padding-top: 50px;
        max-width: 516px;
        margin: 0 auto;
        h3 {
          font: 100 24px $kia;
          letter-spacing: .6px;
          color: #000;
          margin: 0 0 17px;
        }
        p {
          font: 14px/1.79em $sans;
          letter-spacing: .6px;
        }
        @media (max-width: $screen-xs-max) {
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 12px;
            line-height: 2.08em;
            letter-spacing: .5px;
            padding: 0 20px;
            max-width: 400px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .awards {
    padding-top: 120px;
    text-align: center;
    margin-bottom: 165px;
    .row {
      max-width: 745px;
      margin: 0 auto;
      > div {
        position: relative;
        min-height: 85px;
      }
    }
    img {
      position: relative;
      transform: translate(-50%, -50%) scale(1);
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
    }
    strong {
      display: block;
      font: bold 12px/1em $kia;
      color: #969696;
      text-transform: uppercase;
      letter-spacing: .6px;
    }
    .text {
      padding-top: 55px;
      max-width: 505px;
      margin: 0 auto;
    }
    h3 {
      position: relative;
      font: 100 30px/1em $kia;
      color: #000;
      margin: 34px 0 27px;
      &:before {
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background: $red;
        position: absolute;
        bottom: 100%;
        margin-bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    p {
      font: 14px/1.79em $sans;
      letter-spacing: .6px;
      color: #2f2f2f;
      margin-bottom: 0;
    }
    @media (max-width: $screen-xs-max) {
      img {
        transform: translate(-50%, -50%) scale(.75);
      }
      strong {
        font-size: 10px;
      }
      h3 {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .4px;
        margin-bottom: 12px;
      }
      p {
        font-size: 12px;
        line-height: 2.08em;
        letter-spacing: .5px;

      }
    }
  }
  .account-cta {
    margin-bottom: 151px;
    .row {
      max-width: 945px;
      margin: 0 auto;
      > div {
        @media (min-width: $screen-xs-max) {
          padding: 0 40px;
        }
      }
    }
    &-box {
      display: block;
      background: #000;
      height: 240px;
      position: relative;
      cursor: pointer;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;;
      }
      &:after {
        display: block;
        position: absolute;
        width: 71px;
        height: 71px;
        background: $red;
        content: "";
        bottom: 0;
        right: 0;
        transform: translate(15px, 15px);
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        height: 30px;
        width: 15px;
        background: $red url("/images/icon_arrow_right_white.svg") center/contain no-repeat;
        transform: translate(-50%, -25%);
        margin-right: 2px;
      }
      &-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: block;
        text-align: center;
        margin-top: -10px;
        strong {
          display: block;
          font: bold 12px $kia;
          letter-spacing: .6px;
          color: #969696;
          margin-bottom: 3px;
          margin-top: 25px;
        }
        em {
          display: block;
          color: #FFF;
          font: 500 26px $kia;
          letter-spacing: 1.1px;
        }
      }
    }
  }
  .app-cta {
    text-align: center;
    margin-bottom: 188px;
    strong {
      display: block;
      font: bold 12px/1em $kia;
      color: #969696;
      text-transform: uppercase;
      letter-spacing: .6px;
    }
    .text {
      margin: 0 auto;
    }
    h3 {
      position: relative;
      font: 100 30px/1em $kia;
      color: #000;
      margin: 34px 0 37px;
      &:before {
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background: $red;
        position: absolute;
        bottom: 100%;
        margin-bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .row {
      max-width: 400px;
      margin: 0 auto;
      a {
        display: block;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 50px;
      a {
        margin-bottom: 31px;
      }
      strong {
        font-size: 10px;
      }
      h3 {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .4px;
      }
    }
  }
  nav.nav-app {
    .nav-app-mobile-menu {
      bottom: 0;
      left: auto;
      // right: 100%;
      transform: translateX(-100%);
      &.open {
        transform: none;
      }
      &-body {
        top: 0;
        bottom: 0;
        .nav-list {
          li {
            margin-left: 15px;
            padding-right: 15px;
            a {
              padding-left: 0;
            }
            .button {
              width: 100%;
              padding: 0;
              height: 40px;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
  .map-scroll {
    margin-top: 200px;
    position: relative;
    padding: 0 50px;
    margin-bottom: 100px;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    .contain {
      max-width: 807px;
      position: relative;
      padding: 0;
    }
    .map-element {
      width: 100%;
      background: url('/images/pre-login/map.png') top center/contain no-repeat;
      padding-top: 257.9925651%;
      border-radius: 2px;
      margin: 0 auto;
      box-shadow: 0 1px 29px 0 rgba(68,68,68,0.24);
      position: relative;
    }
    .map-path {
      display: inline-block;
      position: absolute;
      top: 6.8%;
      right: 4.8%;
      max-width: 38.9095415%;
    }
    .car {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2082px;
      pointer-events: none;
      transition: all 250ms $easeOutQuint;
      .contain {
        height: 100%;
      }
      &.hide-car {
        opacity: 0;
        .car-element {
          pointer-events: none;
        }
      }
      &.fixed {
        position: fixed;
        .contain {
          margin-top: 70px;
        }
      }
    }
    .car-container {
      transform: translateX(55px);
      width: 100%;
      top: 120px;
      padding: 0;
      transform-origin: top center;
    }
    .car-element {
      position: absolute;
      right: 41.5%;
      width: 30px;
      height: 57px;
      background: url('/images/pre-login/car-pin.png') top center/contain no-repeat;
      transition: all 250ms $easeOutQuint;
      transform-origin: center;
      transform: rotate(-22deg);
      pointer-events: all;
    }
  }
  .white-box {
    position: absolute;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 0 1px 29px 0 rgba(68,68,68,0.10);
    border-radius: 2px;
    max-width: 430px;
    &.on-scroll {
      padding: 38px 38px 35px;
      max-width: 355px;
      transition: all 350ms $easeOutBack;
      opacity: 0;
      transform: translateX(20px) scale(.5);
      @media (max-width: $screen-sm-max) {
        max-width: 315px;
        padding: 20px;
      }
      &.show {
        transform: none;
        opacity: 1;
      }
      p {
        max-width: 235px;
      }
    }
    &.map-intro-box  {
      top: -70px;
      left: -50px;
      padding: 45px 50px;
      p {
        max-width: 235px;
      }
      @media (max-width: $screen-sm-max) {
        left: -30px;
        width: 402px;
        h2 {

        }
      }
    }
    &.charging-box {
      top: 18%;
      left: 5%;
    }
    &.geo-box {
      top: 39%;
      left: 15%;
    }
    &.curfew-box {
      top: 60%;
      left: 28%;
      @media (max-width: $screen-sm-max) {
        left: 25%;
      }
    }
    &.speed-box {
      top: 80%;
      left: 31%;
      @media (max-width: $screen-sm-max) {
        left: 24%;
      }
    }
    strong {
      display: block;
      font: bold 12px/1em $kia;
      color: #969696;
      text-transform: uppercase;
      letter-spacing: .6px;
      img {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin-right: 9px;
      }
    }
    h2 {
      position: relative;
      font: 100 30px/1em $kia;
      color: #000;
      margin: 30px 0 18px;
      &:before {
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background: $red;
        position: absolute;
        bottom: 100%;
        margin-bottom: 15px;
      }
    }
    h3 {
      font: bold 15px $kia;
      color: #000;
      letter-spacing: .4px;
      text-transform: uppercase;
      margin: 0 0 10px;
    }
    p {
      font: 14px/1.5em $sans;
      letter-spacing: .6px;
      color: #2f2f2f;
      margin-bottom: 0;
    }
  }
  .map-info {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    transition: all 350ms $easeOutBack;
    opacity: 0;
    transform: translateX(20px) scale(.5);
    transform-origin: bottom center;
    pointer-events: none;
    img {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &.show {
      transform: none;
      opacity: 1;
    }
    &.geo-info {
      top: 13.5%;
      right: 22%;
    }
  }
  .alert-circle {
    position: absolute;
    z-index: 10;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #F23F3F;
    box-shadow: 1px 1px 2px 0 rgba(53,6,6,0.50);
    line-height: 25px;
    text-align: center;
    transform: scale(0);
    opacity: 0;
    transition: all 250ms $easeOutQuint;
    &.show {
      opacity: 1;
      transform: none;
      span {
        opacity: 1;
        transform: translate(15px, -50%);
        transition-delay: 225ms;
      }
    }
    span {
      display: block;
      background: #000000;
      box-shadow: 1px 4px 15px 0 rgba(0,0,0,0.23);
      border-radius: 2px;
      color: $white;
      width: 105px;
      height: 42px;
      position: absolute;
      top: 50%;
      left: 100%;
      font: bold 14px/43px $kia;
      padding-left: 3px;
      transform: translate(0, -50%) scale(.75);
      transform-origin: left center;
      opacity: 0;
      transition: all 250ms $easeOutBack;
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 7px 7.5px 0;
        border-color: transparent #000 transparent transparent;
      }
    }
    img {
      display: inline-block;
      position: relative;
      top: -1.5px;
      left: 1px;
    }
    &.alert-geo {
      top: 40%;
      left: 63.7%;
    }
    &.alert-curfew {
      top: 60%;
      left: 74.5%;
      img {
        top: -2px;
        left: 1.5px;
      }
    }
    &.alert-speed {
      top: 81%;
      left: 93%;
      &.show {
        span {
          transform: translate(-15px, -50%);
        }
      }
      span {
        left: auto;
        right: 100%;
        transform: translate(0, -50%) scale(.75);
        &:after {
          left: 100%;
          transform: translateY(-50%) rotate(180deg);
        }
      }
      img {
        top: -2px;
        left: 1px;
      }
    }
  }
  .map-stats {
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 0 1px 29px 0 rgba(68,68,68,0.10);
    border-radius: 2px;
    width: calc(100% - 80px);
    max-width: 705px;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 171px;
    .trip-points {
      position: absolute;
      left: 16px;
      top: 16px;
      bottom: 16px;
      width: 16px;
      pointer-events: none;
      user-select: none;
      &:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #000;
        left: 50%;
        transform: translateX(-50%);
        transition: all 250ms $easeOutQuint;
      }
      > span {
        transition: all 250ms $easeOutQuint;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        color: $white;
        text-align: center;
        width: 17px;
        height: 17px;
        font: bold 11px/17px $sans;
        border-radius: 100%;
        &.merge {
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid #FFF;
          width: 19px;
          height: 19px;
          left: -1px;
          transition: all 250ms $easeOutQuint;
          opacity: 0;
          svg {
            width: 9px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
        em {
          position: absolute;
          left: 100%;
          white-space: nowrap;
          color: #000;
          font: bold 10px/1em $kia;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 13px;
          letter-spacing: .4px;
        }
      }
      @media (max-width: $screen-xs-max) {
        left: 10px;
      }
    }
    .trip-data {
      width: 420px;
      margin: 0 auto;
      padding-top: 57px;
      strong {
        display: block;
        font: bold 42px/1em $kia;
        width: 55px;
        position: relative;
        margin-bottom: 3px;
        span:last-child {
          font-size: 20px;
          display: inline-block;
          position: absolute;
          left: 100%;
          bottom: -7px;
        }
      }
      em {
        display: block;
        font: bold 10px/1em $kia;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #969696;
        padding-left: 6px;
      }
    }
  }
}

.view-uvo-availability {
  header {
    height: 0;
    margin-bottom: 70px;
  }
  .page-header {
    border-bottom: none;
    padding-top: 35px;
    h1 {
      font: 100 32px $kia;
      letter-spacing: 1.5px;
      margin: 0 0 41px;
      + p {
        font: 14px/1.5em $sans;
        letter-spacing: .6px;
        max-width: 700px;
      }
    }
  }
  .year-select {
    display: inline-block;
    width: 109px;
    @media (max-width: $screen-xs-max) {
      width: calc(50% - 5px);
      button {
        background: #fff !important;
      }
    }
  }
  .model-select {
    display: inline-block;
    width: 209px;
    margin-left: 5px;
    @media (max-width: $screen-xs-max) {
      width: calc(50% - 5px);
      button {
        background: #fff !important;
      }
    }
  }
  .row-table {
    .row {
      clear: both;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 3px;
    }
    .thead {
      padding-top: 30px;
      font: bold 10px $kia;
      letter-spacing:  1px;
      color: #969696;
      text-align: center;
      margin-bottom: 24px;
      > div {
        &:first-child {
          text-align: left;
          padding-left: 35px;
        }
      }
    }
    .tbody {
      text-align: center;
      border-radius: 2px;
    	background-color: #ffffff;
    	border: solid 1px #e9e9e9;
      height: 138px;
      line-height: 138px;
      > div {
        &:first-child {
          text-align: left;
          padding-left: 35px;
        }
      }
      .car-meta {
        line-height: 1em;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -5px;
        strong {
          margin-bottom: 12px;
          display: block;
          font: bold 13px $kia;
          text-transform: uppercase;
          letter-spacing: .6px;
        }
        img {
          display: block;
          line-height: 1em;
        }
      }
    }
  }
  .na {
    font-size: 16px;
    font-weight: bold;
    font-family: $kia;
    text-transform: uppercase;
    color: #cfcfcf;
    letter-spacing: .8px;
  }
  .toggle-info {
    position: relative;
    display: inline-block;
    line-height: 1em;
    &:active,
    &:hover {
      .info {
        opacity: 1;
        transform: translateX(-50%);
      }
    }
    .info {
      bottom: 100%;
      background: #FFFFFF;
      box-shadow: 1px 4px 15px 0 rgba(0,0,0,0.23);
      border-radius: 2px;
      position: absolute;
      line-height: 1em;
      left: 50%;
      transform: translateX(-50%) scale(.25);
      width: 230px;
      text-align: left;
      padding: 20px;
      z-index: 10;
      transition: all 250ms $easeOutBack;
      transform-origin: bottom center;
      opacity: 0;
      pointer-events: none;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #FFF transparent transparent transparent;
      }
      strong {
        display: block;
        font: bold 12px $kia;
        letter-spacing: .3px;
        text-transform: uppercase;
        margin-bottom: 6px;
      }
      span {
        display: block;
        position: relative;
        padding-left: 30px;
        font: 12px/1.25em $sans;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: "•";
          display: block;
          position: absolute;
          top: 0;
          left: 8px;
        }
      }
    }
  }
  .row-collapse {
    .car-row {
      background: #FFFFFF;
      border: 1px solid #E9E9E9;
      border-radius: 2px;
      margin-bottom: 3px;
    }
    .collapse-header {
      display: block;
      position: relative;
      height: 75px;
      line-height: 75px;
      padding: 0 11px;
      overflow: hidden;
      &[aria-expanded="true"] {
        .icon-arrow-right {
          transform: translateY(-50%) rotate(-90deg);
        }
      }
      img {
        max-width: 80px;
        margin-right: 11px;
      }
      strong {
        font: 500 12px $kia;
        letter-spacing: .3px;
      }
    }
    .icon-arrow-right {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      transition: all 250ms $easeOutQuint;
      transform-origin: center;
    }
    .collapse-body {
      border-top: 1px solid rgba($black, .15);
      text-align: center;
      font: bold 9px/80px $kia;
      text-transform: uppercase;
      letter-spacing: .4px;
      .row {
        margin-bottom: 3px;
        margin-left: 0;
        margin-right: 0;
        > div {
          padding: 0;
        }
      }
      .tap {
        padding-top: 10px;
        line-height: 1em;
        display: block;
        font-size: 10px;
        letter-spacing: .3px;
        font-family: $sans;
        text-transform: none;
        font-weight: normal;
        opacity: .5;
      }
      .box {
        width: 140px;
        max-width: 100%;
        object-fit: cover;
        margin: 0 auto;
        &.na {
          background-color: #ffffff;
        	border: solid 1px #e5e5e5;
          display: inline-block;
        }
        .info {
          margin-left: -30px;
          &:after {
            margin-left: 30px;
          }
        }
        img {
          width: 100%;
        }
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.icon-arrow-right {
  display: inline-block;
  width: 12px;
  height: 18px;
  background: url('/images/icon_arrow_right_dark.svg') center/contain no-repeat;
}
