@import "../variables.scss";
@import "../mixins.scss";

.vehicle-container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .custom-col {
        width: 33.3%;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        .js-vehicle-wrapper {
            text-align: center;
            width: 213px;
            margin: 30px auto;
            position: relative;
            z-index: 0;
            cursor: pointer;
            padding: 0px 25px;
            // margin: 0px 20px
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0
            }
            @media (max-width: $screen-xs) {
                margin: 50px auto;
            }
            > figure {
                height: 90px;
                .vehicle-image {
                    width: 100%;
                }
            }
            p {
                @media (min-width: $screen-sm) {
                    // margin-top: 20px;
                    font-family: $kia;
                    font-size: 14px;
                }
            }
            .active-rectangle {
                width: 62px;
                height: 4px;
                background: $red !important;
                transition: ease-in-out .3s;
                margin: auto;
                opacity: 0;
            }
            &.active {
                .active-rectangle {
                    opacity: 1;
                }
                opacity: 1
            }
            &.inactive {
                transition: ease-in-out .3s;
                opacity: 0.4
            }
        }
    }   
}

.head-unit-container {
    text-align: center;
    display: flex;
    justify-content: center;
    // width: 90%;
    margin: auto;
    ul {
        padding: 0;
        margin: 30px 0 0 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 13px;
        > li {
            margin: 25px 0px;
            padding: 0px 50px;
            width: 100%;
            @media (min-width: $screen-sm) {
                width: 50%;
            }
            @media (min-width: $screen-md) {
                width: 33.3%;
            }
            .head-unit-image {
                width: 100%;
                margin-bottom: 20px;
            }
            button {
                width:100%;
                // transition: $ease-in-out;
                &:hover {
                    opacity: 0.7;
                    background: $black !important;
                }
            }
        }
    }
}

#uvo-availability-heading {
    margin: 0;
    @media (min-width: $screen-md) {
        margin: 15px 0;
    }
}

.page-view-content {
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(39,48,59,0.24);
    border-radius: 2px;
    padding: 55px 45px 60px;
    // margin-top: 45px;
    @media (max-width: $screen-xs-max) {
      padding: 20px 20px 25px;
    //   margin-top: 10px;
    }
    .selection {
        display: flex;
        flex-direction: column;
        @media (min-width: $screen-sm) {
            flex-direction: row;
        }
        // .selection-row {
        //     @media (min-width: $screen-sm) {
        //         margin-right: 70px;
        //     }
            .selection-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                @media (min-width: $screen-sm) {
                    flex-direction: column;
                    align-items: center;
                }
                .vehicle-container {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    @media (min-width: $screen-sm) {
                        width: 100%;
                        margin-top: 0;
                    }
                    .image-container {
                        height: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50%;
                        max-width: 128px;
                        @media (min-width: $screen-sm) {
                            width: 100%;

                        }
                        @media (min-width: $screen-md) {
                            width: 90%;
                            
                        }
                        .vehicle-image-tag {
                            width: 150%;
                            @media (min-width: $screen-sm) {
                                width: 100%;
                            }

                        }
                    }
                 
                    .vehicle-text {
                        margin-top: none;
                        font-size: 13px; 
                        font-family: $kia;
                    }
                }
            }
            .button-container {
                cursor: pointer;
                margin-top: 30px;
                text-align: center;
                font-family: $kia;
                &.center {
                    text-align: center;
                }  

                .change-selection {

                    font-size: 11px !important;
                }
                a {
                    font-weight: bold;
                    color: $red;
                    letter-spacing: 0.74px;
                    font-size: 11px;
                }
                &-desktop {
                    @media (min-width: $screen-sm) {
                        text-align: left;
                    }            
                }
            }
        
            .uvo-services-container {
                margin-top: 35px;
                font:$sans; 
                line-height: 1.5;
                letter-spacing: 0.6px;
                color: #2f2f2f;
                p {
                    font-size: 14px;
                }
                @media (min-width: $screen-sm) {
                    margin: 0px 0px 0px 65px;
                    width:500px;
                }
                .list-features-container {
                    margin: 25px;
                    @media (min-width: $screen-sm) {
                        margin: 25px 0px;
                    }
                    ul {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        @media (min-width: $screen-sm) {
                            margin: 25px 0px;
                        }
                        li {
                            font-size: 14px;
                        }
                    }
                }

            }
        // }
    }
    .line {
        width: 78px;
        height: 2px;
        border: solid 1px #d4d4d4;
        margin: 50px auto;
        @media (min-width: $screen-sm) {
            width: 100%
        }
    }
    .explore-uvo-eservices-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        @media (min-width: $screen-sm) {
            text-align: left;
            padding: 0px 25px;
        }
        .heading-container {
            > h1 {
                font-size: 29px;
                margin-top:0;
            }
            .subheading-container {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                font-size: 14px;
                @media (min-width: $screen-sm) {
                    flex-direction: row;
                }
                > p {
                    margin-bottom: 20px;
                }
                 a {
                    cursor: pointer;
                    font-family: $kia;
                    font-weight: bold;
                    color: $red;
                    letter-spacing: 0.74px;
                    font-size: 11px;
                    @media (min-width: $screen-sm) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    .eservices-middle-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        @media (min-width: $screen-sm) {
            flex-direction: row;
            padding: 0px 15px;
        }
        .category-dropdown-container {
            display: block;
            @media (min-width: $screen-sm) {
                display: none;
            }
            form {
                white-space: nowrap;
                width: 100%;
                @media (max-width: $screen-xs-max) {
                  max-width: 500px;
                  margin: 0 auto;
                }
                .form-fields {
                  display: flex !important;
                  width: calc(100% - 100px);
                  font-size: 0;
                  vertical-align: bottom;
                  @media (max-width: $screen-xs-max) {
                    display: flex!important;
                    width: calc(100%);
                    margin: 0 auto 5px;
                  }
                  > li {
                    display: flex;
                    width: calc(33.3333% - 8px);
                    margin: 0 4px;
                    @media (max-width: $screen-xs-max) {
                      display: block;
                      width: 100%;
                      margin: 0 0 28px;
                    }
                    strong {
                      display: block;
                      font: bold 10px $kia;
                      letter-spacing: .4px;
                      text-transform: uppercase;
                      margin-bottom: 8px;
                    }
                  }
                }
                .form-action {
                  display: inline-block;
                  vertical-align: bottom;
                  @media (max-width: $screen-xs-max) {
                    display: block;
                    .button {
                      width: calc(100%);
                      margin: 0 auto;
                    }
                  }
                }
              }

        }
        .category-tablet-desktop-container {
            margin-right: 40px;
            display: none;
            @media (min-width: $screen-sm) {
                display: flex;
            }
            > ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-family: $kia;
                text-transform: uppercase;
                font-weight: bold;
                color: $grey;
                font-size: 12px;
                width: 185px;
                > li {
                    margin-bottom: 19px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    letter-spacing: 0.74px;
                    a {
                        cursor: pointer;
                        text-decoration: none;
                        color: $grey;
                        &.active {
                            color: $black
                        }
                    }
                    .active-indicator {
                        width: 4px;
                        margin-right: 10px;
                        height: 12px;
                        background-color: $red;
                        opacity: 0;
                    }
                    &.active {
                        color: $black;
                        .active-indicator{
                            opacity: 1
                        }
                    }
                }
            }
        }
        .eservices-list-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px 0px;
            text-align: center;
            @media (min-width: $screen-sm) {
                margin-left: 100px;
                margin-top: 0px;
                justify-content: flex-start;
                width: 500px;
            }
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                width: 100%;
                > li {
                    display: flex;
                    flex-direction: column;
                    // width:100%;
                    @media (min-width: $screen-sm) {
                        flex-direction: row;
                        margin-bottom: 20px;
                    }
                }
                .bg-card {
                    margin: auto;
                    width: 126px;
                    min-width: 126px;
                    height: 100px;
                    border-radius: 2px;
                    box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
                    background-color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    font-family: $kia;
                    color: $red;
                    @media (min-width: $screen-sm) {
                        margin: 0;
                    }
                    > h1 {
                        margin:0
                    }
                    > h5 {
                        margin:0
                    }
                }
                .card-text-container {
                    margin: 30px 0px;
                    line-height: 1.5;
                    letter-spacing: 0.6px;
                    text-align: center;
                    font-size: 14px;
                    width: 100%;
                    @media (min-width: $screen-sm) {
                        text-align: left;
                        margin: 0 0 0 15px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

.create-account-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f4f4f4;
    font-size: 14px;
    > p {
        @media (min-width: $screen-sm) {
            padding: 15px 0px;
        }
    }
}

.available-apps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    @media (min-width: $screen-sm) {
        align-items: flex-start;
        margin: 40px;
    }
    h1 {
        font-family: $kia;
        font-size: 29px
    }
    ul {
        padding: 0;
        margin: 20px 0 0 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        @media (min-width: $screen-sm) {
            flex-direction: row;
        }
        > li {
            margin: 25px 0;
            width: 200px;
            @media (min-width: $screen-sm) {
                margin: 40px 40px;
            }
            .available-apps-image-container {
                width: 194px;
                height: 110px;
                img {
                    width: 100%;
                }
            }
            > p {
                margin-top: 24px;
                text-align: center;
                font-size: 15px;
                b {
                    font-size: 13px;
                }
            }
            .app-store-container {
       
                width:100%;
            }
            .small-text-apps {
                font-size: 12px;
                line-height: 21px;
            }
        }
    }
}