@import "../variables.scss";
@import "../mixins.scss";

.view-my-vehicles {
  position: relative;
  &.editing {
    .my-vehicles-ulility-nav-tools {
      opacity: 0;
      transform: translateY(-100%);
      pointer-events: none;
    }
    .my-vehicles-ulility-nav-edit {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
    .my-vehicles-item-edit {
      opacity: 1 !important;
    }
  }
  .my-vehicles-subnav {
    width: 100%;
    height: 53px;
    background: $white;
    border-top: 2px solid #f7f7f7;
    &-items {
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 0;
      line-height: 53px;
      height: inherit;
      li {
        display: inline-block;
        margin: 0 25px;
        height: inherit;
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 12px;
          color: rgba($black, .3);
          letter-spacing: .3px;
          font-weight: bold;
          transition: all 250ms $easeOutQuint;
          position: relative;
          font-family: $kia;
          &:before {
            @include underline();
            transform: translate(-50%, 18px);
            width: calc(100% + 10px);
          }
          &:hover {
            color: $black;
          }
          &.active {
            color: $black;
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .my-vehicles-empty-state {
    position: relative;
    height: calc(100vh - 263px);
    &-cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      max-width: 372px;
      img {
        display: block;
        width: 100%;
        max-width: 272px;
        margin: 0 auto 30px;
      }
      h1 {
        margin: 0;
        font-size: 29px;
        letter-spacing: 1.4px;
        margin-bottom: 18px;
        font-family: $kia;
        font-weight: 500;
      }
      p {
        font-size: 14px;
        line-height: 1.5em;
        letter-spacing: .6px;
        color: $grey_2;
        margin-bottom: 32px;
      }
    }
    @media #{$mobile} {
      height: calc(100vh - 175px);
      &-cta {
        max-width: 235px;
        img {
          max-width: 147px;
          margin-bottom: 22px;
        }
        h1 {
          font-size: 24px;
          margin-bottom: 14px;
        }
      }
    }
  }
  .my-vehicles-ulility-nav {
    padding: 40px 0 50px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    @media (max-width: 540px) {
      padding: 15px 0;
    }
    .contain {
      max-width: 1000px;
      padding: 0 30px;
      position: relative;
      @media (max-width: 500px) {
        padding: 0 10px;
      }
    }
    h1 {
      font-size: 32px;
      letter-spacing: 1.5px;
      color: $black;
      margin: 0;
      font-weight: normal;
      float: left;
      font-family: $kia;
      @media (max-width: 700px) {
        display: none;
      }
    }
    &-tools {
      float: right;
      font-size: 0;
      transition: all 250ms $easeOutQuint;
      @media #{$mobile} {
        float: none;
        text-align: center;
      }
      .my-vehicles-switch-views {
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
        margin-right: 20px;
        padding: 0;
        border: none;
        a {
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
          margin: 0 15px;
          svg {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            * {
              fill: $grey !important;
              transition: all 250ms $easeOutQuint;
            }
          }
          &.switch-view-grid {
            height: 14px;
            width: 14px;
          }
          &.switch-view-list {
            width: 18px;
            height: 12px;
          }
          &.switch-view-map {
            width: 19px;
            height: 18px;
          }
          &:hover {
            svg * {
              fill: $grey_2 !important;
            }
          }
          &.active {
            svg * {
              fill: $red !important;
            }
          }
        }
        li {
          display: inline-block;
          margin: 0 15px;
          position: relative;
          vertical-align: middle;
          &:first-child {
            margin-left: 0px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
      }
      .my-vehicles-search {
        display: inline-block;
        vertical-align: middle;
        &-form {
          position: relative;
          height: 40px;
          &:before {
            display: block;
            content: "";
            width: 16px;
            height: 16px;
            background: url('/images/icon_search.svg') center/contain no-repeat;
            position: absolute;
            top: 50%;
            left: 14px;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }
        input[type="text"] {
          -webkit-appearance: none;
          height: 40px;
          border: 1px solid #a9adb1;
          border-radius: 2px;
          background: $white;
          padding-left: 40px;
          display: block;
          font-size: 11px;
          font-weight: normal;
          letter-spacing: 1.4px;
          outline: none;
          @media #{$desktop} {
            width: 230px;
          }
          @media #{$mobile} {
            width: 165px;
          }
        }
      }
      .my-vehicles-ulility-buttons {
        display: inline-block;
        vertical-align: middle;
        line-height: 1em;
        height: 40px;
        .button {
          margin-left: 10px;
        }
      }
    }
    &-edit {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      padding-right: inherit;
      margin: 0;
      opacity: 0;
      transform: translateY(100%);
      transition: all 250ms $easeOutQuint;
      height: 40px;
      line-height: 40px;
      pointer-events: none;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 19px;
        &:first-child {
          margin-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
        }
        span {
          display: block;
          font-size: 10px;
          line-height: 1em;
          letter-spacing: .7px;
          text-transform: uppercase;
          font-weight: bold;
          color: $red;
          transition: all 250ms $easeOutQuint;
          font-family: $kia;
          cursor: pointer;
          &.disabled {
            pointer-events: none;
            opacity: .3;
          }
          em {
            font-style: normal;
          }
          &.select-all {
            svg {
              width: 10px;
              height: 10px;
              * {
                fill: none !important;
                stroke: $red !important;
              }
            }
          }
          svg {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-right: 10px;
            top: -2px;
            * {
              fill: $red !important;
              transition: all 250ms $easeOutQuint;
            }
          }
          &:hover {
            color: $black;
            svg * {
              fill: $black !important;
            }
            &.select-all {
              svg * {
                fill: none !important;
                stroke: $black !important;
              }
            }
          }
        }
      }
      @media #{$mobile} {
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
        width: 100%;
        height: 60px;
        li {
          vertical-align: bottom;
          margin: 0 15px;
          &:nth-child(3) {
            margin-right: 0px;
          }
          span {
            display: block;
            height: 60px;
            line-height: 70px;
            position: relative;
            svg {
              display: block;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              height: 20px !important;
            }
            em {
              display: none;
            }
            &.cancel {
              display: none;
            }
          }
        }
      }
    }
  }
  .my-vehicles-car-listings {
    transition: all 250ms $easeOutQuint;
    position: relative;
    min-height: calc(100vh - 370px);
    overflow: hidden;
    > * {
      min-height: inherit;
      overflow: hidden;
    }
    .active {
      .no-results-found.show {
        opacity: 1;
      }
    }
    .no-results-found {
      position: absolute;
      font-size: 29px;
      top: 300px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      text-align: center;
      color: #9da0a4;
      font-weight: 100;
      letter-spacing: 1.4px;
      pointer-events: none;
      opacity: 0;
      transition: all 250ms $easeOutQuint;
      font-family: $kia;
      @media (max-width: 650px) {
        font-size: 20px;
        letter-spacing: .5px;
        max-width: 210px;
        top: 130px;
      }
    }
    .my-vehicles-item-edit {
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 3;
      background: rgba($black, .75);
      height: 35px;
      width: 35px;
      border-radius: 3px;
      transition: all 250ms $easeOutQuint;
      opacity: 0;
      .checkbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 21px;
        height: 21px;
        display: block;
        em {
          &:before {
            border-color: $black;
            transition: all 250ms $easeOutQuint;
          }
        }
      }
    }
    > * {
      transition: all 250ms $easeOutQuint;
      position: absolute;
      width: 100%;
      pointer-events: none;
      &.active {
        pointer-events: all;
        z-index: 2;
      }
    }
    .my-vehicles-grid {
      font-size: 0;
      .contain {
        max-width: 845px;
        padding: 0 5px;
      }
      &.active {
        .my-vehicles-grid-item {
          opacity: 1;
          transform: scale(1);
          @for $i from 1 through 100 {
    				&:nth-child(#{$i}) {
    					transition-delay: 50ms * $i;
    				}
    			}
        }
      }
      &-item {
        opacity: 0;
        transform: scale(.75);
        transition: all 250ms $easeOutQuint;
        height: 340px;
        background: $white;
        width: calc(50% - 18px);
        position: relative;
        box-shadow: 0 1px 3px 0 rgba(39, 48, 59, 0.24);
        padding: 25px 25px 0;
        display: inline-block;
        margin: 9px;
        border-radius: 2px;
        overflow: hidden;
        &.hide {
          display: none;
        }
        @media (max-width: 700px){
          width: 100%;
          margin: 0 auto 10px;
          display: block;
          height: 310px;
          max-width: 500px;
        }
        &:hover {
          .my-vehicles-item-edit {
            opacity: 1;
          }
        }
        &-header {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding: inherit;
          em {
            font-size: 10px;
            letter-spacing: 1px;
            color: $grey;
            font-style: normal;
            display: block;
            line-height: 1em;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-family: $kia;
            @media #{$mobile} {
              font-size: 9px;
            }
          }
          strong {
            display: block;
            font-size: 20px;
            letter-spacing: 0.5px;
            color: $black;
            line-height: 1em;
            font-weight: 500;
            font-family: $kia;
            @media #{$mobile} {
              font-size: 18px;
            }
          }
        }
        &-settings {
          position: absolute;
          top: 0;
          right: 0;
          padding: inherit;
          transform: translateY(-2px);
          &-message {
            position: absolute;
            bottom: 0;
            right: 50px;
            white-space: nowrap;
            line-height: 14px;
            color: $red;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: .3px;
            font-weight: bold;
            text-decoration: none;
            transition: all 250ms $easeOutQuint;
            font-family: $kia;
            &:before {
              @include underline();
              transform: translate(-50%, 0px);
            }
            &:hover {
              &:before {
                opacity: 1;
                transform: translate(-50%, 3px);
              }
            }
            @media #{$mobile} {
              font-size: 8px;
            }
          }
          &-icon {
            display: block;
            svg {
              display: block;
              * {
                fill: $grey !important;
                transition: all 250ms $easeOutQuint;
              }
            }
            &:hover {
              svg * {
                fill: $black !important;
              }
            }
          }
        }
        &-image {
          position: absolute;
          top: 85px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          text-align: center;
          img {
            max-width: 100%;
          }
          @media (max-width: 700px) {
            top: 75px;
            img {
              max-height: 95px;
            }
          }
        }
        &-meta-data {
          position: absolute;
          bottom: 28px;
          width: 100%;
          left: 50%;
          padding: inherit;
          height: 100px;
          padding-top: 0px;
          max-width: 500px;
          transform: translateX(-50%);
          @media (max-width: 700px) {
            height: 90px;
          }
          &.layout-2 {
            .car-meta-data {
              width: 50%;
              text-align: center;
            }
          }
          &.large {
            bottom: 0;
            .car-meta-data {
              strong {
                font-size: 11px;
              }
              em {
                font-size: 20px;
                color: #2f2f2f;
              }
            }
          }
          &-inner {
            font-size: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: inherit;
            padding-right: inherit;
          }
          .car-meta-data {
            display: inline-block;
            width: 33.3333%;
            vertical-align: top;
            margin-bottom: 20px;
            strong {
              display: block;
              font-size: 10px;
              text-transform: uppercase;
              color: $grey;
              letter-spacing: 1px;
              line-height: 1em;
              margin-bottom: 8px;
              font-family: $kia;
            }
            em {
              font-size: 14px;
              display: block;
              letter-spacing: .4px;
              line-height: 1em;
              font-style: normal;
              &.error {
                color: #f23f3f;
                font-size: 16px;
                padding-left: 25px;
                background: url('/images/icon_triangle_error.svg') left center/contain no-repeat;
              }
              .charge-level {
                display: inline-block;
                vertical-align: middle;
                margin-right: 9px;
                position: relative;
                top: -2px;
                width: 10px;
                height: 19px;
                svg {
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 100%;
                  height: 100%;
                }
                &-bar {
                  width: calc(100% - 4px);
                  position: absolute;
                  bottom: 2px;
                  left: 50%;
                  transform: translateX(-50%);
                  height: 12px;
                  &-display {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $green;
                    transition: all 250ms $easeOutQuint;
                    max-height: 100%;
                  }
                }
              }
            }
            @media #{$tablet} {
              strong {
                font-size: 9px;
              }
            }
            @media #{$mobile} {
              margin-bottom: 15px;
              strong {
                font-size: 8px;
                letter-spacing: .4px;
                margin-bottom: 5px;
              }
              em {
                font-size: 12px;
                letter-spacing: .3px;
              }
            }
          }
        }
        &-footer {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 28px;
          background: $grey_2;
          color: #848484;
          line-height: 28px;
          padding: 0 10px;
          font-size: 11px;
          letter-spacing: .3px;
          .status-uvo {
            &.green {
              &:before {
                background: $green;
              }
            }
            &.grey {
              &:before {
                background: $grey;
              }
            }
            &.red {
              &:before {
                background: $red;
              }
            }
            &:before {
              display: inline-block;
              width: 6px;
              height: 6px;
              content: "";
              background: #848484;
              vertical-align: middle;
              border-radius: 100%;
              position: relative;
              top: -1px;
              margin-right: 7px;
              margin-left: 3px;
              transition: all 250ms $easeOutQuint;
            }
            .logo-uvo {
              color: rgba($white, 0);
              vertical-align: middle;
              width: 36px;
              height: 20px;
              display: inline-block;
              background: url('/images/logo_uvo_white.svg') center/contain no-repeat;
              position: relative;
              top: -2px;
            }
            &-message {
              display: inline-block;
              vertical-align: top;
              margin-left: 3px;
            }
            &-last-updated {
              float: right;
            }
          }
        }
        &-message {
          text-align: center;
          position: absolute;
          bottom: 28px;
          left: 0;
          width: 100%;
          padding-left: inherit;
          padding-right: inherit;
          padding-bottom: 20px;
          @media (max-width: 700px) {
            padding-left: 10px;
            padding-right: 10px;
            + .my-vehicles-grid-item-image {
              img {
                max-height: 75px;
                position: relative;
                top: -10px;
              }
            }
          }
          strong {
            font-size: 14px;
            line-height: 1.5em;
            letter-spacing: .6px;
          }
          p {
            font-size: 12px;
            max-width: 270px;
            margin: 0 auto 12px;
            color: $grey_2;
            letter-spacing: .5px;
            line-height: 1.75em;
          }
          .button {
            height: 35px;
            line-height: 33px;
            font-size: 12px;
            padding: 0 30px;
          }
        }
      }
    }
    .my-vehicles-list {
      &-view {
        .contain {
          max-width: 1015px;
          padding: 0 14px;
        }
        [class*="cell-"] {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 5px;
        }
        .cell {
          &-checkbox {
            &:not(.my-vehicles-item-edit) {
              width: 53px;
            }
          }
          &-image {
            width: 80px;
          }
          &-model {
            width: 70px;
          }
          &-year {
            width: 65px;
          }
          &-nickname {
            width: 130px;
          }
          &-mileage {
            width: 105px;
          }
          &-service {
            width: 100px;
          }
          &-issues {
            width: 90px;
          }
          &-meta-data {
            width: 195px;
          }
          @media (max-width: 1000px) {
            &-checkbox {
              &:not(.my-vehicles-item-edit) {
                width: 4.4%;
                min-width: 32px;
              }
            }
            &-image {
              width: 8.9%;
              min-width: 65px;
              &:not(.my-vehicles-list-item-image) {
                width: 5.5%;
                min-width: 40px;
              }
            }
            &-model {
              width: 7%;
              min-width: 50px;
            }
            &-year {
              width: 5%;
              min-width: 40px;
            }
            &-nickname {
              width: 15%;
              min-width: 100px;
            }
            &-mileage {
              width: 9%;
              min-width: 80px;
              @media (max-width: 610px) {
                display: none !important;
              }
            }
            &-service {
              width: 10%;
              min-width: 70px;
              @media (max-width: 680px) {
                display: none !important;
              }
            }
            &-issues {
              width: 10%;
              min-width: 75px;
              @media (max-width: 760px) {
                display: none !important;
              }
            }
            &-meta-data {
              width: 22%;
              min-width: 160px;
            }
            &-settings {

            }
          }
        }
      }
      &-header {
        margin-bottom: 25px;
        padding-left: 20px;
        white-space: nowrap;
        transition: all 250ms $easeOutQuint;
        opacity: 0;
        transform: translateY(-100%);
        @media (max-width: 1000px) {
          margin-bottom: 15px;
        }
        @media (max-width: 540px) {
          display: none;
        }
        > * {
          display: inline-block;
          vertical-align: top;
          overflow: visible !important;
          font-family: $kia;
          &:not(.checkbox-toggle) {
            font-size: 10px;
            letter-spacing: 1px;
            color: #969696;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            transition: all 250ms $easeOutQuint;
            &[data-mixsort] {
              cursor: pointer;
              em {
                padding-right: 24px;
                display: inline-block;
                position: relative;
                &:before {
                  display: block;
                  content: "";
                  position: absolute;
                  top: 3px;
                  right: 0;
                  width: 24px;
                  height: 4px;
                  background: url('/images/icon_sort.svg') top center/contain no-repeat;
                  transition: all 250ms $easeOutQuint;
                  opacity: 0;
                  transform: scale(.5);
                }
              }
            }
            @media (max-width: 1000px) {
              font-size: 9px;
              em {
                padding-right: 15px !important;
                &:before {
                  width: 15px !important;
                }
              }
            }
            em {
              font-style: normal;
            }
            span {
              display: block;
            }
            &.active {
              color: $black;
            }
            &:hover {
              em:before {
                opacity: 1;
                transform: none;
              }
            }
          }
        }
      }
      &-view.active {
        .my-vehicles-list-header {
          opacity: 1;
          transform: translateY(0);
        }
        .my-vehicles-list-item {
          opacity: 1;
          transform: scale(1);
          @for $i from 1 through 100 {
    				&:nth-child(#{$i}) {
    					transition-delay: 50ms * $i;
    				}
    			}
        }
      }
      &-item {
        opacity: 0;
        transform: scale(.75);
        transition: all 250ms $easeOutQuint;
        background: $white;
        margin: 0px 0 3px;
        box-shadow: 0 1px 2px 0 rgba(39, 48, 59, 0.15);
        min-height: 80px;
        position: relative;
        width: 100%;
        padding-left: 60px;
        white-space: nowrap;
        overflow: hidden;
        &-mobile-header {
          display: none !important;
          > span {
            line-height: 1em;
            display: inline-block;
            position: relative;
            top: 10px;
          }
          em {
            display: block;
            font-size: 9px;
            letter-spacing: .2px;
            font: bold normal 9px $kia;
            text-transform: uppercase;
            color: $grey;
            margin-bottom: 3px;
          }
          strong {
            display: block;
            font: bold 12px $kia;
            letter-spacing: .3px;
          }
        }
        &-toggle {
          height: auto;
          line-height: 1em;
          position: absolute;
          width: 20px;
          height: 20px;
          background: url('/images/icon_down_arrow.svg') center no-repeat;
          top: 0;
          right: 20px;
          cursor: pointer;
          display: none !important;
          transition: all 250ms $easeOutBack;
          &.flip {
            transform: rotate(-180deg);
          }
        }
        @media (min-width: 540px) {
          .my-vehicles-list-item-meta-data {
            height: auto !important;
          }
        }
        @media (max-width: 540px) {
          &-toggle {
            display: block !important;
          }
          .cell-image {
            margin-right: 5px;
          }
          .cell-model,
          .cell-year,
          .cell-nickname {
            display: none !important;
          }
          &-mobile-header {
            display: inline-block !important;
          }
        }
        &.hide {
          display: none;
        }
        &:hover {
          .my-vehicles-item-edit {
            opacity: 1;
          }
        }
        > *:not(.my-vehicles-item-edit) {
          min-height: 80px;
          line-height: 80px;
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          letter-spacing: .6px;
          color: $grey_2;
          .no-cut-off {
            line-height: 1.25em;
            display: inline-block;
            vertical-align: middle;
            overflow: visible;
            white-space: normal;
          }
        }
        .my-vehicles-item-edit {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          @media (max-width: 540px) {
            top: 22px !important;
            transform: none;
            left: 18px;
          }
        }
        &-image {
          width: 80px;
          display: inline-block;
          vertical-align: middle;
          height: 100%;
          line-height: 80px;
          margin-right: 15px;
          img {
            width: 100%;
            object-fit: contain;
            vertical-align: middle;
          }
          @media (max-width: 540px) {
            padding-left: 10px;
            width: 90px !important;
          }
        }
        &-meta-data {
          padding: 20px 0 20px;
          margin-bottom: -10px;
          .meta-data-inner {
            height: auto !important;
          }
          @media (max-width: 540px) {
            display: block !important;
            width: 100% !important;
            min-width: 100% !important;
            margin-bottom: 0px;
            min-height: 0px !important;
            height: 0px;
            overflow: hidden;
            padding: 0 !important;
            opacity: 0;
            transition: all 250ms $easeOutQuint;
            &.show {
              opacity: 1;
            }
            .meta-data-inner {
              border-top: 1px solid rgba($grey, .3);
              padding: 15px 20px 10px;
            }
          }
          .car-meta-data {
            line-height: 1em;
            margin-bottom: 10px;
            font-size: 12px;
            letter-spacing: .3px;
            &.issues {
              display: none;
              @media (max-width: 760px) {
                display: block;
              }
            }
            &.next-service {
              display: none;
              @media (max-width: 680px) {
                display: block;
              }
            }
            &.mileage {
              display: none;
              @media (max-width: 610px) {
                display: block;
              }
            }
            em {
              font-style: normal;
            }
            @media (max-width: 1000px) {
              font-size: 11px;
              margin-bottom: 7px;
            }
          }
          &-actions {
            line-height: 1em;
            padding: 5px 0;
            .button {
              max-width: 100%;
              text-transform: none;
              font-family: $sans;
              font-weight: normal;
              font-size: 14px !important;
              height: 35px;
              line-height: 32px;
              letter-spacing: .4px;
              @media (max-width: 1000px) {
                height: 27px;
                line-height: 25px;
                font-size: 10px !important;
                max-width: 100%;
                padding: 0 10px;
                letter-spacing: .3px;
              }
            }
            a:not(.button) {
              display: inline-block;
              color: $red;
              font-size: 10px;
              text-transform: uppercase;
              letter-spacing: .3px;
              font-weight: bold;
              text-decoration: none;
              transition: all 250ms $easeOutQuint;
              position: relative;
              font-family: $kia;
              &:before {
                @include underline();
                transform: translate(-50%, 0px);
              }
              &:hover {
                &:before {
                  opacity: 1;
                  transform: translate(-50%, 3px);
                }
              }
            }
          }
        }
        &-settings {
          position: absolute;
          top: 50%;
          right: 35px;
          padding-right: 0px !important;
          display: block;
          transform: translateY(-50%);
          &-icon {
            svg {
              * {
                fill: $grey !important;
                transition: all 250ms $easeOutQuint;
              }
            }
            &:hover {
              svg * {
                fill: $black !important;
              }
            }
          }
        }
        @media (max-width: 1000px) {
          padding-left: 20px;
          &-settings {
            right: 20px;
          }
          > *:not(.my-vehicles-item-edit) {
            font-size: 11px;
          }
        }
        @media (max-width: 540px) {
          padding-left: 0px;
          &-settings {
            top: 3px;
            transform: none;
            right: 50px;
          }
        }
      }
    }
    .my-vehicles-map {
      &-view {
        opacity: 0;
        transition: all 650ms $easeOutQuint;
        transform: scale(1.25);
        transform-origin: top center;
        &.active {
          opacity: 1;
          transition-delay: 100ms;
          transform: none;
          .my-vehicles-map-view-note {
            transform: none;
            opacity: 1;
            transition-delay: 300ms;
          }
        }
        &-note {
          position: absolute;
          left: 0;
          top: 0;
          height: 30px;
          background: rgba($black, .8);
          line-height: 30px;
          width: 100%;
          z-index: 10;
          color: $white;
          text-align: center;
          font-size: 12px;
          letter-spacing: .3px;
          transition: all 250ms $easeOutQuint;
          transform: translateY(-100%);
          opacity: 0;
          strong {
            font-weight: 600;
          }
          em {
            font-style: normal;
            font-weight: 200;
          }
          @media #{$mobile} {
            font-size: 11px;
          }
        }
        #map {
          height: calc(100vh - 340px);
          width: 100vw;
          @media #{$mobile} {
            height: calc(100vh - 230px);
          }
        }
      }
    }
  }
}

.my-vehicles-nav {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 70px;
  background: $white;
  display: none;
  @media #{$mobile} {
    display: block;
  }
  &-title {
    font-size: 14px;
    line-height: 1em;
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    letter-spacing: .4px;
  }
  &-tools {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    > span {
      display: inline-block;
      margin: 0 15px;
      transition: all 250ms $easeOutQuint;
      cursor: pointer;
      pointer-events: all;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
    > div {
      cursor: pointer;
      color: $red;
      font-size: 11px;
      letter-spacing: .7px;
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top: 50%;
      left: calc(50% - 15px);
      transform: translate(-50%, 100%);
      font-weight: bold;
      opacity: 0;
      transition: all 250ms $easeOutQuint;
      pointer-events: none;
    }
  }
}

.editing {
  .my-vehicles-nav {
    &-tools {
      > span {
        opacity: 0;
        transform: translateY(-100%);
        pointer-events: none;
      }
      > div {
        pointer-events: all;
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
}
